[2016-08-17 14:45] jondeandres commented on #510
@lexelby we don't have a specific and official way to not report an error in a DelayedJob job. However you found a way you can use for it. You could just wrap your code in a block `Rollbar.silenced do`.

We have a section in the README dedicated to `Rollbar.silenced`, https://github.com/rollbar/rollbar-gem#silencing-exceptions-at-runtime. I'm not sure we should add that link in all sections in the

[2016-08-17 14:48] lexelby commented on #510
I did find that section of the docs (linked above), but only after I had decided on the terribly hacky method of using a dynamic level filter to silence the exceptions.  I was expecting to have to dig around in the Scope object to figure out if the exception was from the specific delayed job I wanted to silence.

I understand not wanting to link it everywhere, but as a (relatively new) rollbar-gem

[2016-08-23 18:20] phillipb opened #511 "Not able to filter out ActionController::Routing errors"
I've been trying to filter out routing errors, but haven't been successful. The stack trace appears to say the exception was ignored, but for some reason it still gets reported. I saw a strange `resuce` in `lib/rollbar/middleware/rails/show_exceptions.rb:23`, but I'm not familiar enough with the code to say that that's the issue.

Rollbar Initializer:
[code]

StackTrace:
[code]

[2016-08-24 13:00] longkt90 commented on #464
@jondeandres your branch works for me 👍 thanks

[2016-08-24 13:00] jondeandres commented on #464
awesome @longkt90, we'll try to merge and release in next days.

[2016-08-24 16:30] srg2k5 commented on #474
This relates to #511 .   The circumstance that I can elaborate is the 404 is an unhandled error if you don't have a route specified to catch the 404.  That error is being grabbed and ignored according to Rollbar output.   However, what I can tell is after that, if you have this enabled Rails.logger.extend(ActiveSupport::Logger.broadcast(Rollbar::Logger.new)) the error get's passed back through as

[2016-08-25 12:53] sheerun commented on #176
I get this issue as well for big JSON POST payloads

[2016-08-29 06:46] rassom commented on #464
Hi @jondeandres  Please let me know when you have merged and I will test on my end too :)

[2016-08-30 23:23] brianr commented on #98
Closing this out; this was requested once long ago and hasn't been since. Please comment if you'd use this :)

[2016-08-30 23:23] #98 closed

[2016-08-31 13:56] #462 closed

[2016-09-05 00:04] dgilperez commented on #193
Superb job @ianheggie! Did you eventually get a running solution? I also have a new old rails 2 app to maintain :)

[2016-09-08 07:44] longkt90 commented on #464
@rassom It's merged to master 1 week ago, not sure when will it be released. I think it's an important issue. https://github.com/rollbar/rollbar-gem/pull/503

Btw deleted your branch broke my builds @jondeandres

[2016-09-09 11:47] jondeandres commented on #511
@phillipb can you check if the rollbar middleware is being executed for those `ActionController::RoutingError`? It looks like the middleware may not be added in the correct position in the middleware chain.

[2016-09-09 11:49] #510 closed

[2016-09-09 11:50] jondeandres commented on #464
Hi,

we'll try to release a new version today. We were waiting to close few other issues so we had a release with more bugfixes. @longkt90 sorry to hear your builds broke :disappointed:, you can use master branch if you prefer now.

[2016-09-15 02:31] grosser opened #524 "should not load rake when not needed"
https://github.com/rollbar/rollbar-gem/blob/v2.12.0/lib/rollbar/plugins/rake.rb#L2

always loads rake, which adds another .1s to our apps load time ... can we make this only patch when rake was already defined ? (for example user is actually running rake)

[2016-09-15 02:33] grosser commented on #524
I think this was added via https://github.com/rollbar/rollbar-gem/pull/485 ... @jondeandres

[2016-09-15 14:15] jondeandres commented on #524
@grosser thanks for reaching us and open this issue. I'm not sure what to do here. Few customers had problems cause they didn't have `Rake` loaded, so we decided to try to load it by ourself. I understand your point and we are thinking on this.

We were thinking on something like `config.disabled_plugins = ['rake']`, but you'd need maybe to detect what to add to that array and it could be complex

[2016-09-15 16:33] grosser commented on #524
I think the correct solution is to silently not enable the plugin ... I don't think many users load rollbar and then load a rake task and then execute it ... it looks like the issue was opened because rollbar was spamming stderr when it should have kept silent ?

[2016-09-15 16:33] grosser commented on #466
@TravisSperry did you just want to get rid of the warning or were you actually trying to use rake with rollbar without using `rake` ?

[2016-09-15 16:35] TravisSperry commented on #466
Just the warning.

Travis Sperry
travis.sperry1@gmail.com

[2016-09-15 16:35] jondeandres commented on #524
@grosser well, we have several customers having long or short rake processes where they use Rollbar. And they want to identify when a rake task failed.

We are thinking on what to do here, thank you very much for your opinion.

[2016-09-15 16:42] grosser commented on #524
... alternatively a disabled_plugins flag would also work ... just sad to see another one of these 'require everything' points ... just noticed because we have some load tracking in our app to notice them ...

[2016-09-16 12:17] jondeandres commented on #236
@kushkella can we know exactly how is your app setup? Which middleware are you using to report errors to Rollbar? It looks like the order of middlewares is not correct and that error is happening before we can wrap the execution flow in our middleware.

[2016-09-16 12:36] jondeandres commented on #236
I've been trying to reproduce this with this code:

[code]
Running `curl http://localhost:9292\?foo\=bar` I can see the error report in https://rollbar.com/Rollbar/rollbar-gem/items/6842/.

I think what is happening with your configuration is that the Rollbar middleware is after the sendfile middleware. We would need more details about how are you adding the middlewares to the chain.

[2016-09-16 15:07] #63 closed

[2016-09-16 15:11] jondeandres commented on #111
fixed with https://github.com/rollbar/rollbar-gem/pull/489

[2016-09-16 15:11] #111 closed

[2016-09-16 15:16] jondeandres commented on #163
I've tested this locally:

[code]

I think this is not too much time. If anyone detects it's taking a long time, please share your loading results and we can figure out what is happening.

[2016-09-16 15:16] #163 closed

[2016-09-16 15:21] jondeandres commented on #200
I'll close this since I was able to make it work. It may be a OSX issue. Let's close this since seems it's not giving problems.

[2016-09-16 15:21] #200 closed

[2016-09-16 15:21] jondeandres commented on #236
I'll close this since it's not a problem with the gem itself, but in the order the users add the middleware.

[2016-09-16 15:21] #236 closed

[2016-09-16 15:23] jondeandres commented on #241
This can be resolved with https://github.com/rollbar/rollbar-gem#transform-hook.

[2016-09-16 15:23] #241 closed

[2016-09-16 15:23] jondeandres commented on #248
This is fixed in https://github.com/rollbar/rollbar-gem/pull/503.

[2016-09-16 15:23] #248 closed

[2016-09-16 15:24] jondeandres commented on #271
We changed how the session data is sent and we think that was the cause of the problem cause some bugs in ActiveSupport and `to_json`. I'll close this since it's not reported in a long time.

[2016-09-16 15:24] #271 closed

[2016-09-16 15:25] jondeandres commented on #275
This can be done now easily with https://github.com/rollbar/rollbar-gem#override-configuration. Closing the issue.

[2016-09-16 15:25] #275 closed

[2016-09-16 15:29] jondeandres commented on #294
@Senjai did you find any solution you are comfortable with? We think, if you want to use this module, just pass `{}` as the env. This module was thought to be used in our Rack based middlewares.

[2016-09-16 15:29] #294 closed

[2016-09-16 15:30] jondeandres commented on #314
Closed by https://github.com/rollbar/rollbar-gem/issues/322

[2016-09-16 15:30] #314 closed

[2016-09-16 15:31] jondeandres commented on #327
@MaicolBen the logic we use to extract that date comes from:

[code]

It should't give problems since we rescue the exceptions. Could you investigate farther what is happening in your side?

[2016-09-16 15:31] #327 closed

[2016-09-16 15:33] jondeandres commented on #334
This is fixed now and users should be able to customize the scope since now it's merged at once.

[2016-09-16 15:33] #334 closed

[2016-09-16 15:36] #456 closed

[2016-09-16 15:39] #464 closed

[2016-09-16 15:56] jondeandres commented on #511
@phillipb if you have `Rails.logger.extend(ActiveSupport::Logger.broadcast(Rollbar::Logger.new))` in the config, you will log something like https://rollbar.com/Rollbar/rollbar-gem/items/6846/. That is because `Rollbar::Logger` doesn't receive the exception, but just the message and the level. We cannot filter the logs.

So, you are filtering the exception report itself, but not the log. We can't

[2016-09-16 15:56] #511 closed

[2016-09-16 15:57] #507 closed

[2016-09-16 16:04] #504 closed

[2016-09-16 16:39] jessewgibbs opened #529 "Testing Slack integration"
Hello world

[2016-09-16 16:41] #529 closed

[2016-09-16 16:42] jessewgibbs commented on #529
Will this show up in notifiers?

[2016-09-16 16:46] jessewgibbs opened #530 "Another test issue"

[2016-09-16 16:47] jessewgibbs commented on #530
This should trigger a notification

[2016-09-16 16:47] #530 closed

[2016-09-19 13:59] KonstantinReido commented on #524
It broke the logic of our application: `!defined?(::Rake)` now always false :(

[2016-09-19 14:10] jondeandres commented on #524
@KonstantinReido sorry, I didn't get that. Which problem you have or you had?

[2016-09-19 14:46] jondeandres commented on #524
@KonstantinReido I still don't understand how we broke your application. requiring `rake` broke your app?

[2016-09-19 15:24] KonstantinReido commented on #524
We have code in initializers that shouldn't run during migration so we added next condition `if Rails.env.production? && !defined?(::Rake)` but after update of rollbar gem now `defined?(::Rake)` always true.

[2016-09-19 16:12] grosser commented on #524
I'd guess the app checks if `defined?(Rake)` to see if it is running via
rake or not

On Mon, Sep 19, 2016 at 7:46 AM, Jon <notifications@github.com> wrote:

[2016-09-20 09:06] morgoth opened #531 "Ignored errors raised in ActiveJob are reported to Rollbar"
I have config:

[code]

which is not respected in AJ jobs (where they are raised)

I believe this is because (from readme):

and in AJ plugin there is https://github.com/rollbar/rollbar-gem/blob/c85d1b76b560f3d1e07a6be4f3e6fbbdf9fd710c/lib/rollbar/plugins/active_job.rb#L6

which is a direct call.

I would expect this filtering work in AJ as well.

[2016-09-20 09:08] jondeandres commented on #531
Hey @morgoth, you are right. We should be using this:

[code]

We'll fix this soon

[2016-09-20 10:41] rassom commented on #464
@jondeandres Just tested and master (2.13.0) works for me 👍

[2016-09-20 10:42] jondeandres commented on #464
awesome @rassom, thank you very much for your help!

[2016-09-20 10:44] rassom commented on #464
@jondeandres You too! :)

[2016-09-21 13:39] florish commented on #499
Just to inform others: I'm running into a similar issue just now, with the cause being a `before_action` doing an authentication check, in my case using the `devise` gem. The 401 response generated by this also gives the "Test failed!" message when running `rake rollbar:test`.

[2016-09-21 16:14] Senjai commented on #294
@jondeandres The env should just be the last argument, as with most exception reporting libraries. The only thing actually required is the exception itself and the configuration to associate the acception with the rollbar account.

I do think there is value in makine the exception reporter a supported interface. The way you can fix this if you choose to is to deprectate the method, write a new met

[2016-09-21 16:28] #499 closed

[2016-09-21 16:30] jondeandres commented on #499
Hi, I've just pushed a commit making the test controller we build to inherit from `ActionController::Base`. I think your problems should be fixed. I've released v2.13.1 with this fix and few minor fixes we pushed last week.

Thanks both.

[2016-09-22 06:36] florish commented on #499
@jondeandres Thanks for fixing this! I can confirm this fixes the issue I had, both errors generated by `rake rollbar:test` now get reported.

[2016-09-26 13:01] #531 closed

[2016-09-28 10:56] ianheggie commented on #193
Yes, it works well enough (A few little niggles, but I am happy to share the code) - and re new/old rails 2 - I have two clients on 2.3.18 LTS - and I can see them staying on it because the cost to upgrade and keep upgrading would be too much.

[2016-09-28 12:58] dgilperez commented on #193
I'd love to see that final code if I may 😄

[2016-09-28 14:01] plentz commented on #497
@jessewgibbs @jondeandres same thing. If I include directly @CreateTenantJob, it works. including only @ ApplicationJob not.

[code]

[2016-09-28 14:15] plentz opened #534 "Problem with rails validations @ 2.13.2"
The rails 5 default validation for `belongs_to` being required(unless you use `optional: true`) stop working when updating from `2.12.0` to `2.13.2`

[code]

this test fails using `2.13.2` and works using `2.12.0`

[code]

[2016-09-29 17:38] jondeandres commented on #534
@plentz I'm not sure exactly which relation this has with the gem. Can you please explain farther? Thanks!

[2016-09-29 18:00] plentz commented on #534
@jondeandres I know, it's super weird (it took me a few hours to figure it out that was rollbar that was generating this error). Basically what happens: rails 5, by default, requires `belongs_to` to be not null(unless you sai that it's `optional: true`). That test was written to ensure that the validation still happens. After updating rollbar, the test started to fail, since the record now reports

[2016-09-29 18:09] jondeandres commented on #534
so weird yes...I'll need to debug this more. if you find something else about validations share it here please.

[2016-10-02 07:11] sandlerr commented on #487
@jondeandres just wondering why this was closed? It looks like this still needs to be manually included?

[2016-10-03 17:20] jondeandres commented on #487
@sandlerr you are right, reopening. Thanks!

[2016-10-06 17:40] mikefarmer opened #536 "Rollbar.js could not be added because undefined local variable or method `result' for #<Rollbar::Middleware::Js:0x00000008c965f0> exception"
It looks like there is a bug in the 2.13.2 build of the rollbar gem at line:

https://github.com/rollbar/rollbar-gem/blob/bf6d439be15455b557886fc73304ba00303aa278/lib/rollbar/middleware/js.rb#L72

`result` should be `app_result`

I am getting an error:
`[Rollbar] Rollbar.js could not be added because undefined local variable or method `result' for #<Rollbar::Middleware::Js:0x00000008c965f0> except

[2016-10-06 18:18] jondeandres commented on #536
Hi @mikefarmer, thank you very much for opening this issue and sorry for this bug. We'll release a new version in few minutes.

[2016-10-06 19:08] #536 closed

[2016-10-06 19:44] jondeandres commented on #536
@mikefarmer we released version 2.13.3 of the gem. let me know if you have any other problem.

thanks again!

[2016-10-06 20:31] mikefarmer commented on #536
Awesome! Thanks all!

[2016-10-06 21:21] s2t2 commented on #176
Hi, I'm seeing frequent occurrences of the following error:

    Failsafe from rollbar-gem. Could not send payload due to it being too large after truncating attempts. Original size: 221390 Final size: 200469

Is there a recommended fix to stop these errors from occurring?

Thanks!

[2016-10-06 21:29] grosser commented on #176
make a PR here that fixes it ... the get it merged and deployed :trollface:

[2016-10-06 22:19] jondeandres commented on #176
@s2t2 we send the payload to the logger in this cases with this code:

`logger.error("[Rollbar] Payload too large to be sent for UUID #{uuid}: #{Rollbar::JSON.dump(payload)}")`

Maybe knowing how your payload is, we can try to add a new truncation strategy for you.

BTW, seems that your paylopad is 216kb. We increased the max payload size to 512kb in 2.13.0 version. You can upgrade the gem and che

[2016-10-07 09:29] rusikf opened #538 "How to raise exception in development ?"
Hello ruby hackers!
Example:
[code]
It works great in production, but how to raise exception in development?
I disabled rollbar in rollbar config ( initializer)

Of'course I can add `raise(error) if Rails.env == 'development'` after each Rollbar.error(error) but there are a lot of cases in project, where I use it, so I don't won't to copypast

[2016-10-07 17:47] jondeandres commented on #538
Hi @rusikf, do you mean that in development `Rollbar.error(error` doesn't work? You has said you've disabled Rollbar in the initializer. You should enable it.

I'm not sure about what exactly do you need to do in development. It'd be awesome if you can explain a bit more.

Thanks!

[2016-10-07 19:16] rusikf commented on #538
Ok, sure - In development mode I don't need to send stats to rollbar.com.I
want , that exception will be not catched, it will be raise as default
exception, so I will see what happened.

пт, 7 окт. 2016, 20:47 Jon <notifications@github.com>:

[2016-10-07 19:19] jondeandres commented on #538
Hi @rusikf, this is not really a rollbar-gem related issue. In your rescue block you are swallowing the exception and you don't want to do it for development.

You can have a method likethis:

[code]

So you can use it like this:

[code]

[2016-10-07 19:19] #538 closed

[2016-10-12 20:54] spdawson opened #539 "Failure to add rollbar.js to page"
I am seeing the following in my Rails production log, using v2.13.3

[code]

This is after upgrading `secure_headers` from v3.4.1 to v3.5.0 --- the `current_csp` method has been removed. Overall, I can't help feeling that the `secure_headers` integration in the Rollbar gem is just trying to be a little too clever. I would much prefer to see a configuration option to disable the use of script nonce

[2016-10-24 17:55] benprew opened #540 "custom hostname"
We run AWS EC2 instances and their hostnames aren't very descriptive, so we have a custom hostname variable that we use for syslog logging, identification, etc.

Currently, when rollbar sends a message it uses `Socket.gethostname` to get the hostname, but I'd like to be able to set a custom hostname, when configuring rollbar: i.e.

[code]

Looks like it's easy enough to change the `server_data` me

[2016-10-24 17:57] brianr commented on #540
That seems reasonable to me. I would call it `config.host` rather than `hostname` to align more closely with our other libraries (and with the field name in the API).

@jondeandres any concerns?

[2016-10-25 10:49] jondeandres commented on #540
@benprew that's a great idea. This would need just add a new accessor to `Rollbar::Configuration` and use it in `Rollbar::Item#server_data`.

[2016-10-26 22:37] ajw725 opened #541 "rake rollbar:test fails, but rollbar integration is successful"
i'm not sure whether this is an issue somewhere on our end or with rollbar itself, so i apologize if it's not a real issue, but we're running into a bit of an interesting situation. we've used rollbar successfully on several projects in the past, and this is the first time this has happened.

install and config were all normal. ```rake rollbar:test``` looked like this, however:
[code]

gem info:

[2016-10-27 10:01] jondeandres commented on #541
Hi @ajw725, I think we've seen something similar before. Can you try removing web-console from your Gemfile? I think it's a problem between the ruby version and web-console.

[2016-10-27 15:09] ajw725 commented on #541
interesting...that seems to have worked. web console actually wasn't working with our server setup anyway, so we probably should have ditched it a while ago.

thanks! closing the issue.

[2016-10-27 15:09] #541 closed

[2016-10-27 15:22] jondeandres commented on #541
Thanks to you @ajw725, if you have any other issue please ping us.

[2016-11-03 06:54] djurre commented on #139
@jondeandres Whitelisting parameters would be useful for us as well, has there been any progress on this?

[2016-11-03 12:41] jondeandres commented on #139
Hey @djurre, we didn't progress yet on this, but we are trying to prioritize it. Once we work on it we'll ping all of you.

Thanks pushing this!

[2016-11-07 18:22] cforcey commented on #176
@jondeandres Thanks so much for your increase to the payload -- we are upgrading and will let you know if the new limit helps.  Our error occurred when we get an extra large JSON post to our API and our application times out processing it.  We then catch the RackTimeout error and the json API seems to be included in the backtrace

[code]

Thanks so much for this fast response!  Charlie

[2016-11-08 16:27] rebelweb opened #542 "DNS Timeout Issues"
I am experiencing an issue with gem when reporting using sidekiq. What happens if DNS is not responding properly or configured at all (I have had both happen),  it causes a timeout issue, and tries to resend the issue again, but it appears it is now sending 2 issues the Timeout issue and the original issue. This issue keeps growing until disk space or memory is fully consumed.

I have included bas

[2016-11-08 21:32] jondeandres commented on #542
Hi @rebelweb, thanks for opening the issue with the detailed reproduction steps. We'll try to do something on this soon. We'd need to make our reporting job configurable so users can configure to report those errors or not.

You can for now monkey patch `Rollbar::Delay::Sidekiq#perform`. You can rescue all exceptions when calling the original method, and then inspect the received args. Identify if

[2016-11-09 04:44] venkat-rg opened #543 "How to disable all exceptions except one in rollbar"
Hi,

We have added a rails gem for tracking N+1 queries to our development environment. We would like to track only errors that we get from this gem and want to completely ignore all other exceptions. I have come across something like this: 'config.exception_level_filters.merge!('ActiveRecord::RecordNotFound' => 'ignore'), but this is not going to be that useful as it is practically impossible to

[2016-11-09 16:33] jondeandres commented on #543
@venkat-rg thanks for writing here. Are you the owner of the gem you want to monitor?

First you should remove the middleware that we add into the Rails middleware chain, so automatic errors are not reported. Done this, I think you should monkey patch all the methods from that gem that you want to track.

You can write a module that will monkey patch all the methods you need, call `super` in a `be

[2016-11-10 09:11] fguillen opened #544 "warning: method redefined; discarding old use_eventmachine="
Any idea how to solve these warnings?

[code]

[2016-11-10 10:28] halacheva opened #545 "Rollbar hits "stack level too deep" when context contains ActiveRecord class"
Hey, I found out that Rollbar seems to loop endlessly when an exception report is sent with context that contains ActiveRecord class.

I am using DelayedJob and encountered the issue when the jobs started to hang and take up the whole memory. The jobs were failing and got stuck during attempt to send report to Rollbar. It turned out that a failed job scheduled on a ActiveRecord class method like t

[2016-11-12 15:38] spdawson opened #546 "Middleware inserts JavaScript before charset meta tag"
According to e.g. [this](https://www.w3.org/International/questions/qa-html-encoding-declarations.en), the `charset`-declaring `<meta>` tag must occur entirely within the first 1024 bytes of the document.

However, the Rollbar middleware inserts the JavaScript tags immediately after the opening `<head>` tag; this causes validation errors for HTML documents that include the auto-inserted Rollbar Ja

[2016-11-24 22:50] dsander commented on #534
I noticed that behavior as well and did a bit of bisecting. The commit that introduced the bug is 84b95ea202aacda18c8acfc085906d2e11437b80.
@jondeandres If you are looking for a way to reproduce it clone `https://github.com/dsander/huginn.io`, switch to the `add-rollbar` branch,  update the rollbar gem and run `rspec ./spec/models/scenario_spec.rb:19`

[2016-11-26 10:36] dsander commented on #534
It looks like not the code is causing the error, but using `ActiveRecord::Base` seems to trigger rails auto loader which then messes with some other modules. Calling the code in an ActiveSupport callback fixes the issue for me:

[code]

[2016-11-26 19:30] jondeandres commented on #534
Hey @dsander, thank you very much for investigating this! Let me try it and checking everything is ok and we will push a fix with this.

Thanks!

[2016-11-27 17:32] jondeandres commented on #534
I've been thinking about this. The code in `validations.rb` includes a module in `ActiveModel::Validations`, but if `ActiveRecord::Base` is already defined, we need to include it in `ActiveRecord::Base` itself, since it has `ActiveModel::Validations` already included on it.

Doing the check inside the `on_load(:active_support)` callback means that `ActiveRecord` is obviously loaded and defined. Bu

[2016-11-28 14:17] jondeandres commented on #545
Hi @halacheva, sorry for the delay. An issue like this has been reported before, and I concluded that the problem is between `ActiveSupport::JSON` and `ActiveRecord::Base`. We'll try to find a workaround for this, but I guess, for now, the recommended use is just try to avoid passing `ActiveRecord::Base` subclasses.

We'll reach you here when we find something. Thank you very much @halacheva!

[2016-12-01 16:05] #543 closed

[2016-12-01 16:06] #446 closed

[2016-12-01 16:09] jondeandres commented on #544
@fguillen I don't have any of this right now. Are you monkey patching our gem somewhere?

[2016-12-01 17:39] metaskills commented on #249
Thanks for that feedback @grosser - always good to find you around with top advice :)

I do agree that the nested hashes are kind of dirty, but it looks clean when using Hash#dig for those on later versions of Ruby. Same agreement on the usage of exceptions for control flow. That said, I am going to use that interface vs the sweet freedom patch you suggested with the idea being that this processin

[2016-12-01 17:50] grosser commented on #249
looks about right ... but prefer a `throw` ... or a `return Rollbar::Ignore` or a `return false` to make this cheaper

[2016-12-01 17:53] grosser commented on #249
.... misread your comment ...

exception_level_filters would be nice ... but could be as simple as allowing `return false` from before_process ...

it should happen no matter what the use_async setting is, not sure why that is important

[2016-12-06 23:06] stclairdaniel commented on #546
Thanks for bringing this to our attention. We'll take a look at it and get back to you with more information.

[2016-12-06 23:08] stclairdaniel commented on #539
Thanks for bringing this attention as well. We'll look into this and get back to you soon. Sorry for the delay.

[2016-12-07 09:44] fguillen commented on #544
@jondeandres no I am not.

More info:

[code]

_For my reference this is the PP project_

[2016-12-08 21:13] zakthompson commented on #486
Sorry for necro-ing, but I'm actually experiencing something very similar - and we are using asynchronous reporting via DelayedJob.  However, this call doesn't appear to be async, and appears to hang until it times out.

<img width="1158" alt="screenshot 2016-12-08 16 10 49" src="https://cloud.githubusercontent.com/assets/1450527/21027917/eacb0822-bd60-11e6-8614-69980348ae98.png">

I'm wondering i

[2016-12-14 18:15] jondeandres commented on #544
Hi @fguillen, and you stubbing at some point something related to Rollbar on those tests? It seems it may be something with that?

[2016-12-14 18:52] jondeandres commented on #486
Hi @zakthompson, thanks for the report. It's quite strange having that duration time on our call. Are you sure the time you are wasting is in the middleware itself?

Did you try running the on-live profiler that New Relic has? That will give you accurated stats about the time you are wasting on each method.

[2016-12-14 18:59] fguillen commented on #544
Hi @jondeandres I managed to reproduce the issue in the smallest version of my project possible:

- https://github.com/fguillen/RollbarWarningTest

Try to

    bundle install
    rake

When I do this I see:

[code]

[2016-12-15 05:44] jondeandres commented on #544
awesome @fguillen! we'll take a look soon

[2016-12-15 14:24] dcarral opened #551 "rollbar-rails-runner doesn't support same parameters as Rails runner"
The suggested way to specify an environment for the runner command, according to [Rails docs](http://guides.rubyonrails.org/command_line.html#rails-runner), is:

However, `rollbar-rails-runner` doesn't support this. In order to specify an environment, users need to set the `RAILS_ENV` environment variable.

Would be possible to support the exact same parameters as Rails runner does?

Thanks in adv

[2016-12-15 14:25] jondeandres commented on #551
Hey @dcarral, that's a nice request. We'll try to fix that as soon as possible.

Thanks!

[2016-12-17 03:49] Waseem-Q opened #553 ""person" incorrect for a Delayed::Job uncaught exception"
My "person" reported is incorrect - since the operation is a Delayed::Job, they cannot access the controller's `current_user` nor would that make sense. I'm not sure how this is being set to someone, but it's definitely misleading.

For example, today an error occurred for a user on the 2nd day for a notice which is explicitly sent on the 6th day (which I can see is still queued to run in 4 days).

[2016-12-19 11:24] jondeandres commented on #553
@Waseem-Q can you give us more details about this? Are you talking about a web request that generates an error that is enqueued into to delayed_job? Or are you talking about a delayed_job job that is failing?

Thanks.

[2016-12-19 17:50] jondeandres commented on #371
@muyexi did you have a chance to get a backtrace for this error? Thanks!

[2016-12-20 17:59] #534 closed

[2017-01-02 21:24] #384 closed

[2017-01-03 17:52] #540 closed

[2017-01-03 21:04] benprew commented on #540
Thanks for getting this added guys, sorry I haven't had a chance to reply.  We'll start using it right away.

[2017-01-05 06:39] levent commented on #534
Version 2.14.0 seems to have introduced a similar issue with has_many through associations. I will try and find time to investigate this.

[2017-01-25 12:54] markoudev commented on #539
The lastest release of the Rollbar gem `2.14.0` doesn't seem to fix this. Are there any plans on fixing this in the next release?

Using `rollbar-2.14.0` and `secure_headers-3.5.1`.

[2017-01-25 18:49] stclairdaniel commented on #539
Sorry for the delay. We expect to work on SecureHeaders and the Rollbar gem soon.

[2017-01-31 13:37] robin850 commented on #544
Hi there !

Actually, reproducing the problem is as simple as doing `ruby -w -e 'require "rollbar"'`. A part of the warning has been fixed in https://github.com/rollbar/rollbar-gem/commit/482ff25d318c4e3287360cf2dc8dedc24d89190b but the problem is still visible in @fguillen's project as its `Gemfile.lock` files points to 2.13.3 but this fix is part of 2.14.0.

I don't know how you want to fix that

[2017-01-31 13:50] jondeandres commented on #544
Hey @robin850, thanks for writing here. Which warning you comment is still in rollbar/notifier.rb? I've checked this and I think we still need to remove a warning related to a not initialized `@root_notifier` variable.

We suggest to upgrade always to the latest version, since we rarely write patches for previous versions.

BTW, this PR should remove that last warning on `@root_notifier`, https://

[2017-01-31 13:54] robin850 commented on #544
@jondeandres : Yeah, actually I'm not using this gem, just commenting since Redcarpet had a similar issue and it was reported by @fguillen as well. :p Actually I forgot to check with 2.14.0 before commenting but you're totally right, the `@root_notifier` warning is the only one remaining. 👏

[2017-02-02 10:51] inquisitivus opened #563 "queue name when async through dj"
Hi!
Is there any way to specify delayed_job queue name for async submissions?
Something like `config.use_resque :queue => 'my_queue'` for Resque.

[2017-02-02 18:44] jondeandres commented on #563
Hey @inquisitivus, thanks for writing. For resque you can just use `config.use_resque` for the default queue, or you can set the queue as you suggest: `config.use_resque :queue => :my_queue`.

[2017-02-02 18:55] jondeandres commented on #563
@inquisitivus sorry, I though you were asking for resque and not delayed_job.

Currently we don't support named queues for DJ, we'll do this soon. Until we fix this and release a new version of the gem, you can have the same behavior using this snippet:

[code]

Ping us if you have any problem with it and we'll help you. Thanks!

[2017-02-02 19:35] jcmuller commented on #539
I found the issue, or at least for us: we have secure headers, but we don't use CSP. A fix that works for us is here: https://github.com/rollbar/rollbar-gem/pull/565/files

[2017-02-03 06:52] inquisitivus commented on #563
Thanks!

[2017-02-03 06:52] #563 closed

[2017-02-12 05:26] santi-h opened #568 "Stack trace not displayed when calling Rollbar.error("message")"
Doing
[code]
produces an item like this:
<img width="1280" alt="screen shot 2017-02-11 at 11 08 46 pm" src="https://cloud.githubusercontent.com/assets/876161/22859829/8b8bb9c4-f0af-11e6-9e52-4bbbded3beca.png">

Seeing an item like this without a stacktrace gives us many difficulties:

- I have to search throughout our entire code base for strings like `"TLE PDF Attachment => [ERR] Failed to create

[2017-02-12 05:40] jondeandres commented on #568
Hi @santi-h, thanks for opening this issue.

We have a configuration option `config.populate_empty_backtraces` that popualtes the backtrace for not rescued exception, ex: `Rollbar.error(Exception.new(message))`. I know this is not the same, but is something. The code for this is https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/item/backtrace.rb#L92-L99.

The logic you have in your ge

[2017-02-14 13:02] tisba opened #569 "add helper to inject Rollbar.js configuration and snippet"
The magic that is used in the middleware is quite scary and does not allow where the snippets gets injected. We wrote a very simple application helper to have more control over when and how the code for Rollbar.js gets injected.

It would be nice, if the `rollbar-gem` could provide a helper itself to do that.

[2017-02-15 05:34] jondeandres commented on #569
@tisba is in our roadmap improving the rollbar.js integration in the gem, but we'd like continuing with this automatic injection. We can provide eventually a flag to add or not automatically and then use a helper, yes.

[2017-02-27 16:00] fguillen opened #572 "How to send more details about the Exception to the Rollbar interface"
When I run this script:

[code]

I get a Rollbar item occurrences as this:

- https://rollbar.com/demo/demo/items/1285/occurrences/22065716012/

I see the `message` of these exceptions but I don't see the `details` what in my production App is the most important information.

I have to explicitly communicate to `Rollbar.error` to extract this `details:

[code]

This will generate occurrences as th

[2017-03-04 14:09] simonc opened #573 "Reporting error "can't modify frozen SystemStackError""
For some time now I've been facing the recurring issue of items named

[code]

I tried to track were the issue happened and found that it's located around the call to `MultiJson.dump` but I don't know if it comes from what's given to Rollbar to report or something else 😕

The issue happens with
• Rails 4.2.7.1 and 5.0.1
• Ruby 2.3.3 and 2.4.0
• Rollbar 2.13.5 and 2.14.0
• MultiJson 1.12.1
• Oj and

[2017-03-08 21:59] spdawson commented on #569
scary/fragile indeed; :+1: for being able to control this

[2017-03-08 22:05] spdawson commented on #539
An alternative workaround is to monkey patch Rollbar to kill the script tag nonces; add the following to e.g. `config/initializers/rollbar.rb`

[code]

[2017-03-17 17:58] swistak commented on #569
:+1: I've stumbled upon this issue while trying to find how to even put that snipet there.

[2017-03-22 09:07] jalada opened #577 "Sidekiq + Rollbar + DNS failure"
I had a situation where DNS resolution on my server failed and that seemed to trigger a cascade of Sidekiq jobs; because the Rollbar reporting job would fail to resolve `api.rollbar.com`, the failsafe would queue up another job, along with the existing retrying job, resulting in lots of lines like:

[code]

I'm trying to understand if this is a bug, or a mis-configuration on our part. I've attempt

[2017-03-23 09:42] jalada commented on #577
I think I've worked out why this is happening:

1. Exception is raised, causing a notification job to be queued.
2. `process_from_async_handler` tries to report the notification, but fails, so `report_internal_error` is called.
3. `report_internal_error` tries to build a new item to send immediately, but that also fails, triggering `send_failsafe`.
4. `send_failsafe` queues up another asynchronous

[2017-03-23 21:41] ilyapoz commented on #577
I had the exact same incident a couple of days ago, Mar 22, 4:24 UTC
At 5:23 my redis server's memory was depleted so sidekiq lost connection and no events were actually submitted to rollbar, otherwise that would devastate my plan's monthly limit :)

rollbar api status page http://status.rollbar.com/#week indicates no downtimes so I have to assume this is a coincidence and my hosting provider had

[2017-03-23 22:54] sumeet opened #578 "Reporter relies on ActiveSupport but it's not a dependency"
This code calls `present?` which is from ActiveSupport (https://github.com/rollbar/rollbar-gem/blob/368445ac9c15f883cd92eb427458ff1173ae1c51/lib/rollbar/item/frame.rb#L108):

[code]

We fixed this in our project by bundling ActiveSupport. Should rollbar-gem include this as a dependency?

[2017-03-23 22:56] jondeandres commented on #578
Oh...sorry @sumeet. We should fix this. Our idea is not having active_support as dependency. Thanks for the report.

[2017-03-23 23:00] ian952 commented on #578
It seems that is also using `JSON` in ActiveSupport as well.

[2017-03-23 23:01] jondeandres commented on #578
@ian952 `JSON` is not a dependency from active_support. Can you explain further that?

[2017-03-23 23:05] ian952 commented on #578
I was getting this error before requiring `active_support/all`
[code]

[2017-03-24 12:04] jondeandres commented on #578
Hi @ian952, that is interesting and seems that maybe something in active support has been partial loaded. Do you have a way to get that backtrace and share it? The Gemfile you are using can be also helpful.

You can write to support@rollbar.com if this information is sensible.

[2017-03-27 19:16] dignoe opened #580 "JS doesn't automatically include user information"
According to the standard config (rollbar.rb)...

But I'm not getting any user information in my JS errors, even though `current_user` returns the `User` object of the signed in user with access to `id`, `username`, and `email`.

How do I get this to work? Do I have to explicitly add the following JS code to each page?
`Rollbar.configure({payload: {person: {id: 12345, email: 'stewie@familyguy.com'

[2017-03-27 19:23] dignoe commented on #580
Also, is it possible to include a `proc` in the rollbar.rb config file that has access to the current controller object? So that I could do something like...

[code]

[2017-03-28 12:19] ilyapoz commented on #577
Based on code (Rollbar.silence) this should not happen. I think we have to try to reproduce this somehow.

[2017-04-08 00:54] coryvirok opened #583 "Missing coverage in Codacy"
https://codeclimate.com/github/rollbar/rollbar-gem

Looks like @jondeandres had this working at one point or at least tried to get it working.

[2017-04-11 06:44] bjeanes opened #584 "Failsafe from rollbar-gem"
About 60 minutes ago I started seeing this show up continuously:

[code]

There is no stack trace.

Recent deploys don't have anything suspicious (just changing an AR scope and a regex in a string filter of sorts).

The only correlating thing seems to be a huge spike in a specific exception I'm seeing (postgres deadlocks).

[2017-04-11 08:16] bjeanes commented on #584
Elaboration on why there might be a correlation to increased error rate (or perhaps it just maximises the chances of experiencing the bug):

![2017-04-11 at 6 15 pm](https://cloud.githubusercontent.com/assets/2560/24899262/f913728c-1ee2-11e7-8a04-7f4d2bf8d032.png)

[2017-04-11 08:18] bjeanes commented on #584
I _think_ this might be due to some data that Rollbar is trying to encode being a `Nokogiri::XML::Element`. This deadlock error is happening in a background job (which predates me so I don't fully understand it) that is passing XML nodes around.

Is there any way I can get more information on the root cause here?

[2017-04-11 11:09] bjeanes commented on #584
I've dug into this enough to determine that this is not a problem with Rollbar.

[2017-04-11 11:09] #584 closed

[2017-04-12 13:56] #578 closed

[2017-04-19 12:04] erated opened #587 "allow configuring exception level filters:true/false as a global setting for manual reporting"
Hi there,
Currently if we manually report an issue through Rollbar.error(e), if we want Rollbar to take into consideration our exception level filters, we need to add a silly flag (:use_exception_level_filters => true).

Either cancel this flag, or allow for us to set it globally as a rollbar configuration setting.

This issue just creates dirty code on our end..

[2017-04-24 13:47] brauliobo opened #589 "Bad grouping with variable messages"
Rollbar isn't grouping correctly errors based on the exception name. One example that creation thousands of items:
`Net::HTTP::Persistent::Error: too many connection resets (due to Connection reset by peer - Errno::ECONNRESET) after 0 requests on 70026762533720, last used 1493038121.492723 seconds ago`

I need the message to only the class name and prefixed with a custom string. How to report an e

[2017-04-24 13:58] rivkahstandig3636 commented on #589
Hi @brauliobo, can you email us at support@rollbar.com about this and link us to the items in question? Thank you!

[2017-04-24 14:23] brauliobo commented on #589
ok, just did @rivkahstandig3636.

I also need to customize the message of the exception, how to do it?

[2017-04-24 14:52] #589 closed

[2017-04-25 06:01] BScharbau opened #590 "No error logs in development"
Hi guys,

I'm working on a project and we want to report our errors in production via Rollbar, so we are utilizing the rollbar-gem. In production, everything works as expected.

In development, we want to disable reporting to Rollbar. We can achieve this by adding
[code]
in `config/initializers/rollbar.rb`, however, doing so results in destroying all error logging in development, i.e. I don't get

[2017-04-26 15:11] jondeandres commented on #590
Hi @BScharbau,

thanks for reporting this issue. I'd say this is an unexpected behavior but I'm not sure this is related to our code.

It's true that when we send messages to the logger we skip them in case the configuration is not enabled https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/logger_proxy.rb#L26.

We use this logger for the messages we want to log and it's just a proxy to

[2017-04-28 12:47] bhh commented on #193
wondering if people are still interested in this.

had some time to kill today and removed everything rails related as i suggested. as far as i can tell everything is still working. tests + some examples i tried.

https://github.com/rubberandglue/rollbar-gem

i copied every piece of removed code and tests into another repository (i guess this one will be a bit more tricky)
i still missed out on th

[2017-04-28 14:06] fguillen commented on #509
I am facing this problem now

[2017-05-08 09:53] c-knowles commented on #572
Interested in the same function. Maybe slightly related to https://github.com/rollbar/rollbar-gem/issues/500. In the case of uncaught exceptions, the `scope` function doesn't seem to be the right place to embed those extra details but often the exception contains several more attributes which are useful for finding the root cause. Currently how would this be implemented? Would we have to catch unc

[2017-05-15 17:50] gregblass opened #591 "How to explicitly use JS reporting?"
I've got JS error reporting working as described in the readme. However, if I try to report an error explicitly, I've getting: "Uncaught ReferenceError: Rollbar is not defined"

Is there something else I need to do to be able to use the Rollbar.error type syntax in my js code in the asset pipeline?

[2017-05-31 08:10] pawlik opened #593 "`Rollbar.scoped` does not work as advertised"
This will result in `data.important` being connected with the exception occurrence:
[code]
but this:
[code]
will not send extra data at all.

In the README it's not written that it should work, but here https://github.com/rollbar/rollbar-gem/issues/500 @jondeandres claims that it should work. Is it a bug? If not - could it work that way in next versions? There are some bugs which are hard to trace

[2017-05-31 10:38] jondeandres commented on #593
Hey @pawlik, thanks for opening this issue. Maybe I've explained wrongly other times, I'll try to explain it again.

`Rollbar.scoped!` mutates the scope for the current iteration (a request, job, etc...) handled by our middlewares. So at any point you can change it and after that, the errors sent will have that scope.

`Rollbar.scoped` changes the scope inside the block passed. But that means that

[2017-05-31 10:38] #593 closed

[2017-05-31 14:41] pawlik commented on #593
Thanks @jondeandres for the clarification.

Whatever way to attach extra info to raised exception without silencing:
[code]
nor duplicating
[code]
would be quite useful. Either the approach suggested above, or what's suggested in https://github.com/rollbar/rollbar-gem/issues/572 or even something like this
[code]
I let you decide what's the most feasible approach :)

[2017-06-01 01:11] jmberez opened #594 "Keeping Rollbar.js up to date"
Rollbar keeps warning me that rollbar.js is outdated. It's getting loaded from this gem, which apparently points to a specific version from a year ago. Any reason not to use the current version? Maybe it should be a configuration option?

[2017-06-07 22:14] rromanchuk opened #595 "[Docs] Minor example error in workers"
I don't think you meant to use the symbol  `:user_id`, instead you probably meant the local scoped var `user_id`

[code]

It's funny, i noticed i had the user "user_id" causing a majority of the error in my workers, turns out i'm an idiot and just copy and pasted from this example.

[2017-06-07 22:37] rromanchuk commented on #595
https://github.com/rollbar/rollbar-gem/pull/596

[2017-06-07 22:37] #595 closed

[2017-06-08 01:02] coryvirok commented on #594
Good question, @jmberez. This is actually already an option but it's not documented. Check out the `rollbarJsUrl` config option for the JS SDK.

[code]

[2017-06-08 01:02] #594 closed

[2017-06-08 01:04] coryvirok commented on #591
@and-megan can you take a look at this?

[2017-06-08 01:05] coryvirok commented on #590
@BScharbau, did Jon's info help you figure this out? Are you still experiencing this?

[2017-06-08 01:05] brianr commented on #594
@coryvirok I think the snippet has changed a bit though, so it's not as simple as just updating the `rollbarJsUrl`.

[2017-06-08 01:06] coryvirok commented on #583
@jondeandres any thoughts on getting test coverage reporting to CodeClimate?

[2017-06-08 01:07] coryvirok commented on #580
@and-megan can you take a look at this?

[2017-06-08 01:07] coryvirok commented on #577
Thanks for the report. @rokob can you take a look at this?

[2017-06-08 01:09] coryvirok commented on #572
@rivkahstandig3636 can you take a look at this?

[2017-06-08 01:12] coryvirok commented on #553
Closing this since there hasn't been any activity on it in quite a while. Please reopen as needed.

[2017-06-08 01:12] #553 closed

[2017-06-08 01:24] coryvirok commented on #451
Sorry for the delay, @catherine440. @jondeandres is there a fix for this ready to be merged and released?

[2017-06-08 01:24] coryvirok commented on #439
@rivkahstandig3636 can you take a look at this?

[2017-06-08 01:25] coryvirok commented on #426
@jondeandres what are the next steps for this?

[2017-06-08 01:26] coryvirok commented on #388
@rokob what do you think?

[2017-06-08 01:26] coryvirok commented on #371
Ping. Is this still a thing?

[2017-06-08 01:29] coryvirok commented on #343
@r-obert any update on this?

[2017-06-08 01:30] coryvirok commented on #273
@rokob can you take a look at this?

[2017-06-08 01:31] coryvirok commented on #243
@jondeandres what are the next steps for this? Maybe @rokob can take it over?

[2017-06-08 01:36] coryvirok commented on #176
@cforcey are you still experiencing this issue?

[2017-06-08 01:37] coryvirok commented on #157
@jondeandres the PR was merged and released. Can we close this out?

[2017-06-08 01:56] coryvirok commented on #594
Right. We need to pull in the latest rollbar.js submodule and then you need to override the rollbarJsUrl config option as I mentioned above. It's not guaranteed to work across minor/major versions but at least people won't have to update rollbar-gem every time we release rollbar.js.

[2017-06-08 09:40] jondeandres commented on #583
I had enabled it on our spec_helper.rb file, https://github.com/rollbar/rollbar-gem/blob/master/spec/spec_helper.rb#L1-L14, but the required gems are not present in our gemfiles, so that may be the reason because https://codeclimate.com/repos/537e61f8e30ba05e65002eaa/settings/test_reporter is empty.

I will take a look at this.

[2017-06-08 09:45] jondeandres commented on #451
@coryvirok the fix would be immediate, but we should consider https://github.com/rollbar/rollbar-gem/pull/482.

[2017-06-08 09:48] jondeandres commented on #426
We need to change https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/plugins/delayed_job/plugin.rb#L36 so we do `rescue Exception => e`

[2017-06-08 09:54] jondeandres commented on #243
We can try to make https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/item.rb#L187 to follow the same strategy than in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/item/backtrace.rb#L83-L99 to get the backtrace.

The problem I see is that we would be sending `trace` or `trace_chain` at the same time than `message`, and as our API says, only one should be sent:

[code]

[2017-06-08 09:56] jondeandres commented on #157
Sure

[2017-06-08 09:56] #157 closed

[2017-06-08 16:48] thejspr opened #597 "ETA/plans for updating the javascript notifier to v2.0x?"
Since you started notifying me of the new version on the site I might as well ask :)

[2017-06-08 16:50] coryvirok commented on #597
@jondeandres can you merge in the latest rollbar.js and cut a new release?

[2017-06-08 17:02] r-obert commented on #343
i think it's still an issue. the rollbar middleware has to be inserted earlier to catch exceptions in the middleware that right now come before it. it would be nice if this could be solved by the gem.

[2017-06-08 17:03] r-obert commented on #343
no updates besides that, sorry.

[2017-06-08 17:05] coryvirok commented on #451
Ah yes. If we can remove the dependency that'd be a better solution.

[2017-06-08 23:39] and-megan commented on #591
You should be good to go if you've integrated Rollbar.js like so:
`
Rollbar.configure do |config|
  # common gem configuration
  # ...
  config.js_enabled = true
  config.js_options = {
    accessToken: "POST_CLIENT_ITEM_ACCESS_TOKEN",
    captureUncaught: true,
    payload: {
      environment: "production"
    }
  }
end`

When navigate to a webpage where Rollbar.js is supposed to be installed an

[2017-06-08 23:41] gregblass commented on #591
Sorry for leaving this open! Can't remember what the issue was but it was some noob mistake. I hadn't configured it correctly. Thanks for responding!

[2017-06-08 23:41] #591 closed

[2017-06-09 12:59] pixind commented on #590
Hi there, I can confirm that I'm experiencing the exact same case that @BScharbau is reporting.

The only way to get back the "normal" stack trace is by commenting the gem while coding, and re bundling... which is kinda of a pain.

Any information that I can provide to help you guys figuring this out, I'd be happy to give :)

Thanks!

[2017-06-12 10:16] jondeandres commented on #343
@r-obert can you try something? delete our middleware and add it before the middleware you want to monitor.

[code]

Your feedback about this would help us a lot to decide how to handle this. Thanks.

[2017-06-12 10:33] thejspr commented on #597
Thanks @coryvirok & @jondeandres 🤗

[2017-06-12 11:40] jondeandres commented on #590
@pixind can you in a rails console just write `Rails.logger` and paste here the output?

Thanks.

[2017-06-13 00:22] and-megan opened #601 "Issue with Capistrano3 deploys and proxy settings"
We likely need code in one of the following files:

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/capistrano.rb
https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/capistrano3.rb

so that the proxy settings can be pulled from environment vars and used in the Net request.

[2017-06-13 09:21] #597 closed

[2017-06-13 17:57] tomsparks commented on #601
Looks like there are two ways for this to be handled - either from the rollbar config in the deploy.rb for the project or checking to see if there's an environment variable set. Given the variety of issues I've had with capistrano actually taking in environment variables, its probably better to use the ones set in deploy.rb

[2017-06-14 17:42] tomsparks commented on #601
I dug into this a bit more - Net::HTTP will actually detect if the "http_proxy" environment variable is set and automatically use it. This may be a capistrano issue instead, I'm looking into it but the environment variable is set on my side.

[2017-06-14 18:34] rokob commented on #193
I like the idea, but I'm still not sure about the benefit of doing a full split into two repos versus trying to do this via the plugin mechanism. I need to look at the code a bit more. I think the split into two repos is actually probably easier, just not sure if it is better from a maintenance perspective going forward.

[2017-06-14 19:06] coryvirok commented on #573
Tagging PR #482 since it's related.

[2017-06-14 19:09] coryvirok commented on #583
I haven't been very happy with CodeClimate but Codacy seems great. Let's set up test coverage there. https://www.codacy.com/app/Rollbar/rollbar-gem/settings/coverage#IntegrationsTab

[2017-06-14 21:17] bhh commented on #193
as i discovered the chronlogy is seems to be weird. thats why i came up with a solution i like most

* railtie loading
* getting config
* deciding to disable rails
* how not to load rails!? everything loaded/crashed already

with the plugin mechanism and railtie you always have to load everything first then get the config and the decide to disable!? but the crash already happens during loading. wh

[2017-06-15 03:13] Ridge2 opened #603 "undefined method `connect' for nil:NilClass"
I'm using Rails 5.1.1
Ruby 2.4
I'm trying to follow a book called HeadFirstRails and its telling me to edit my config/routes.rb like this:
`ActionController::Routing::Routes.draw do |map|`
 ` map.connect "/ads/:id", :controller=>"ads", :action=>"show"`
  `map.connect ":controller/:action/:id"`
  `map.connect ":controller/:action/:action/:id.:format"`
`end`

But when I look into the routes.rb folde

[2017-06-15 03:26] brianr commented on #603
Hi @Ridge2  - this looks like a Rails question, not a Rollbar question. Maybe try asking your question on the community for HeadFirstRails?

Going to close this out; please reopen if this really is Rollbar-related. Thanks!

[2017-06-15 03:26] #603 closed

[2017-06-16 16:43] and-megan commented on #580
Hi @dignoe - previously you could not track people in your JS code using rollbar-gem. However, we've just updated our gem so that JS people-tracking is enabled. See our [Changelog](https://github.com/rollbar/rollbar-gem/blob/master/CHANGELOG.md#2150).

[2017-06-16 16:43] #580 closed

[2017-06-16 16:50] dignoe commented on #580
@and-megan, awesome... thanks!

I looked at the pull request really quick; is this automatic or do I have to set the person config variable to true in the js options? It might be a good idea to add this to the readme file.

[2017-06-16 16:54] dignoe commented on #580
Took another look at the pull request, and it is coming in automatically. Thanks!

[2017-06-16 16:54] and-megan commented on #580
@dignoe It's automatic. That's a good idea - we'll change  the docs soon.

[2017-06-18 10:09] pixind commented on #590
Sure :)
[code]

[2017-06-19 10:59] jondeandres commented on #590
Hi @pixind, thanks. I've tried to reproduce this and I didn't have success. Which Rails version are you using?

Can you run `rake middleware` and paste us the output?

Thanks.

[2017-06-19 22:02] rokob commented on #546
Related to #569

[2017-06-19 22:05] rokob commented on #539
Related to #569

[2017-06-19 22:09] rokob commented on #508
The new version of Rollbar JS does not have this CSP issue and did away with the nojson dist so this should be resolved by the most up to date version of the rollbar.js snippet.

[2017-06-19 22:09] #508 closed

[2017-06-20 18:10] rokob commented on #243
This should be fixed by having the backend support both message and trace/trace_chain, and then sending both. Currently one work around is to take the message and add it as the description to the exception in the trace. We could do that with some configuration option until the backend supports both.

[2017-06-20 18:17] rokob commented on #139
I don't think adding a simple whitelist should be that much work so doing that is something we can get out relatively quickly. For more complicated scenarios, we do have the [transform hook](https://github.com/rollbar/rollbar-gem#transform-hook).

[2017-06-26 16:44] dclausen opened #606 "rollbar-rails-runner doesn't work on Rails 5.1.1"
### Steps to reproduce

bundle exec rollbar-rails-runner "puts 'hello'"

### Expected behavior

System should output 'hello'

### Actual behavior

bundler: failed to load command: rollbar-rails-runner (/home/deployer/app/shared/bundle/ruby/2.4.0/bin/rollbar-rails-runner)
Errno::ENOENT: No such file or directory @ rb_sysopen - /home/deployer/app/shared/bundle/ruby/2.4.0/gems/railties-5.1.1/lib/rail

[2017-06-29 09:02] pixind commented on #590
Hey, sorry about the delay.. I was out and without internet access ( that sort of bless/curse) for a couple of days.
Versions are:

`ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]`
`Rails 5.0.2`

### Middleware
[code]

[2017-06-29 09:07] pixind commented on #590
Just in case you're wondering what that CatchJsonParse errors does

[code]

[2017-07-02 11:14] superplussed opened #607 "I cannot remove the rollbar-gem from my project"
I'm trying to remove rollbar from a rails 5.0.1 project and if I remove the gem and the initializer and restart the server, the project will just hang.  There is no lingering references to rollbar anywhere in my project, and yet it will hang.  If I go and add the gem back and an empty initializer:

[code]

It loads again.  Again, there aren't any references in my javascript, and to double check th

[2017-07-03 18:15] rokob commented on #607
I have no idea what could be going on here, let me see if I can dig into this a little bit and see if I can figure something out. A couple things that could be going on are if the Gemfile.lock has references to dependencies that are no longer there, bundler can do weird things. How did you remove the gem? You can also get some extra information by running bundler with the verbose flag to get more

[2017-07-04 11:16] superplussed commented on #607
Hmm, I tried switching unicorn for webrick and it gave me more verbose logging, which included this beauty: webrick No live threads left. Deadlock?  Somehow your gem was stopping this from happening for some reason :) . But upgrading a bunch of gems including rails fixed this issue.  Closing due to it not being related to your gem :)

[2017-07-04 11:16] #607 closed

[2017-07-06 09:40] esaborit4code opened #608 "Include available payload from Rails' Rollbar into browser JS's Rollbar"
I was trying to move Rollbar JS config from an HAML template to [Rails' Rollbar JS config](https://github.com/rollbar/rollbar-gem#integration-with-rollbarjs) and I realized that, contrary to what I thought, neither the environment nor the person data that comes in the server-side errors payload isn't available in browsers JS errors. Unfortunately, I can't define person data payload in the Ruby con

[2017-07-06 09:43] jondeandres commented on #608
Hi @esaborit4code,

we added automatic support for the persona data in the rollbar.js integration with the gem in this PR https://github.com/rollbar/rollbar-gem/pull/602. It was merged and released few weeks ago, you can check the changelog https://github.com/rollbar/rollbar-gem/blob/master/CHANGELOG.md#2150.

You should ensure that you are using the version 2.15.0 of the gem. If you are indeed us

[2017-07-06 10:11] esaborit4code commented on #608
Hi @jondeandres, thanks for such a quick response!
It totally was my fault, I thought I was logged in but I wasn't, so that's why I couldn't see any person data! I'm sorry! 😅

Anyway, I've also found some other issues while moving to the Rails config file:

* Payload's `environment` isn't set and I think it makes sense for it to be the same as Rails Rollbar environment. Now I'm setting it manually

[2017-07-07 21:07] sbayona opened #609 "No exceptions reported from a mounted Rails engine"
We have a Rails 5 app configured with Rollbar. Exceptions for this app appear on Rollbar, no problem there. However, the same app has a Rails engine mounted on it.  Exceptions that happened on this engine do not appear on Rollbar.

In addition, the Rollbar gem has no instructions on how to deal with this particular situation (not an uncommon one).  Is there anything different that needs to be done

[2017-07-08 18:40] sbayona commented on #609
We found code that was rescuing the exceptions we were looking for on Rollbar. Please disregard.

[2017-07-08 18:40] #609 closed

[2017-07-12 00:29] and-megan opened #611 "change the Rake plugin to wrap Rake::Task#invoke"
in the Rake plugin, we monkey patch the Rake application and not the Rake tasks. That means that only when running the Rake task using the regular command line do we wrap the errors. However, if you execute the Rake tasks programatically by running Task#invoke, the errors aren't wrapped. can we change the Rake plugin to wrap Rake::Task#invoke so it works everywhere, also programatically?

[2017-07-14 11:43] donni106 opened #612 "rollbar.js version 2.1.0 is now available. (This project is currently using version 2.0.4)"
I use the latest gem version and ask myself why rollbar is alerting that there is a new rollbar.js version.

![bildschirmfoto 2017-07-14 um 13 40 34](https://user-images.githubusercontent.com/1942953/28210939-56d82d26-689a-11e7-8155-4f8cb8e6d701.png)

In the rollbar-gem history I can see an update to rollbar.js 2.0.4 but no 2.1.0.
How can I update or when will the 2.1.0 be available per rollbar-ge

[2017-07-17 09:53] pixind commented on #590
Hi guys, @jondeandres, do you have any news or even some monkey patch/workaround related to this? Anything else I can do in order to help?

I still having this error, updated to 2.15.0 but issue persists.

Cheers.

[2017-07-17 17:32] rokob commented on #590
Creating a fresh Rails app, adding the Rollbar gem and disabling it causes exceptions to still print to the console and to log/development.log. Enabling Rollbar causes output to show up in the console and for items to be reported to Rollbar. Let me see if I can try something else.

[2017-07-20 16:57] and-megan opened #614 "scrub_fields too broad"
when added a param to scrub fields such as "name", every field that had the substring called "name" was obfuscated. so something like "first_name" or "last_name" etc would be obfuscated. Can this be more specific?

[2017-07-25 08:23] easybills-admin commented on #612
cc: @jondeandres @rokob

[2017-07-28 14:46] #472 closed

[2017-07-28 14:48] rokob opened #615 "Deal with dj_threshold > 0 causing errors not to fire in an edge case"
From #592:

There is still a potential for the error to not fire if https://github.com/richvorp/rollbar-gem/blob/delayed_job_failure_hook/lib/rollbar/plugins/delayed_job/plugin.rb#L48 check fails and the dj_threshold is higher than 0.

An alternative would be to make it always error with:

[code]

instead of https://github.com/richvorp/rollbar-gem/blob/delayed_job_failure_hook/lib/rollbar/plugins/

[2017-07-28 18:12] adamniedzielski commented on #472
Thanks @richvorp! 💚 💯 🎉

[2017-08-03 05:21] steveh commented on #572
I'm interested in this too. Perhaps if the exception implements `to_h`?

[2017-08-05 20:01] cabello opened #616 "Sidekiq and jobs that are expected to fail"
Hi,

Because of eventual consistency and other reasons I have jobs that are expected to fail for a while raising 404 Resource Not Found until they succeed, I am already using `config.sidekiq_threshold = 4` (4 retries means just a few minutes), since this is a global setting I don't want to set it to too high, e.g. `18`, because I don't want new errors to go unnoticed and take days to get to Rollba

[2017-08-07 10:56] yoonwaiyan commented on #472
Really hope to get this released asap, delayed job failure is high in a server under my monitor.

[2017-08-07 23:34] jessewgibbs opened #617 "Running "-e production" with rollbar-rails-runner doesn't work"
Details in https://app.clubhouse.io/rollbar/story/12854/running-e-production-with-rollbar-rails-runner-doesn-t-work

[2017-08-07 23:38] jessewgibbs opened #618 "Request data extraction not working on invalid JSON"
Details in https://app.clubhouse.io/rollbar/story/20112/request-data-extraction-not-working-on-invalid-json-for-one-user-gem

[2017-08-07 23:40] jessewgibbs opened #619 "Rails app with Rails engine not reporting items properly"
Details in https://app.clubhouse.io/rollbar/story/21418/rails-app-with-rails-engine-not-reporting-items-properly

[2017-08-07 23:41] jessewgibbs opened #620 "Gem failsafe error about connecting to DB"
Details in https://app.clubhouse.io/rollbar/story/22078/gem-failsafe-error-about-connecting-to-db

[2017-08-07 23:43] jessewgibbs opened #621 "Exception level filters not working"
Details in https://app.clubhouse.io/rollbar/story/21869/exception-level-filters-not-working-for-one-user

[2017-08-08 17:37] jessewgibbs opened #622 "Enable keepalive in rollbar-gem"
details in https://app.clubhouse.io/rollbar/story/8493/enable-keepalive-in-rollbar-gem

[2017-08-08 17:39] jessewgibbs opened #623 "Add ActiveJob Asynch Reporting"
details in https://app.clubhouse.io/rollbar/story/4487/add-activejob-asynch-reporting

[2017-08-08 17:40] jessewgibbs opened #624 "Add `retry_n_times` functionality for `sucker_punch`"
details in https://app.clubhouse.io/rollbar/story/4704/add-retry-n-times-functionality-for-sucker-punch

[2017-08-08 18:00] jessewgibbs opened #625 "Update Failsafe Error data"
Details in https://app.clubhouse.io/rollbar/story/14288

[2017-08-15 17:05] cabello commented on #616
The other thing I would like to do is to fail a job (causing a retry) but do not report to Rollbar, for example I would like to retry a job that raised `RestClient::ResourceNotFound` without sending the error to Rollbar.

[2017-08-17 16:05] ronna-s opened #628 "RuntimeError: can't modify frozen Array"
Error - Can't modify frozen Array, happens when passing hash to Rollbar with a frozen array (such as environment config):

[code]

Stack trace:
[code]

[2017-08-18 19:13] alexmdavis commented on #612
Bump for 2.2.3 (https://github.com/rollbar/rollbar.js/commit/03c664cf4538ff4260f9e9b93ac12130f2b5a78a). Telemetry is cool! Using the version bundled in the gem would be easier.

[2017-08-24 05:41] erikaxel opened #631 "Cut new version"
Hi,

Thank you for integrating the newest Rollbar javascript component in this Gem. Would you mind cutting a new version of the gem so that we can use it?

[2017-08-28 09:14] #612 closed

[2017-08-29 18:26] rokob commented on #631
https://github.com/rollbar/rollbar-gem/releases/tag/v2.15.1

[2017-08-29 18:26] #631 closed

[2017-08-29 22:58] edave opened #632 "Gem failsafe error generating 100ks of events when no network connection"
Hi There! We're running into a very annoying problem w/ Rollbar's Ruby gem on a Rails installation where Rollbar itself is generating 100k errors it then tries to report. An example of this is this item:

Title:
[code]
Failsafe from rollbar-gem. SocketError: "Failed to open TCP connection to api.rollbar.com:443 (getaddrinfo: nodename nor servname provided, or not known)" in /.rvm/rubies/ruby-2.3.4

[2017-08-30 00:34] KieranP opened #633 "Failsafe error since upgrading from 2.14.1 to 2.15.1"
I upgraded rollbar version the other day and have started getting failsafe errors every so often that I wasn't getting previously:

[code]

The breakage appears to trace back to this commit: https://github.com/rollbar/rollbar-gem/commit/5664ea6ceb9b447bba22d2999652b48df95a2a46

It doesn't affect every error, there are still quite a few coming through normally, but these failsafe errors weren't hap

[2017-09-05 15:59] CodeMonkeyKevin commented on #590
I'm also getting the same issue. I had to scope Rollbar gem to production only to get around this issue in development.

[2017-09-12 14:35] kylefox opened #635 "[Redacted]"
REDACTED

[2017-09-12 14:38] #635 closed

[2017-09-14 16:09] cabello commented on #616
I "solved" this issue by wrapping the exception that was expected by my job `RestClient::RecordNotFound` into a specialized exception `EventualConsistencyException` and adding it to the ignore configuration `initializers/rollbar.rb`:
[code]

[2017-09-14 16:14] cabello commented on #614
Indeed, there should also be a way of whitelisting parameters, since `:scrub_all` is an option.

I have sidekiq jobs being scrubbed right now, things like: `job.class`, `job.created_at`, `job.enqueue_at`, `job.error_class`, `job.error_message`, etc.

[2017-09-14 21:53] rokob commented on #614
It appears we convert the parameters into a regex and match for scrubbing rather than doing string equality. I have to imagine that some people probably rely on this and put regexs in those scrub fields. We could do a few different things:

1. Switch to exact string matching
2. Keep doing what we are doing, but add a whitelist for exact matches to not scrub
3. Add a separate list of regex fields s

[2017-09-14 22:13] rokob commented on #632
We should probably only try to send a single failsafe error, as in if there is one in the queue when we try to add another one then we should throw the previous one out. I think we probably still want to keep these fail safe errors in there, but we definitely shouldn't send more than one of the same kind.

We could also specifically ignore SocketErrors.

As a workaround before we fix this, you cou

[2017-09-14 22:37] rokob commented on #616
I believe that using `scope!` in your perform method should be sufficient to set per worker thresholds, for example using the example in the README:

[code]

To be able to retry a job due to an exception and not report to Rollbar your approach of using a specific exception for this would seem to be a reasonable approach. I am not sure what else to offer as a solution if you want some exceptions re

[2017-09-14 23:07] kylefox commented on #569
I ran into this as well. I need to do some munging of `_rollbarConfig` that cannot (currently) be accomplished in the Ruby initializer. 😕 But I would still like to use the JS snippet that's bundled in the gem so I only have one dependency to update.

I hacked a helper to inject the snippet, but would _love_ an official way to include the snippet that doesn't rely on Rollbar's private internals 😬

[2017-09-14 23:45] rokob commented on #569
I am curious what cannot be accomplished in the initializer?

So you are handling the config injection yourself, and then using this helper method in your view to put the snippet after your definition of _rollbarConfig?

We can probably just expose essentially this helper of yours and make the injection configurable.

[2017-09-15 00:00] kylefox commented on #569
I'd like to use the `hostWhiteList` to reduce noise. However, our application runs on an arbitrary, unknown number of domains (we allow users to configure custom domains). Our solution has been to dynamically set `hostWhiteList` to the current host in ERB, like so:

[code]

Another solution would be to allow a `config.js_options` to accept a proc that is passed the `request` (or similar).

That —

[2017-09-18 22:29] KieranP commented on #633
This issue is still present in 2.15.2. Can we please apply the PR from @rokob and get this issue fixed. Am getting frequent rollbar failsafe errors.

[2017-09-18 22:30] #628 closed

[2017-09-18 22:38] #633 closed

[2017-09-18 22:44] rokob commented on #633
Released in v2.15.3

[2017-09-18 22:44] rokob commented on #635
Released in v2.15.2

[2017-09-18 22:44] rokob commented on #628
Released in v2.15.3

[2017-09-19 06:03] deepfryed opened #639 "deep_dup fails with can't dup errors"
https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/util.rb#L76

This needs to check if obj can be dup'd.

[2017-09-19 07:07] #639 closed

[2017-09-24 11:29] gerrywastaken commented on #538
[code]

The above solution won't work unless you go and edit all existing code to use the roll_bar raise and it also will only work for errors. For anybody who needs to just have exceptions in place of Rollbar in whenever rollbar is disabled the above should do the trick.

[2017-10-02 19:10] jessewgibbs opened #642 "No docs for `code_version` config option"
`code_version` isn't included in the docs and examples, but it's necessary for making source control links work properly.

[2017-10-04 21:40] jessewgibbs opened #643 "Remove deprecations for Rails 5.1"
Story transferred from https://app.clubhouse.io/rollbar/story/10010/gem-remove-deprecations-for-rails-5-1

[2017-10-13 03:03] ajsharp commented on #237
Any movement on this? It would be good if we could just pass a symbol of a controller method name that would get called.

[2017-10-16 11:34] simonc commented on #344
Stumbled upon the same issue. Just a quick note, following semver the module should have stayed until v3. No big trouble but that's important for a lot of people 😉

[2017-10-16 14:29] jondeandres commented on #344
@simonc can you tell us how your rollbar initializer is?

[2017-10-16 15:00] simonc commented on #344
@jondeandres it was containing `require "rollbar/rails"` and we fixed it using `require "rollbar"`. What I meant to say is that upgrading to a minor version should not have broken our app, we should have seen a warning telling us to change this line and that it would not be supported in v3. See what I mean? 😊

[2017-10-24 10:53] btihen opened #644 "Ruby Doc update needed?"
Hello,

Why do you suggest using gem oj v2.12.14?
That version doesn't work with Ruby 2.4.x -- however oj v2.16.1 - does.

I'm also curious why you don't suggest oj v3.3.x.
I've been using that version with rollbar and haven't notice any problems.

Is there a reason you suggest using this older version of oj and why not the newest version or at least a version compatible with Ruby 2.4.x such as oj

[2017-10-24 18:14] and-megan opened #645 "Add docs for using Grape with rollbar-gem"
Proper settings for capturing inside the popular API gem "Grape" for Rails applications to capture 500s

# global exception handler, used for error notifications
rescue_from :all do |e|
if Rails.env.development?
raise e
else
Rollbar.error(e)
error_response(message: "Internal server error", status: 500)
end
end

[2017-10-27 08:01] terry90 opened #646 "Rollbar Exception: IOError: "closed stream" when using SuckerPunch"
I raise exceptions when some of my async tasks cannot be completed, Rollbar is unable to show something due to some error:
`Failsafe from rollbar-gem. IOError: "closed stream" in /usr/local/lib/ruby/2.4.0/delegate.rb:341:in 'rewind': build_item in exception_data`

It's a bit annoying, but I'm not 100% it is because of Rollbar + SuckerPunch.
Does Rollbar need the main thread of the app ? Is it a kn

[2017-11-01 17:23] dignoe commented on #546
It's been almost a year and this issue hasn't been fixed. It seems pretty trivial to fix this... instead of searching for `body.index(/<head\W/)`, just search for `<meta charset="foo">` or `<meta http-equiv="Content-Type" content="bar">` and inject the script after that. If those aren't found, fall back to `<head`. Can we please get this fixed soon?

[2017-11-02 21:45] rokob commented on #646
This is a rough one, that failsafe error occurs when we are already dealing with some internal error that occurred while processing an item. We are attempting to build a minimal item with the exception that caused the first error, and that again throws an exception. Throwing a closed stream error at this point though is really odd. Those usually mean a file handle is closed and we still hold a ref

[2017-11-02 21:48] rokob commented on #644
That is just an old version recommendation, the docs just need to be updated. I will update to `2.16.1`.

[2017-11-02 21:48] #644 closed

[2017-11-02 21:49] rokob commented on #642
https://github.com/rollbar/rollbar-gem/blob/master/docs/configuration.md#code_version

[2017-11-02 21:50] rokob commented on #642
Which is linked in the README: https://github.com/rollbar/rollbar-gem#configuration-options

[2017-11-02 21:50] #642 closed

[2017-11-02 21:53] rokob commented on #643
Things that need to be done:
- [ ] Add a rails51.gemfile to gemfiles/
- [ ] Run tests on travis to see what breaks and what warnings come up
- [ ] Fix any warnings
- [ ] Fix any broken tests

[2017-11-02 21:58] rokob commented on #546
We always are willing to take pull requests to fix issues. This one in particular if a straightforward fix is possible would be a good candidate for a pull request. I am going to work on the js injection right now, so I will take this one.

[2017-11-06 18:32] #546 closed

[2017-11-07 09:42] olegsfinest commented on #541
Hi there, I am facing the exact same problem. Removing web-console actually did the trick, but actually I would like to keep on using it, so have you guys maybe encountered, why this bug appears?
Thanks in advance!

[2017-11-07 19:10] and-megan opened #648 "Make js_options a string instead of a hash"
If we took a string instead of a hash and just inserted that string directly as `_rollbarConfig` , it would let you pass in whatever you want. It's not currently possible to pass in js functions like checkIgnore.

[2017-11-08 12:33] michal-samluk opened #649 "JSON::GeneratorError in build_item"
We are wondering could be causing such issues.
We are thinking that this could be invalid request to our server which is causing exception.

[code]

[2017-11-08 13:59] michal-samluk commented on #649
After investigation we were able to reproduce the issue:
[code]
where `@example` is a file with encoding != UTF-8.
IF request will cause Internal Server Error Rollbar will not be able to report the issue properly.

[2017-11-08 19:27] rokob commented on #614
Okay so I'm back around to this. Because Rails uses this regex approach (i.e. http://api.rubyonrails.org/classes/ActionDispatch/Http/FilterParameters.html) and we have been doing it, I am reluctantly to switch to exact string matching. Therefore, I think (2) is the way to go adding a whitelist of exact matches not to scrub.

[2017-11-08 22:48] cabello commented on #614
Any updates on this? How easily could we do whitelisting? I would prefer to opt-in for non-scrubbed data than opt-out.

[2017-11-08 22:49] rokob commented on #614
I'm working on adding a configurable list of keys that will not be scrubbed based on an exact match

[2017-11-09 12:14] #646 closed

[2017-11-14 06:10] rokob commented on #649
This may be related to https://github.com/rollbar/rollbar-gem/issues/618

[2017-11-14 06:18] rokob commented on #568
I think the solution here is that we should have an option to include backtraces with messages which is off by default. The implementation being what is in this gem. It is a common enough request.

[2017-11-14 11:11] jondeandres commented on #568
@rokob do you think it has sense to use the same option we have now and just populate backtraces also  reporting messages without exception?

[2017-11-16 00:21] ArturMoczulski commented on #568
@jondeandres if I understand correctly, you're suggesting to add logic behind `populate_empty_backtraces` to also populate backtraces for messages. So it's the same thing @rokob suggested just put in the already existing `populate_empty_backtraces` option? Is that correct?

[2017-11-16 00:22] rokob commented on #568
Yeah that's what I understood and I agree, we might as well just have one option.

[2017-11-16 00:26] jondeandres commented on #568
@ArturMoczulski that's correct, yes, let's use the same option, imho

[2017-11-17 18:36] and-megan opened #653 "Add use case to docs: using scope! within a scoped block"
if you use scope! *within* a scoped block your context will only apply within that scoped block because of how Rollbar gets shadowed.

Based on the docs here (https://github.com/rollbar/rollbar-gem):

[code]

That suggests that even with a raise it should still have the context.
It looks like it was an interaction between a Rollbar.scoped higher in the hierararchy, probably scoping the Rollbar.sco

[2017-11-20 15:41] hwd opened #654 "Issue with Sidekiq Pro since 1.15.1"
It's not possible to upgrade to 1.15+ with Sidekiq Pro since the `#skip_report?` method do not check the Type of job anymore.

With Sidekiq Pro, when an exception occurred, the type of job is a `Sidekiq::Pro::TimedFetch::UnitOfWork` and not a `Hash`, and it raise a `NameError`:

[code]

Cf. https://github.com/rollbar/rollbar-gem/pull/598/files#diff-7b6914664c51708430619705a01170fcL42

[2017-11-27 21:28] jessewgibbs opened #655 "Add ability to limit the amount of errors you can send from a given session in the gem."
Moved from https://app.clubhouse.io/rollbar/story/11742.

[2017-11-28 18:02] rivkahstandig3636 commented on #654
Thanks for reporting this @hwd! We'll work on fixing this.

[2017-11-30 23:00] coryvirok opened #656 "Security vulnerability with Rails dependency"
![screen shot 2017-11-30 at 2 59 04 pm](https://user-images.githubusercontent.com/769323/33459539-2ddb2e52-d5df-11e7-96fa-fad72c90b120.png)

[2017-11-30 23:02] brianr commented on #656
Isn't this just used for the tests?

[2017-11-30 23:34] coryvirok commented on #656
It's used in various parts of the actual SDK, if I'm reading this correctly - https://github.com/rollbar/rollbar-gem/tree/master/lib/rollbar/plugins/rails

[2017-11-30 23:40] brianr commented on #656
That just monkeypatches Rails if it exists, I believe. @jondeandres may be able to clarify.

I think the `Gemfile` that is committed here might not even be used... it's generated by Appraisal, which actually generates the whole set of gemfiles for various combinations of dependencies which we test on TravisCI.

[2017-12-01 03:50] ArturMoczulski commented on #656
@brianr the Gemfile that's committed to current `rollbar/rollbar-gem:master` uses `rails/rails:4.2.3`.

Here are more details on vulnerabilities in this version:
https://www.cvedetails.com/vulnerability-list/vendor_id-12043/product_id-22568/version_id-190893/Rubyonrails-Ruby-On-Rails-4.2.3.html

I'm not sure what we should do about this. Upgrade to `rails/rails:4.2.7.1`?

[2017-12-05 13:58] #608 closed

[2017-12-05 13:59] #616 closed

[2017-12-13 14:07] codegoalie commented on #621
I can't see the details, but I believe I'm having this issue as well. Unfortunately, I'd like to filter out 404s in my Rails apps because all the bots hitting `/wp-admin`, etc. but right now it's cluttering up my Rollbar Dashboard.

Also, I'd be happy to help submit a PR to resolve this. Would you be able to share any details you have in that story?

[2017-12-13 16:14] vfonic opened #657 "rollbar.js version 2.3.1 is now available. (This project is currently using version 2.1.0)."
I'm seeing this message in my app's Rollbar dashboard. Could it be that rollbar.js dependency in this project should be updated? Or how can I update the js script?

Thanks!

Gemfile.lock:
`rollbar (2.15.5)`

[2017-12-13 17:40] thbar opened #658 "java.lang.Exception are reported as "Empty message" and no stack trace"
### Environment

* Ubuntu 16
* JRuby 9.1.14.0
* rollbar 2.15.0

### Description of the problem

While working with a production JRuby project, exceptions that are raised in Java parts of the code (3rd party API) during Sidekiq jobs are propagated to Rollbar, but with "Empty message" as the message, and no stack trace.

### Reproduction

I haven't got yet a reproduction mimicking this production is

[2017-12-13 18:01] ArturMoczulski opened #659 "Missing aws-sdk-sqs when running tests and failing tests"
Running `rake spec` results in:

[code]

This is only solved if I add `aws-sdk-sqs` to the `Gemfile` so I assume we should add it. If there is a different procedure to run tests then we should update `README.md`.

Once the problem with running spec is solved, we have three failing tests:
[code]

[2017-12-13 18:12] thbar commented on #658
Here is a reproduction as a sidekiq job, which will completely mimics the issue I've initially met:

[code]

(then start sidekiq, and `JobRaisingException.perform_async`).

[2017-12-13 18:42] rivkahstandig3636 commented on #621
Hi @codegoalie, are your items caught or uncaught exceptions? If caught, you need to pass in the user_exception_level_filters keyword arg for the filters to apply. See the docs on Exception level filters [here](https://rollbar.com/docs/notifier/rollbar-gem/) for more info. If they're uncaught, you can also filter those errors out using the [before process hook](https://rollbar.com/docs/notifier/ro

[2017-12-13 18:45] rivkahstandig3636 commented on #658
Hi @thbar, thanks for reporting this! We'll take a look into it.

[2017-12-13 18:51] rivkahstandig3636 commented on #657
Thanks for reporting this @vfonic! I believe this is a change that we need to make on our end.

[2017-12-13 19:05] thbar commented on #658
Hi @rivkahstandig3636 and thanks for acknowledging this.

@rokob here is a more narrow reproduction:

[code]

I initially wanted to make something closer from the rollbar test suite, but could not easily run it with success locally.

[2017-12-13 19:05] thbar commented on #658
(note that the fix I proposed, although not working as is for MRI, also works to fix this smaller reproduction)

[2017-12-14 22:45] and-megan commented on #621
I think there's a bit of confusion around exception level filters. Here's an example to clarify.

Let's say I have a bunch of `ActionController::RoutingError`s cluttering my dashboard.

I open up the raw JSON of one of these Rollbar occurrences and see that the exception looks like
[code]

I add exception_level_filters to my Rollbar config file, `rollbar.rb`, like so:
[code]
Now, any exception wit

[2017-12-15 16:02] codegoalie commented on #621
@and-megan Thanks! I had that in my initializer, but they were still appearing. However, the before process hook had successfully ignored them.

Thanks for all your help!

[2017-12-18 13:28] chrxs opened #660 "Is it possible to change where in the <head> the JS tags are placed?"
Hi,
Is it possible to change where in the <head> the JS tags are placed?
At the moment I see they appear immediately in the <head> tag.

I have a website report that tells me:
"A charset attribute on a meta element found after the first 512 bytes."

And this is because the rollbar scripts are put above the `<meta charset="utf-8">` line in my code.

thanks
- Chris

[2017-12-18 18:45] rokob commented on #660
Yes, this was changed in https://github.com/rollbar/rollbar-gem/pull/647 and will be available in the next release which should go out soon.

[2017-12-18 19:11] chrxs commented on #660
Oh excellent, thanks a lot! @rokob

[2017-12-22 04:20] AndreiRailean opened #661 "Rollbar.JS exceptions not reported if Rails server is down"
It appears that If server goes down or not accessible to the user for some reason and there are exceptions in browser, these don't appear to be reported even though browser->rollbar network connection is still good.

For better context, we're dealing with a rich page app that after booting only talks to the server's REST apis so would be up in the browser even if Rails is down.

Is this behaviour

[2017-12-22 06:26] rokob commented on #661
No this is not by design, the rollbar.js library should operate independently of the gem. Are you using the gem to inject the rollbar.js snippet into your views or are you doing that directly?

[2017-12-27 13:12] #621 closed

[2017-12-27 13:26] #660 closed

[2017-12-29 15:03] augustosamame opened #662 "SSL Error when processing Rollbar items in Windows Server"
I am getting the following stacktrace error from a Windows environment.

The Rollbar report does get through, but this is cluttering my dev console.

Latest rollbar gem: 2.15.5
Ruby version: ruby 2.2.6p396 (2016-11-15 revision 56800) [x64-mingw32]
Rails version: Rails 5.0.6
Windows version: Windows Server 2008 R2 Enterprise SP1

[Rollbar] Reporting internal error encountered while sending data to

[2018-01-02 15:18] rivkahstandig3636 commented on #662
Hi @augustosamame, thanks for reporting this issue! We'll take a look into it.

[2018-01-15 01:14] arman-h opened #663 "Incompatible with 'sinatra/namespace' gem"
Hello all,

I'm trying to use the gem with a classic Sinatra app that's also using the [Sinatra::Namespace](http://sinatrarb.com/contrib/namespace) extension. However, the gem's patching of Rack::Builder seems to be interfering with the extension and causing an `ArgumentError`. I've tried disabling `rack_monkey_patch` option, but it didn't help.

Here's an example app to reproduce the behavior:

[

[2018-01-16 18:38] NoahFisher opened #664 "Middleware only renders Rollbar snippet on pages with 200 status code"
### Context:
We use statically generated error pages in rails to render custom errors. We use Rollbar to report custom errors on those pages (504 timeouts are the most useful error we log with this setup as we only have to generate the error page once, and serve the static version thereafter).

### Problem:
The rollbar middleware only injects the snippet on pages with a 200 html response, which me

[2018-01-17 19:00] rivkahstandig3636 commented on #664
Thanks for the report! We'll investigate.

[2018-01-17 21:25] NoahFisher commented on #664
I used a similar approach outlined in the comments of #569.

[2018-01-18 01:53] rokob commented on #662
This looks like a Ruby installation issue with respect to specifying where the SSL certificates live and not a Rollbar issue.

[2018-01-18 14:14] magicalbanana opened #668 "rescue_from being sent to Rollbar"
Does this gem not honor the `rescue_from` method? Because I have it in our code but for some reason, the exception is still being sent to Rollbar.

[2018-01-22 02:30] ArturMoczulski commented on #657
Resolved and ready for merging in https://github.com/rollbar/rollbar-gem/pull/669

[2018-01-22 16:21] magicalbanana commented on #668
Anyone? Been trying to figure this out for over a week now.

[2018-01-22 19:23] ArturMoczulski commented on #668
@magicalbanana I just investigated this issue. I was NOT able to reproduce the problem. `rescue_from` works as expected in my Rails app and it stops Rollbar gem from sending to Rollbar service.

I'm going to need more details on your situation to help here.

[2018-01-22 22:17] magicalbanana commented on #668
@ArturMoczulski interesting. Because it does with us though. Try raising a `RoutingError` exception because that's what we are trying to circumvent.

[2018-01-24 01:43] ArturMoczulski commented on #668
@magicalbanana Thanks for more info. I tried with `RoutingError` and still can't reproduce. Do you think you can do some more debugging on this issue on your side? I'd like to get to the bottom of this and solve the problem for you.

[2018-01-24 03:31] ArturMoczulski commented on #664
@NoahFisher I agree, the snippet should be rendered on any HTML response regardless of the status code. Here is a PR with your suggested change: https://github.com/rollbar/rollbar-gem/pull/670

[2018-01-24 03:32] #657 closed

[2018-01-25 00:11] ajtran opened #671 "Tracing through Libs and Modules"
[USER]:
I was hoping more for a way to just do the same thing that the loggings in a controller action do. If I log three times and look at the third log on Rollbar, I’ll see the previous two as part of the history of the third. In this case I want to continue by passing in the request/current_user as a scope or transform on the logger (perhaps in a before action to simplify) and then any further

[2018-01-25 00:56] kevinelliott commented on #671
Thank you. Looking forward to this.

[2018-01-25 21:32] thbar commented on #658
Once the work has started on this, I'll be able to do some testing on my side if you'd like (in particular to verify that the full content of the exception is there when they are rich).

[2018-01-28 01:07] ArturMoczulski commented on #658
@thbar This looks good to me. Do you want to submit a pull request? You said that your solution is not working with MRI. What problems are you running into?

[2018-01-28 01:33] ArturMoczulski opened #672 "Master build is failing on ruby-1.8.7"
More details here: https://travis-ci.org/rollbar/rollbar-gem/builds/332078680

This seems to be caused by gem `delayed_job-1.4.1`.

The error is:
[code]

[2018-01-29 10:09] thbar commented on #658
@ArturMoczulski I can submit a PR but this will take a bit of time due to my current heavy schedule, so please leave this opened in the mean time (unless someone else tackles this before).

My approach was a quick fix and needs more polishing, because of this:

[code]

You cannot refer to `java.lang.Exception` within MRI without raising an error, so the code needs to be a bit more careful than tha

[2018-01-30 01:05] ajtran opened #673 "Feature Request: Configure Rollbar Logger"
add a config option to make this output configurable:

internal: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/488687/conversations/14310092793

[code]

[2018-01-30 23:51] ArturMoczulski commented on #672
Fixed.

[2018-01-30 23:51] #672 closed

[2018-02-01 10:39] duksis opened #674 "Rollbar::Logger uses active_support/core_ext without depending on it"
Rollbar does not have ActiveSupport as
a runtime dependency in gemspec and it is
not required in Rollbar::Logger but is used.

way to reproduce:

[code]

can be worked around by requiring
`active_support/core_ext/object/blank`

[code]

[2018-02-01 21:35] AndrewSouthpaw opened #677 "Two errors produced from DelayedJob; one with stack trace, one without."
Hello, we're noticing some peculiar behavior where an uncaught exception from a DelayedJob produces two different errors in our Rollbar logs; one has a stack trace, one does not. The Rollbar support team directed me here to raise an issue on the repo.

We have two examples that we could link to, please message me privately at andrewsmith@alumni.stanford.edu for the links. I'll try to show as much

[2018-02-02 22:49] jjb commented on #225
`at_exit` can achieve this

http://ruby-doc.org/core-2.5.0/Kernel.html#method-i-at_exit

[code]

[2018-02-03 00:45] jjb commented on #225
here's a recipe i came up with. put this somewhere such as /lib or /app/lib:

[code]

Then include it from application.rb.

It doesn't work in an initializer -- I guess the railtie hooks are done being brought in at that point.

[2018-02-06 15:13] magicalbanana commented on #668
Hmm, yeah. I'll test it again today. Is there something we need to be aware when testing this on development with Rails?

[2018-02-06 15:14] magicalbanana commented on #668
Can I have a look at your config for Rollbar on rails?

[2018-02-06 19:30] rivkahstandig3636 commented on #653
Closed via #679

[2018-02-06 19:30] #653 closed

[2018-02-06 19:30] rivkahstandig3636 commented on #645
Closed via #679

[2018-02-06 19:30] #645 closed

[2018-02-07 07:40] ArturMoczulski commented on #668
Sure, although I'm not doing anything special.

`config/initializers/rollbar.rb`
[code]

[2018-02-07 09:50] ArturMoczulski commented on #677
@AndrewSouthpaw I sent you an email to take a look at your examples.

[2018-02-07 22:31] #662 closed

[2018-02-08 00:53] ArturMoczulski commented on #677
@AndrewSouthpaw I tried but wasn't able to reproduce the problem on my own. I'll wait to get the examples from you.

[2018-02-08 00:58] rivkahstandig3636 opened #680 "Update rollbar.js to the latest version"

[2018-02-08 01:15] #674 closed

[2018-02-08 01:21] ArturMoczulski commented on #680
Done

[2018-02-08 01:21] #680 closed

[2018-02-09 04:16] chenatuc commented on #117
+1 for this critical feature! This will save the engineers tremendous amount of time trouble-shooting issues.

[2018-02-12 10:29] ArturMoczulski commented on #237
@ajsharp I am working on implementing this right now. Should have a pull request ready sometime this week.

[2018-02-13 19:34] Laykou commented on #655
Hi, is there any idea how this could be done? We would really welcome this feature

[2018-02-14 15:17] rivkahstandig3636 commented on #655
Hi @Laykou, it's on our roadmap but not currently implemented. Follow along here for updates.

[2018-02-14 15:19] Laykou commented on #655
Thanks. Is there any expected timeline? E.g. within a week, month, year, after 10 years :D And also what about PHP plugin? Or should I ask in a PHP rollbar project?

[2018-02-15 02:01] ArturMoczulski commented on #668
I'm closing this for now. Feel free to reopen once you get more details on your issue.

[2018-02-15 02:01] #668 closed

[2018-02-16 01:28] troex opened #683 "Rollbar::Middleware::Sinatra not catching errors when streaming content"
Example:

[code]

[2018-02-16 01:58] troex commented on #683
figured myself how to catch

[code]

[2018-02-16 11:02] #659 closed

[2018-02-16 11:02] ArturMoczulski commented on #659
The PR for this has been already merged in.

[2018-02-16 12:33] ArturMoczulski commented on #664
This has been fixed in PR https://github.com/rollbar/rollbar-gem/pull/684

[2018-02-16 12:33] #664 closed

[2018-02-20 03:28] #237 closed

[2018-02-20 04:21] ArturMoczulski opened #686 "Fix failing jruby builds"

[2018-02-20 04:31] ArturMoczulski commented on #658
The fix and the test have been merged in the PR and will be included in the next tag release.

[2018-02-20 04:31] #658 closed

[2018-02-21 00:03] ArturMoczulski commented on #663
This is a `sinatra-contrib` vs `rake` conflict, not specific to `rollbar-gem`. The problem is described in more details here: https://github.com/sinatra/sinatra-contrib/issues/111

I'm working right now on a workaround, which I will include in the `README.md` for Sinatra projects.

[2018-02-22 00:56] ArturMoczulski commented on #663
@arman-h a workaround for your issue is to redefine `:namespace` method to go back what Sinatra intended. Change your `app.rb` to the following (the workaround follow Rollbar's `configure` invocation):

[code]

[2018-02-22 01:07] ArturMoczulski commented on #663
I added this information to `README.md`: https://github.com/rollbar/rollbar-gem/blob/master/README.md#note

[2018-02-22 01:07] #663 closed

[2018-02-22 01:30] ArturMoczulski commented on #661
@AndreiRailean I wasn't able to reproduce the problem. I confirmed that js exceptions are still reported to Rollbar after the Rails server is down. Do you think you can do more debugging on your side?

[2018-02-22 23:32] ArturMoczulski opened #689 "Clean up appraisals"
Running `appraisal install` is currently generating gemfiles that do not pass the Travis builds. It seems like some of them have been modified manually instead of using `Appraisals` file. We should clean this up sometime soon.

[2018-02-23 20:13] arman-h commented on #663
Thank you for the quick response and update, `instance_eval` workaround did the trick.

[2018-02-24 00:20] grosser opened #690 "Force sync sending of errors for "plain ruby" usecase"
when using async handling the error might get lost if the script stops, woul be great to be able to block sending `at_exit` error but still be able to use async handling for all other errors

Also: I'd recommend to update the plain-ruby example to this:

[code]

[2018-02-24 00:27] grosser opened #691 "support cheaper ignore in config.before_process"
Would be nice if returning `:ignore` or something like that worked too so I don't have to raise and exception, which is kinda expensive and pollutes debug output

[2018-02-24 01:38] ArturMoczulski commented on #656
This is resolved in https://github.com/rollbar/rollbar-gem/pull/688

[2018-02-24 01:38] #656 closed

[2018-02-24 03:15] ArturMoczulski commented on #654
I will need a copy of `sidekiq-pro` from Contrib Sys to resolve this issue. I'm in touch with them now and will update you soon.

[2018-02-24 03:46] mperham commented on #654
This sounds like a bug in Sidekiq Pro. Can you give us a backtrace?

[2018-02-24 23:03] mperham commented on #654
it would also be useful to know your versions of Sidekiq in use. timed_fetch is deprecated so you should upgrade and switch to super_fetch when possible.

[2018-02-26 04:34] ArturMoczulski commented on #649
I wasn't able to reproduce this issue. Here is my setup:

[code]

[2018-02-26 06:48] #615 closed

[2018-02-26 06:49] ArturMoczulski commented on #615
Fixed in https://github.com/rollbar/rollbar-gem/pull/692

[2018-02-26 19:21] rivkahstandig3636 commented on #691
Thanks for the suggestion @grosser!

[2018-02-26 22:46] ajtran opened #693 "failsafe: can't modify frozen NoMemoryError"
Failsafe from rollbar-gem. RuntimeError: "can't modify frozen NoMemoryError" in /home/deployer/smscontact/gems/gems/rollbar-2.15.5/lib/rollbar/notifier.rb:195:in `inspect': error in process_item

there is no orig_uuid.

internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/14873052534

[2018-02-28 14:49] michal-samluk commented on #649
@ArturMoczulski The issue is still present. I am attaching the file. Here's our charset we used:
[code]

[example.txt](https://github.com/rollbar/rollbar-gem/files/1767489/example.txt)

[2018-02-28 15:36] rivkahstandig3636 commented on #620
Closing this issue as we are unable to reproduce it.

[2018-02-28 15:39] rivkahstandig3636 commented on #655
@Laykou I don't have a specific timeframe; it's not our next scheduled milestone. Please ask about the other notifiers in the respective repos.

[2018-02-28 15:40] rivkahstandig3636 commented on #661
Closing as we are not able to reproduce the issue.

[2018-02-28 15:40] #661 closed

[2018-02-28 15:42] rivkahstandig3636 commented on #677
Closing as we are not able to reproduce the issue.

[2018-02-28 15:43] rivkahstandig3636 commented on #683
Thanks for the info @troex, we'll add this to the docs.

[2018-02-28 22:37] ajtran opened #694 "Failsafe: IOError: "not opened for reading""
user is receiving the below error:

[code]

internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/14915194144

[2018-03-01 17:06] AndrewSouthpaw commented on #677
@rivkahstandig3636 I did send Artur the examples, and didn't hear back after that. Was the repro unsuccessful?

[2018-03-01 17:59] rivkahstandig3636 commented on #677
Ah I appear to have misunderstood from @ArturMoczulski's comment. @ArturMoczulski should this be reopened?

[2018-03-04 21:02] brian-kephart opened #695 "SecureHeaders deprecation"
Ruby 2.5.0, Rails 5.2.0rc1

[code]

Deprecated method appears here:
https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/middleware/js.rb#L160

[2018-03-06 11:28] damienlethiec opened #696 "ActionController::RoutingError (No route matches [GET] "/verify"):"
Hello,

I often add rollbar to my projects without problems but this time it is not working:

Rails 5.2.0.rc1 (I have already been able to make Rollbar work in another rails 5.2.0.rc1 project).

When I run `rake rollbar:test`, I have an error (bellow).
[code]

+ When I generate an error in the app, nothing shows up in Rollbar dashboard.

Anybody know what is the problem?

Thank you

[2018-03-06 18:42] vfonic opened #697 "Can't get "person" information"
Hi,

I'm using rollbar on my heroku app, which is also a Shopify app. I have a helper method called `current_shop`. It's defined in one of app's helpers. In every controller I have:

[code]

I can use my helper method `current_shop` anywhere in controller and in views.
This is my rollbar configuration:
[code]

However, whenever the error gets reported to rollbar, I don't see any shop-related infor

[2018-03-08 21:21] brian-kephart opened #698 "(request) Support Rails 5.2 Content Security Policy"
The current implementation for using rollbar.js with this gem uses an inline script, which requires that the CSP (if any) allows 'unsafe-inline' scripts.

[Looking through the code](https://github.com/rollbar/rollbar-gem/blob/f4c1afc9e2b269e9e5298440581e8b76f6cb5ffa/lib/rollbar/middleware/js.rb#L141), it appears that this issue is already solved using a nonce for users of the secure-headers gem, b

[2018-03-09 13:33] RobWillison opened #699 "Roll bar seems to be logging Delayed Job errors twice"
Hi,

We are using delayed job with a max retry of 5 after which the delayed job is marked as failed. When the job errors for the 5th time the exception is reported twice once in the injoke_job hook and once in the failure hook. https://github.com/rollbar/rollbar-gem/blob/ffd4278332cc63b6dc29cde5fc3716793c455bec/lib/rollbar/plugins/delayed_job/plugin.rb#L13-L15

Is there are way to disable error re

[2018-03-09 13:39] RobWillison commented on #699
Just noticed the `::Rollbar.configuration.report_dj_data` config setting, ignore me.

Thanks

[2018-03-11 16:38] rivkahstandig3636 commented on #698
Thanks for the report!

[2018-03-12 20:13] johnpaulashenfelter opened #700 "502 Error comes through as raw text"
I was tracking down an error in our logs and found about 10 instances of this kind of message in the past two weeks (JSON from our lograge piped through to Sumologic)
[code]

The important part is this:

[code]
It seems pretty similar to this issue for the python client: https://github.com/rollbar/pyrollbar/pull/225

I believe this means whatever error was being sent is now replaced with that 502

[2018-03-16 18:49] rokob commented on #572
Does https://github.com/rollbar/rollbar-gem/blob/master/README.md#including-additional-runtime-data help here? The original question is hard to understand how to help. How can we self discover an arbitrary Ruby class?

[2018-03-16 18:58] ArturMoczulski commented on #572
@fguillen suggestion from @rokob is the way to go. Such feature is very specific to your circumstances and that's exactly what we implemented `custom_data_method` for. You can use your custom logic there to dump all of the exception object data into custom data.

[2018-03-16 18:58] #572 closed

[2018-03-20 17:11] danielbonnell opened #701 "Scope config.person_method to subdomain"
Hello,

This may be more of a feature request than a bug. I would like to be able to change the `config.person_method` that is assigned in `/config/initializers/rollbar.rb` dynamically. For example, if a user is on `foo.example.com` I want `config.person_method = 'current_employer'`, however if they are on `bar.example.com` I want `config.person_method = 'current_contact`. I've got two user models

[2018-03-20 17:52] rivkahstandig3636 commented on #697
@ArturMoczulski Could you take a look at this issue?

[2018-03-20 17:53] rivkahstandig3636 commented on #701
Interesting feature request! We'll add it to a future release.

[2018-03-20 17:54] rivkahstandig3636 commented on #699
We'll take a look into this.

[2018-03-20 17:55] rivkahstandig3636 commented on #696
@ArturMoczulski Could you take a look into this?

[2018-03-20 18:03] rivkahstandig3636 commented on #371
Closing as there has been no activity on this issue since 2016. If this is still an issue for anyone please let us know.

[2018-03-20 18:03] #371 closed

[2018-03-22 17:22] dadah89 opened #703 "Feature request: reporting error hook"
Hi all,

Recently was dealing with an internal error, and also noticed that sometimes I'd get 500 responses from the server (async). Was looking for hooks so I could track / monitor those situations, but couldn't find any. End up adding a code like this:

[code]

Would be really nice if there were hooks for async responses and internal errors when configuring Rollbar.

[2018-03-23 15:19] vasilyp commented on #649
Huh

[2018-03-23 16:55] rrrodrigo opened #704 "Wrong IP addresses on some items"
Hello!

Some of the errors from our app on Rollbar have wrong IP addresses. By wrong I mean either 127.0.0.1 or a non-public address, in case where the request causing the error came obviously from some place on the internet with a public IP address.

I looked at [rollbar_user_ip method in RequestDataExtractor module](https://github.com/rollbar/rollbar-gem/blob/v2.15.6/lib/rollbar/request_data_ext

[2018-03-28 16:04] ajtran opened #705 "Timestamp Error w/ Resque"
User noticed an issue with the Rails+Resque async feature.

The user paused their resque workers for 1 week. So no issue was sent to Rollbar. It's ok. Today the user reactivated workers and all waiting issues were immediately sent, which is the desired behavior.

However, the timestamp on these errors are the issue: the timestamp of the occurrences is the time when the occurrence was sent to Rollb

[2018-03-29 21:44] dignoe opened #706 "Rollbar .js injection not working"
I'm getting the error `[Rollbar] Rollbar.js could not be added because undefined local variable or method 'env' for #<Rollbar::Middleware::Js:0x007f99961a8088> exception`.
My initializer looks like:

    Rollbar.configure do |config|
      config.access_token = 'token'
      config.js_enabled = true
      config.js_options = {
        accessToken: 'another-token',
        captureUncaught: true,

[2018-03-29 21:50] dignoe commented on #706
Nevermind. We're monkey patching the `add_j?` method to not inject the script for bots (some Chinese bots were throwing an annoying number of js errors), and there was an error in our internal code.

[2018-03-29 21:50] #706 closed

[2018-03-31 17:27] thbar opened #707 "Gem release for 2.15.6 ?"
It looks like v2.15.6 is available as a [tagged release on GitHub](https://github.com/rollbar/rollbar-gem/releases/tag/v2.15.6).

Is it an official release?

If yes, I wonder why it's not appearing in the [changelog](https://github.com/rollbar/rollbar-gem/blob/master/CHANGELOG.md) and not on [rubygems](https://rubygems.org/gems/rollbar)?

For some context, I'm willing to deploy it to get a fix for

[2018-04-02 12:02] rivkahstandig3636 commented on #703
Thanks for the request!

[2018-04-02 12:08] rivkahstandig3636 commented on #707
Hi @thbar, it's an official release. We'll get that fixed! Sorry about that.

[2018-04-02 12:13] rivkahstandig3636 commented on #704
Thanks for the report!

[2018-04-02 23:50] jjb opened #708 "option to re-raise errors in some environments"
I would like the option to have rollbar raise errors that are passed in to `Rollbar.error` when in the dev environment. Would the project be amenable to such a feature?

(I thought I proposed this before and we had some discussion but I coudn't find it anywhere, it may have been in a support ticket. If you feel like taking a quick look for a support ticket under my name from many years ago, that m

[2018-04-03 17:22] ajtran opened #709 "Implementation of Rollbar Custom Fingerprinting"
User: this is for the community maintained repo - heroku/rack-timeout regarding their implementation of Rollbar Custom Fingerprinting. Their implementation was never updated for a change in the rollbar gem a while back. seems like that gem does not have a proper maintainer atm, but there is some discussion. I think it would help to have a a Rollbar developer familiar with this system recommend whe

[2018-04-03 18:03] stevenjonescgm commented on #709
https://github.com/heroku/rack-timeout/issues/122 is the referenced issue that would benefit from Rollbar's attention

[2018-04-03 21:09] alexdunae opened #710 "Allow passing the JS checkIgnore function"
Hi there -- I see in [the docs](https://rollbar.com/docs/filter-or-ignore-errors-from-bots/) that there's an option to filter script errors with a `checkIgnore` option.  Would it be possible to add as a config option to the gem?

[2018-04-04 00:42] brianr commented on #710
Have you tried https://github.com/rollbar/rollbar-gem#before-process-hook ?

[2018-04-04 00:45] alexdunae commented on #710
That looks like it’s for ignoring server-side errors and events -- is that right?.

I’m wanting to filter out client-side errors (specifically a bunch of `__firefox__.searchQueryForField is not a function` etc errors that Firefox is triggering)

[2018-04-04 00:50] brianr commented on #710
Ah, yes... in that case, I think your question really is how to set `checkIgnore` via [`config.js_options`](https://github.com/rollbar/rollbar-gem#integration-with-rollbarjs).

@rokob @ArturMoczulski any ideas?

[2018-04-04 15:04] Startouf opened #711 "Consider an integration with exception notifier"
The [exception notifier](https://github.com/smartinez87/exception_notification) gem allows to wrap several notifiers (email, slack, etc.). It would be nice to have a Rollbar notifier plugin for this gem

I know this can feel like a duplicate tool since Rollbar offers to some extent the same functionalities via the web interface, exception_notifier is agnostic and but you'd be able to very easily i

[2018-04-04 21:01] tthomas7 commented on #648
I would also appreciate this.

[2018-04-05 08:55] Startouf commented on #711
I'm in the process of writing a custom adapter but it seems all rollbar requests are sent in duplicates. If I understand well, there is a railties that already adds the Rollbar as some kind of middleware.
Until supported, I'll need to monkeypatch to disable this integration since I want to have control of Rollbar notifications via Exception notifier

[2018-04-10 17:41] rafaelcgo commented on #621
Is there a possibility to only ignore "ActionController::RoutingError" for specific urls (let's say, a blacklist of urls)?

[2018-04-10 22:36] KieranP commented on #694
Same here:

[code]

[2018-04-11 11:52] rivkahstandig3636 commented on #621
@rafaelcgo You'll want to use the before process hook instead: https://docs.rollbar.com/docs/ruby#section-before-process-hook

[2018-04-11 14:37] rafaelcgo commented on #621
@rivkahstandig3636 I would need to regex match the `message` with the blacklisted urls and then raise `Rollbar::Ignore` if needed? Is that correct?

[2018-04-11 19:05] rafaelcgo commented on #621
@rivkahstandig3636 Actually `message` was nil, I could extract the message from the exception.

My solution:

[code]

[2018-04-14 09:11] koss-lebedev opened #712 "Rollbar.js doesn't work with SecureHeaders"
Hello guys,

I found that Rollbar.js seems to have issues loading when `SecureHeaders` gem adds CSP policies. I see this error in logs:

`[Rollbar] Rollbar.js could not be added because undefined method 'current_csp' for #<SecureHeaders::Configuration:0x00000006bccfe0> exception`

 Is there a CSP rule that has to be added, or is this a known bug? Thank you

Full details:
[code]

[2018-04-18 09:07] DMA57361 opened #713 "2.15.6 crash on Rails deploy at rollbar:sourcemap stage"
TLDR: Moving from 2.15.5 to 2.15.6 has added a new `rollbar:sourcemap` stage to my capistrano deploys, which crashes unless I add a `rollbar_sourcemaps_minified_url_base` config value (even though I have no meaningful value to set on most of our apps).

Below is relevant bit from the `bundle exec cap production deploy --trace` (partly anonymised):

[code]

Having had a glance at the top of the bac

[2018-04-18 13:37] noelrappin commented on #713
Me too

[2018-04-19 09:04] yoonwaiyan opened #714 "Could not find generator 'rollbar'"
Hi there, I'm having problem while generating rollbar.rb file in my new Rails 5.2 app. I've double checked the Gemfile included rollbar gem and bundle install is working.

[code]

Tried to view the list of rails generators and Rollbar is not included in the list.
[code]

[2018-04-19 10:10] yoonwaiyan commented on #714
This is a weird problem though, I've tried on a brand new sample app using Rails 5.2 trying to replicate this issue but I have no luck. Not sure if the generator is having a conflict with another Ruby gem or what that may cause this issue as I have a similar issue with delayed job gem. Is there any pointer I can try debug on this app?

[2018-04-19 10:16] yoonwaiyan commented on #714
Ok I think it's related to my laptop cache or something else, I moved my entire directory to another name and it worked magically. Closing this issue for now, but if there's any reason behind this I'm very interested to know.

[2018-04-19 10:16] #714 closed

[2018-04-20 01:57] yoonwaiyan commented on #713
Same here. Looking at the codebase seems like putting a default value to the `fetch` will do the trick: `url_base = fetch(:rollbar_sourcemaps_minified_url_base, nil)`.

[2018-04-20 09:07] michaelglass commented on #707
it's now released

[2018-04-23 16:14] #707 closed

[2018-04-24 17:42] rivkahstandig3636 opened #718 "Add items per minute config option"
Similar to rollbar.js, the max number of items to report per minute. The limit should count uncaught errors and any direct calls.

[2018-04-24 17:45] rivkahstandig3636 opened #719 "Add capture uncaught config option"
Similar to rollbar.js, the ability to turn on/off uncaught error reporting.

[2018-04-24 17:47] rivkahstandig3636 opened #720 "Add max items config option"
Similar to rollbar.js maxItems

[2018-04-24 17:48] rivkahstandig3636 opened #721 "Add log level config option"
Similar to rollbar.js `logLevel`

[2018-04-24 17:49] rivkahstandig3636 opened #722 "Add scrub whitelist config option"
Similar to Rollbar-PHP's `scrub_whitelist`: an array of fields that you do NOT to be scrubbed even if they match entries in scrub_fields.

[2018-04-24 17:52] rivkahstandig3636 opened #723 "Telemetry support"
Similar to telemetry in rollbar.js.

This needs to include the config options for enabling/disabling telemetry and scrubbing telemetry data.

[2018-04-25 08:12] ArturMoczulski opened #724 "Mock out Redis in tests instead of requiring a running Redis instance"
When I run `rake spec` on `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]` I get the following test failure:

[code]

The test suit shouldn't require a running Redis instance.

The reference to the Redis instance should be replaced with a mock object.

[2018-04-25 14:22] roeltm opened #725 "Apps without assets can't be deployed anymore"
Since v2.15.6 there is a new task being executed after the `deploy:compile_assets` task, which is defined in the [capistrano-rails gem](https://github.com/capistrano/rails):

https://github.com/rollbar/rollbar-gem/blob/7b140beed71602f620c54e9d84521ab50fc8d565/lib/rollbar/tasks/rollbar.cap#L68

First of all, this appears to create a very strong dependency on (capistrano-)rails which might be intend

[2018-04-25 15:59] CodingAnarchy commented on #713
This just caused me some headaches too.

[2018-04-25 16:43] rivkahstandig3636 commented on #700
We will take a look into this, sorry for the delay!

[2018-04-25 16:44] rivkahstandig3636 commented on #709
We will take a look into this, sorry for the delay!

[2018-04-25 16:44] rivkahstandig3636 commented on #711
We will take a look into this, sorry for the delay!

[2018-04-25 16:44] rivkahstandig3636 commented on #712
We will take a look into this, sorry for the delay!

[2018-04-25 16:44] rivkahstandig3636 commented on #713
We will take a look into this, sorry for the delay!

[2018-04-25 16:45] rivkahstandig3636 commented on #725
We will take a look into this.

[2018-04-26 18:05] rokob commented on #709
I would advise that gem to stop monkey patching Rollbar for the custom fingerprinting and instead just advise via the docs on a custom fingerprint to add via the Rollbar UI.

[2018-04-26 18:11] #709 closed

[2018-04-26 19:17] rivkahstandig3636 opened #726 "Only collect person.id by default for person tracking"
Allow the ability to send person.email and person.username, but by default we should only collect person.id going forward.

@ArturMoczulski This is a top priority.

[2018-04-26 19:18] rivkahstandig3636 opened #727 "Allow IP collection to be easily turned on and off in config"
Keep the default IP collection what it is now, but allow the ability to turn IP collection off in the config.

@ArturMoczulski  This is a top priority.

[2018-04-26 19:25] rivkahstandig3636 opened #728 "Anonymize IP address config option"
We need to allow users the option of collecting IP addresses and anonymizing them. Let's anonymize the IPs as described here: https://support.google.com/analytics/answer/2763052

@ArturMoczulski  This is a top priority.

[2018-04-27 19:30] marunbai commented on #712
I tried a change to update `::SecureHeaders::Configuration.get.current_csp[:script_src].to_a.include?("'unsafe-inline'")` to `::SecureHeaders::Configuration.get.csp.script_src.to_a.include?("'unsafe-inline'")`

but I am not sure what is the original intention to use `current_csp` instead of `csp`. I tested it in secure header version 5.0.5 and it does not have a `current_csp` method anymore in `::

[2018-04-29 09:26] koss-lebedev commented on #712
`current_csp` was replaced by `csp` about 2 years ago in version 3.4, here's the commit in which they got rid of it:

https://github.com/twitter/secure_headers/commit/893d6e9aa9a4177c24c36b87dcfac2d7c4ad8ef7

[2018-05-01 23:29] rivkahstandig3636 opened #731 "Point docs from README to Rollbar's site"
Keep the basic getting started info, then link to Rollbar's docs.

[2018-05-02 23:55] jjb opened #733 "Discarding original exception when reporting failsafe"
in these places:

* https://github.com/rollbar/rollbar-gem/blob/51b637167c26015571ecc154dac96dcadb4efe04/lib/rollbar/notifier.rb#L148-L155
* https://github.com/rollbar/rollbar-gem/blob/51b637167c26015571ecc154dac96dcadb4efe04/lib/rollbar/notifier.rb#L236-L243
* https://github.com/rollbar/rollbar-gem/blob/51b637167c26015571ecc154dac96dcadb4efe04/lib/rollbar/notifier.rb#L411-L416

When an exception

[2018-05-05 05:55] defkode commented on #487
this can also written even shorter:

[code]

[2018-05-06 02:07] ArturMoczulski commented on #726
This is addressed by https://github.com/rollbar/rollbar-gem/pull/715

[2018-05-06 02:11] #726 closed

[2018-05-06 07:55] ArturMoczulski commented on #727
Done in https://github.com/rollbar/rollbar-gem/pull/735

[2018-05-06 07:55] #727 closed

[2018-05-10 22:42] sixfeetover commented on #725
I just hit this as well, but the app I'm working with _does_ compile assets. I had to move the `require 'rollbar/capistrano3'` line to be _after_ `require 'capistrano/rails/assets'`.

[2018-05-11 00:56] amasses commented on #725
We also have this issue - our App is API based, so no assets, and in order to make this work we had to add the following **before** the `require 'rollbar/capistrano3'` line:

[code]

[2018-05-11 23:56] #728 closed

[2018-05-12 04:31] ArturMoczulski opened #737 "Match logic for capture_email, capture_username, capture_ip and anonymize_ip with pyrollbar"
https://github.com/rollbar/pyrollbar/pull/262/files

Modify logic for **capture_email, capture_username, capture_ip and anonymize_ip** to match pyrollbar logic as much as possible.

[2018-05-16 14:35] cbillen opened #738 "Capistrano deploy fails if no compile assets present"
In our project we do not use the asset pipeline, the 2.15.6 version of the gem seems to require this, here's the exception trace we get if we try to deploy with 2.15.6, went back to 2.15.5

[code]

[2018-05-16 16:32] cbillen commented on #738
The problem is that there’s an assumption about compile assets being present then doing the source map upload, but because we use webpack externally as part we leave this step to webpack to handle the sourcemap.  Maybe there should be a test to make sure deploy assets is present before trying this post deploy:compile_assets callback?

[2018-05-17 03:44] ArturMoczulski commented on #677
@AndrewSouthpaw @rivkahstandig3636 sorry for confusion. yes, this needs to be reopened and still addressed. I'm putting it into the `v2.17.0` milestone.

[2018-05-17 14:01] tisba commented on #713
Has this issue been resolved by v2.16.0? There are no updates to the CHANGELOG, only the [release page](https://github.com/rollbar/rollbar-gem/releases/tag/v2.16.0) has some info but none specific to this issue here.

[2018-05-17 15:14] rdunlop commented on #713
no, this is issue is not resolved. We are still hitting it on 2.16.0 @tisba

[2018-05-18 16:56] bnekolny opened #741 "Recursive Rollbar submission condition can crash the process"
We had an issue where some of our rails processes were crashing occasionally. After doing a bit of investigation we realized that it was in a code path where we were rescuing from errors within the `current_user` method.

Rollbar uses a default of `current_user` to populate `person_data`, but regardless of the `person_data_method` if an application attempts to submit an error within a rescue block

[2018-05-20 10:14] rivkahstandig3636 commented on #741
Thanks for reporting this! We'll investigate.

[2018-05-20 21:37] neohunter commented on #713
So apparently this is fixed by adding:

[code]

to `config/deploy/production.rb`

However after doing that, the error not appears but this step on deploy:

[code]

[2018-05-21 00:19] westonplatter commented on #713
I forked the rollbar repo and commented out the source maps upload feature to remove issue. https://github.com/westonplatter/rollbar-gem

[2018-05-21 10:28] tomdracz commented on #713
Just opened #742 that should fix it. Still makes it dependant on capistrano rails assets task but at least it doesn't blow up now if the value of :rollbar_sourcemaps_minified_url_base is not provided or falsey

[2018-05-21 12:45] rivkahstandig3636 commented on #733
That sounds good to me. What do you think @ArturMoczulski?

[2018-05-21 21:31] sdhull opened #746 "JSON body params not available in rollbar"
No idea what it's related to exactly and I don't have time to debug the gem unfortunately, however I can tell you this:
* we're using ember.js on the frontend
* `ACCEPT` & `CONTENT_TYPE` headers are both set to "application/vnd.api+json"
* `params` shown in rollbar only reflect route information (controller, action, id) and are completely missing the JSON from the request body
* rollbar gem versio

[2018-05-23 11:13] TimStrietzel opened #748 "CHANGELOG.md doesn't cover latest version "2.16.0""
On the rollbar website we get the hint:
_rollbar-gem version 2.16.0 is now available. (This project is currently using version 2.15.5)._

But on the linked changelog ( https://github.com/rollbar/rollbar-gem/blob/master/CHANGELOG.md ) the latest release notes only cover v "2.15.6" and not "2.16.0" , yet.

Please add new release notes to the changelog, otherwise this discrepancy is quite confusing.

[2018-05-23 11:15] rivkahstandig3636 commented on #748
Thanks for the feedback! We're working on fixing this. We're moving from using Changelogs to just using release notes. This will be updated later this week.

[2018-05-23 11:15] #748 closed

[2018-05-23 11:16] rivkahstandig3636 commented on #746
Hi there, Can you upgrade to the latest version of the gem and see if this is still an issue for you? If it is we can re-open this issue.

[2018-05-23 11:16] #746 closed

[2018-05-23 11:22] #140 closed, assigned to rokob

[2018-05-23 11:23] #175 closed, assigned to ArturMoczulski

[2018-05-23 11:23] #176 closed, assigned to jondeandres

[2018-05-23 11:24] #193 closed, assigned to rokob

[2018-05-23 11:25] rivkahstandig3636 commented on #451
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:25] #451 closed

[2018-05-23 11:26] rivkahstandig3636 commented on #474
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:26] #474 closed

[2018-05-23 11:26] rivkahstandig3636 commented on #497
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:26] #497 closed

[2018-05-23 11:26] rivkahstandig3636 commented on #509
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:26] #509 closed

[2018-05-23 11:27] rivkahstandig3636 commented on #524
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:27] #524 closed

[2018-05-23 11:27] rivkahstandig3636 commented on #542
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:27] #542 closed

[2018-05-23 11:27] rivkahstandig3636 commented on #544
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:28] rivkahstandig3636 commented on #545
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:28] #545 closed

[2018-05-23 11:28] rivkahstandig3636 commented on #551
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:28] #551 closed

[2018-05-23 11:28] rivkahstandig3636 commented on #568
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:29] rivkahstandig3636 commented on #569
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:29] #569 closed

[2018-05-23 11:29] rivkahstandig3636 commented on #573
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:29] #573 closed

[2018-05-23 11:29] rivkahstandig3636 commented on #577
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:29] #577 closed

[2018-05-23 11:29] rivkahstandig3636 commented on #583
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:29] rivkahstandig3636 commented on #590
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:29] #590 closed

[2018-05-23 11:30] rivkahstandig3636 commented on #606
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:30] rivkahstandig3636 commented on #611
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:30] #611 closed

[2018-05-23 11:31] rivkahstandig3636 commented on #614
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:31] rivkahstandig3636 commented on #617
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:31] #617 closed

[2018-05-23 11:31] rivkahstandig3636 commented on #619
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:31] #619 closed

[2018-05-23 11:31] rivkahstandig3636 commented on #622
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:31] #622 closed

[2018-05-23 11:31] rivkahstandig3636 commented on #623
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:31] #623 closed

[2018-05-23 11:32] rivkahstandig3636 commented on #624
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:32] #624 closed

[2018-05-23 11:32] rivkahstandig3636 commented on #625
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:32] #625 closed

[2018-05-23 11:32] rivkahstandig3636 commented on #632
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:32] rivkahstandig3636 commented on #643
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:32] #643 closed

[2018-05-23 14:41] santi-h commented on #568
Hi @rivkahstandig3636, is there any way to display the stacktrace of a `Rollbar.error(msg)` call that we're not aware of? If not then this is still an issue for us

[2018-05-23 16:39] coryvirok commented on #583
Reopening so that we can get coverage info reported to Codacy.

[2018-05-23 16:58] sajmoon opened #749 "Release notes for 2.16.0"
On my dashboard I am presented with a message to upgrade to 2.16.0 with a link to the release notes.

The link takes me to the Changelog.

The Changelog is not updated.

Neither in 2.16 https://github.com/rollbar/rollbar-gem/blob/v2.16.0/CHANGELOG.md nor in master https://github.com/rollbar/rollbar-gem/blob/master/CHANGELOG.md

[2018-05-23 16:59] rivkahstandig3636 commented on #749
Thanks for the feedback! We're working on fixing this. We're moving from using Changelogs to just using release notes. This will be updated later this week.

[2018-05-23 16:59] #749 closed

[2018-05-23 18:03] cabello commented on #614
This is still an issue for me... I actually tweeted at Rollbar recently asking for an update.

[2018-05-23 18:14] tomsparks commented on #601
Yes, this is still an issue.

[2018-05-24 13:51] odayvhl opened #750 "Scrubber retains password lengths"
The rollbar gem masks sensitive data like passwords in HTTP requests intercepted but the length of the password is still known. Instead of replacing each character with a "*" can the rollbar gem replace the whole thing with "[FILTERED]"?

[2018-05-24 13:55] rivkahstandig3636 commented on #750
@ArturMoczulski @rokob What are your thoughts on this?

[2018-05-24 16:25] AbigailMcP opened #751 "Scrubbing X-Forwarded-For header when collect_user_ip = false"
As added in the most recent release, I'm setting `config.collect_user_ip = false` to turn off IP collection.

Works great! Only thing is, I would expect this option to also scrub the `X-Forwarded-For` header?

I also can't find any mention of this new config option in the documentation anywhere?

[2018-05-25 10:38] ArturMoczulski commented on #741
@bnekolny thanks for submitting. This needs to get thought through and a solution prepared. I'm moving this to milestone `v2.18.0`

[2018-05-25 10:40] ArturMoczulski commented on #725
A solid solution for this needs to be prepared. I know that some of our users took a shot at this already, but without much success. I'm moving this to this current milestone `v2.17.0` and will come up with a fix soon.

[2018-05-25 11:03] ArturMoczulski commented on #712
The code changes to use `csp` instead of `current_csp` need to be implemented here. I'm adding this to milestone `v2.17.0`

[2018-05-25 11:22] ArturMoczulski commented on #751
I believe the `X-Forwarded-For` header should get scrubbed in this case as well. We are having a conversation about this with the team. I believe this is an urgent issue so I'm moving to the current milestone `v2.16.1`

[2018-05-29 06:56] #751 closed

[2018-05-29 07:00] ArturMoczulski commented on #750
This can be easily configure with `randomize_scrub_length`:

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/scrubbers.rb#L6

[2018-05-29 07:00] #750 closed

[2018-05-30 07:33] Adales commented on #568
I am using Rollbar and have the same problem. I can:
A - send logs when app crashes manually and attach custom data which is super helpful
B - trust that you will report crash correctly and provide stacktrace but there is no additional data
it's iOS client so symbolication is an issue, I can't just dump stack trace into txt myself.

So question is:
1 - can I ask for stacktrace to be added to messa

[2018-06-01 12:54] djurre commented on #139
Whitelisting would still be a very useful feature for us, so it would be great if this could be reopened.

[2018-06-01 21:20] timoteialbu opened #753 "Errors in background threads are not recorded"
I looked through your open and closed issues and could not find anything similar.

Take the following code:

[code]

That 'raise' is never recorded by Rollbar. I contacted Rollbar chat support and they suggested enabling `config.use_async = true` but that did not solve our issue either, so I was told to open a issue on here. Please advise.

Thank you!

[2018-06-04 11:26] rivkahstandig3636 commented on #753
Thanks for the report! We'll take a look into this.

[2018-06-05 15:23] petevk opened #755 "Publish 2.16.1 to rubygems"
I'm not sure if this is the place to report this, but can the 2.16.1 release get pushed to rubygems? The newest version seems to be 2.16.0 right now.

Actually, it looks like the version in `lib/rollbar/version.rb` is still 2.16.0. Does this mean this is the latest version? Why are there release notes for 2.16.1?

Thanks!

[2018-06-06 14:44] rivkahstandig3636 commented on #755
Hi there, This has been released on rubygems, sorry about that!

[2018-06-06 14:44] #755 closed

[2018-06-07 20:10] fcheung commented on #632
Hi, I just ran into this in a small sinatra app with rollbar 2.16.2- gigabytes of errors of the form

[code]

( The underlying error was caused by https://github.com/sinatra/sinatra/issues/1441 but I don't think that is super relevant)

[2018-06-15 19:26] n00ge opened #756 "Ignoring @app.call() in other middleware on error"
Is there a way to "ignore" a line in Rollbar stacktrace highlights? Right now, with middleware I'm using for a project, it always highlights the @app.call(env) call even though that's not where the error occurred. I don't think I want to use [silencing](https://docs.rollbar.com/docs/ruby#section-silencing-exceptions-at-runtime) as it seems like that would ignore all errors in the app because they'

[2018-06-18 13:32] marcospy commented on #606
@rivkahstandig3636 I'm having the same issue here using rails 5.1.1. With a brief investigation I've figured out that the implementation of commands changed in the new Rails version. Take a look at https://github.com/rails/rails/blob/master/railties/lib/rails/commands.rb and https://github.com/rails/rails/blob/master/railties/lib/rails/commands/runner/runner_command.rb, they are very different fro

[2018-06-19 12:54] rivkahstandig3636 commented on #606
@ArturMoczulski Any thoughts?

[2018-06-25 21:04] jjb commented on #733
Would you like me to take a stab at this?

[2018-06-26 08:44] rivkahstandig3636 commented on #733
That would be great @jjb!

[2018-06-26 12:06] morgoth opened #758 "anonymize_user_ip persists full IP in headers"
For the Rails applications, when this options is enabled, the full IP address is still present in headers, ie `X-Forwarded-For` and `X-Real-Ip`.

I'm wondering if it should be handled by the gem or by hand by developers. Then I guess some note in docs would be helpful.

[2018-06-26 12:37] rivkahstandig3636 commented on #758
@ArturMoczulski @rokob What are your thoughts on this?

[2018-06-26 17:33] ArturMoczulski commented on #758
We should anonymization for both. I will address this right away.

[2018-06-27 05:36] brian-kephart commented on #712
Maybe or maybe not related: I'm getting the following error:
`[Rollbar] Rollbar.js could not be added because undefined method 'get' for SecureHeaders::Configuration:Class`

I don't call `get` directly in my configuration file:
[code]

This seems like a different issue than the ones in the later comments, but I'm posting it here because it directly relates to the issue title. Feel free to move it

[2018-06-27 09:23] morgoth opened #759 "Active Job adapter for delivering errors"
Would it be possible to add support for AJ adapter for delivering errors?
It's missing now https://github.com/rollbar/rollbar-gem/tree/master/lib/rollbar/delay

I think it would be a nice addition for Rails apps

[2018-06-28 04:01] brian-kephart commented on #712
Confirmed that the `get` method was removed in secure_headers 6.0.0. Rollbar calls that method [here]( https://github.com/rollbar/rollbar-gem/blob/f4c1afc9e2b269e9e5298440581e8b76f6cb5ffa/lib/rollbar/middleware/js.rb#L160).

[2018-06-29 08:50] ArturMoczulski commented on #758
Fixed. Will be released in the next tag.

[2018-06-29 08:50] #758 closed

[2018-06-29 08:52] morgoth commented on #758
Thank you

[2018-07-05 10:40] vinoths86 opened #762 "in rollbar i am running the command in terminal "bundle exec rollbar-rails-runner 'puts User.count'" throwing error .rvm/gems/ruby-2.3.1@learnbolt/gems/rollbar-2.16.2/lib/rails/rollbar_runner.rb:39:in `read': No such file or directory @ rb_sysopen"

[2018-07-05 11:40] vinoths86 commented on #762
any body aws dynamodb in rails how to configure and how to use in console

[2018-07-07 15:59] dylancopeland commented on #713
This bug seems to still be present in 2.16.2 despite the [release notes](https://github.com/rollbar/rollbar-gem/releases/tag/v2.16.1) for 2.16.1 saying it was fixed. The last working version for our application is 2.15.5.

Am I missing something?

[2018-07-08 06:42] okeren-ww opened #763 "Ignoring specific errors in Rollbar based on a substring in RoR"
I have an issue where there are 3 different errors thrown. All 3 have a certain substring in their message which indicates for me that I should ignore it.
For Example:

    E_type1::UpdateError
    E_type2::CreationError
    E_type3::EditError

I would like to add to rollbar's `exception_level_filters` a lambda which ignores all three errors if they include a specific substrings. This is what I ha

[2018-07-09 07:41] morgoth opened #764 "2.16.3 is missing on Rubygems"
There is a tag pushed https://github.com/rollbar/rollbar-gem/commit/87d23b962c9a3df0c3aec4f1ea10c194077ab715
but no gem https://rubygems.org/gems/rollbar

[2018-07-12 13:21] ArturMoczulski commented on #764
Thank you for pointing this out. This has been addressed now.

[2018-07-12 13:21] #764 closed

[2018-07-16 02:14] ArturMoczulski commented on #762
I'm not sure what this issue is about @vinoths86 can you try to write a more descriptive comment?

[2018-07-16 02:21] ArturMoczulski commented on #756
Not sure if I understand correctly. Do you want to remove selected frames from the stack trace?

[2018-07-16 02:33] ArturMoczulski commented on #763
How about you assign a proc to a variable and reuse that variable like so:

[code]

Can you check if that work for you? I'm not 100% that proc and lambda are interchangeable here.

[2018-07-20 02:15] ArturMoczulski commented on #710
Added to the upcoming release

[2018-07-20 02:20] ArturMoczulski commented on #694
Added to the upcoming release

[2018-07-20 02:22] ArturMoczulski commented on #700
Not sure what this is about. @rokob any idea why the servers would respond with 502 like that?

[2018-07-20 02:38] ArturMoczulski commented on #699
Will address in the upcoming release

[2018-07-23 19:52] grosser opened #765 "Session key should not be send to rollbar by default"
Atm rollbar sends the session id which can be replayed to log in as every user that ever had an error 😱

`Samson::Application.config.session_options.fetch(:key)`
... but that won't work since rollbar initializer often comes before session (alphabetical) ... so idk how to fix that generally, but it's super scary imo ...

fixed this for our app here https://github.com/zendesk/samson/pull/2861 by def

[2018-07-23 19:52] grosser commented on #765
/cc @adammw

[2018-07-30 02:26] #139 closed, assigned to ArturMoczulski

[2018-07-30 07:59] djurre commented on #139
Great, thanks!

[2018-07-30 17:11] sandrods commented on #696
Same problem here.
Rails 5.2
Ruby 2.5.1

Any hints?

(Not a very good start... )

[2018-08-07 22:25] ajtran opened #767 "Can't Call Configure Multiple Times"
internal - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/17885869159

a user is having this issue:

"This is a small ruby project where we want to also use Rollbar for our error reporting. This configuration is working for me, but a second call to it (such as in a debugging/pry session, after initialization) doesn't have any impact"

code to reproduce what is happening
[

[2018-08-07 23:09] ChaoticBoredom commented on #767
I was the person originating the issue, please let me know if there's anything else I can do to help with resolving this. :)

[2018-08-07 23:58] jessewgibbs commented on #731
This is done.

[2018-08-07 23:58] #731 closed

[2018-08-08 00:13] #711 closed

[2018-08-08 00:13] jessewgibbs commented on #711
Marking this as `wontfix` as we're not going to be able to consider this any time soon.

[2018-08-08 00:17] jessewgibbs commented on #756
Closing this since there's been no response in nearly a month.

[2018-08-08 00:17] #756 closed

[2018-08-08 00:18] #762 closed, assigned to ArturMoczulski

[2018-08-08 01:24] brianr commented on #767
@ChaoticBoredom If you know that you are calling it a second time, you can use `Rollbar.reconfigure` instead. Will that work for your situation?

[2018-08-08 01:26] brianr commented on #767
The other thing you can do, if you just want to add custom data to any future payloads, is use `Rollbar.scope!` or a `Rollbar.scoped` block - that's designed for this purpose. The docs attempt to explain this at https://docs.rollbar.com/docs/ruby#section-the-scope

[2018-08-08 05:55] okeren-ww commented on #763
So apparently this didn't work, and neither did setting a lambda function for each exception type.
Rollbar could not compute this type of configuration and in fact completely dismissed *every* single error of the type which was attached a lambda/proc.
It did this without notifying an issue with the config, or at least it did but we could not find it at all.

The conclusion on our part is that you

[2018-08-08 15:31] ChaoticBoredom commented on #767
@brianr I was explicitly using it in a debugging context here, and could not assign any values using `configure`. Is this known and expected? I didn't see anything about `reconfigure` in the docs when I was trying to understand what was happening, and in a Rails project, this worked as is, no different commands needed.

[2018-08-09 17:31] rivkahstandig3636 opened #768 "Ability to send arguments with exception in active job plugin"
See this PR for more info #505

[2018-08-09 19:23] rivkahstandig3636 opened #769 "Create docs for sucker_punch integration"

[2018-08-09 19:31] rivkahstandig3636 commented on #769
Never mind, just found them.

[2018-08-09 19:31] #769 closed

[2018-08-15 20:52] fredngo commented on #544
Hey! Still seeing this:

[code]

[2018-08-17 15:52] r-obert opened #770 "How do I scrub `body.trace.extra.error_message` ?"
Hello,

`body.trace.extra.error_message` contains not just a backtrace, but also other information about the request, including its environment. The environment includes, among other things, `PASSENGER_CONNECT_PASSWORD`, which I do not want to send to rollbar.

How can I make sure `PASSENGER_CONNECT_PASSWORD` is not sent to rollbar?
Are you sure it is safe and a good idea to print all this extra i

[2018-08-17 16:00] r-obert commented on #770
other data being sent is `action_dispatch.secret_key_base`, it is included in this same field: `body.trace.extra.error_message`

[2018-08-17 16:39] r-obert commented on #770
sorry, my mistake, i was sending this extra info myself! sorry for the noise.

[2018-08-17 16:39] #770 closed

[2018-08-17 18:13] rivkahstandig3636 commented on #770
Glad you were able to figure it out @r-obert!

[2018-08-18 08:46] ArturMoczulski commented on #765
@grosser can this be closed now?

[2018-08-18 08:53] ArturMoczulski commented on #544
@fredngo okay, I'm on it

[2018-08-18 09:17] ArturMoczulski commented on #544
After updating rollbar-gem dependency to the latest release `v2.16.4`, I don't see this error anymore in https://github.com/fguillen/RollbarWarningTest

@fredngo can you explain in more details how you are reproducing the problem?

[2018-08-18 11:02] grosser commented on #765
should be fixed in rollbar since I'd assume almost every app using rollbar will send each users session-ids to rollbar which means anyone with access to rollbar can login as each user

[2018-08-20 15:17] fredngo commented on #544
@ArturMoczulski Hi Artur, I am actually seeing this message when writing a Rails Engine inside a RubyGem, and then running tests with `rake`.

This is a fairly complex gem for a client so I can't just post the code, but the basic gist is this:

In `my_engine.gemspec` I have:

[code]

and then inside `lib/my_engine/engine.rb` I have:

[code]

I also have a Roller configuration file inside `config/i

[2018-08-21 17:01] ajtran opened #771 "Duplicate Exception for Configuring Rails.logger to extend Rollbar::Logger"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/17883415297

The user is getting dupes of the same exception, one at the error level, one at the critical level for this configuration:
[code]

[2018-08-28 11:44] #768 closed

[2018-08-29 09:58] ArturMoczulski commented on #771
This is expected behavior actually.

The first time, the exception is being reported through the default middleware mechanism. This is more complete reporting that will include Rails context information.

The second time, Rails logger logs a message about the exception to Rails' log. Since it has been extended with `Rails.logger.extend`, that logging will also trigger a report to Rollbar with the

[2018-08-29 09:58] #771 closed

[2018-08-29 13:13] ArturMoczulski commented on #767
I'm not able to reproduce this at all. @ChaoticBoredom from what I understand this is not currently a blocking problem for your development, right? If so, let's reopen this issue when it becomes more problematic or when there is more information.

[2018-08-29 13:13] #767 closed

[2018-08-29 13:15] ArturMoczulski commented on #544
@fredngo thx! Back to solving this now

[2018-08-29 14:14] ArturMoczulski commented on #544
This is fixed now in `master` and will be released in `v2.18.0`

[2018-08-29 14:14] #544 closed

[2018-08-29 14:48] ArturMoczulski commented on #765
This is a conversation we should bring @brianr @coryvirok and @rokob to this conversation. I believe our approach with all SDKs right now is to send all of the session data unless you configure the SDK otherwise. I agree with you @grosser that we should probably scrub that by default, but I need a broader view to see what impact is that going to have on the utility of error reports.

I believe ses

[2018-08-29 14:58] ArturMoczulski commented on #759
@morgoth I believe that's available as a plugin here https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/plugins/active_job.rb

All you have to do is include it in your `ActiveJob` implementation like so:

app/jobs/application_job.rb
[code]

Let me know if this helps. If you have further questions, please comment and I'll reopen the issue.

[2018-08-29 15:57] ArturMoczulski commented on #753
@timoteialbu What kind of app is this? Rails? Or simple Ruby?

If simple Ruby, are you adding Rollbar reporting to you exception handling logic?

In plain Ruby apps, uncaught exceptions will not get auto-magically reported. You have to add reporting in your exception handling logic.

[2018-08-29 15:57] #753 closed

[2018-08-29 16:16] ArturMoczulski commented on #738
This has been addressed in `v2.16.1` by removing source map uploads for now

[2018-08-29 16:16] #738 closed

[2018-08-29 16:37] ArturMoczulski commented on #737
Looking back I think this is fine how it is.

[2018-08-29 16:37] #737 closed

[2018-08-29 17:29] ArturMoczulski commented on #733
Done in `master` and will be released in `v2.18.0`.

[2018-08-29 17:29] #733 closed

[2018-08-29 19:01] esaborit4code commented on #771
Thanks for the explanation, @ArturMoczulski.

I think it would be nice to mention this behaviour in the docs (https://docs.rollbar.com/docs/ruby#section-logger-interface) as it may be unexpected for others.

In addition, I realized that the duplicated critical errors are reported as two separate items: a first one containing the error message and a second one with the traceback (not as traceback b

[2018-08-30 16:55] jessewgibbs commented on #765
This sounds like something we should consider across all our SDKs.  I agree w/ @ArturMoczulski that session-id should probably be filtered by default, especially in light of GDPR.

[2018-08-30 17:07] grosser commented on #765
I'd say GDPR is the smaller issue, having something in the logs that any
person with access to rollbar can use to log in as any user in the app is
super scary.

On Thu, Aug 30, 2018 at 9:55 AM Jesse Gibbs <notifications@github.com>
wrote:

[2018-09-03 09:09] morgoth commented on #759
@ArturMoczulski I was thinking about a way to deliver errors by AJ and not reporting errors in AJ.
So having configuration option, something like:
`config.use_active_job` that would use any background job backend that is configured in AJ

[2018-09-04 13:55] jondeandres commented on #713
@dylancopeland I've been taking a look at this and https://github.com/rollbar/rollbar-gem/issues/725, which are caused by https://github.com/rollbar/rollbar-gem/pull/678. That PR was reverted on https://github.com/rollbar/rollbar-gem/pull/747 and there is no more references to sourcemaps in the capistrano task.

Maybe you didn't really upgrade the rollbar gem so it's still trying to upload the com

[2018-09-05 15:09] jondeandres commented on #695
This can be closed, https://github.com/rollbar/rollbar-gem/pull/730.

[2018-09-05 15:09] #695 closed

[2018-09-06 20:08] ajtran opened #775 "Net::ReadTimeout"
internal - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/18369851469

When would Rollbar gem report `Net::ReadTimeout` and is this an error with the user's set up that can be fixed?

[2018-09-06 20:10] jessewgibbs commented on #775
@jondeandres any ideas about this?

[2018-09-06 23:04] ArturMoczulski commented on #775
@ajtran `read_timeout` threshold can be set in the configuration. Increasing it might resolve the issue. But more likely, we will need more information about the data that is being reported to Rollbar. Can you try to find out what the user is trying to report?

[2018-09-07 15:28] #713 closed

[2018-09-07 15:28] #725 closed

[2018-09-07 15:29] jondeandres opened #778 "Upload assets after deploy"
We need to implement the solution here https://github.com/rollbar/rollbar-gem/pull/678 but not breaking the deploys for projects not using Rails

[2018-09-07 21:35] ArturMoczulski commented on #703
Documentation on usage can now found here: https://docs.rollbar.com/v1.0.0/docs/gem-configuration-reference

[2018-09-07 21:42] ArturMoczulski commented on #701
This seems like a very project specific request and I believe an easy way to achieve that would be by putting the appropriate resolution logic based on subdomain in your business logic. Consider the following pseudo-code:

[code]

[2018-09-09 08:46] ArturMoczulski commented on #699
@RobWillison this can be achieved by setting
[code]
in your `config/initializers/rollbar.rb`

This way Rollbar will only report the error on `:failure` hook and not report on `:invoke_job` hook.

[2018-09-09 08:46] #699 closed

[2018-09-09 09:06] ArturMoczulski commented on #697
@vfonic what are you returning from `current_shop`. Rollbar doesn't blindly add whatever you return from `person_method`. In fact it runs `person_id_method`, `person_email_method` and `person_email_method` on whatever was returned from `person_method`.

Here is the implementation:
https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/plugins/rails/controller_methods.rb#L8-L22

[2018-09-09 09:06] #697 closed

[2018-09-09 13:51] vfonic commented on #697
@ArturMoczulski `current_shop` returns an instance of Shop ActiveRecord model. It contains `id` and `email` attributes. For the `username`, I edited the Rollbar configuration, as pointed out above, to return `shopify_domain`.

I just checked in the Rollbar, and it seems to be reporting correctly now. :)

Thanks for following up!

[2018-09-09 13:54] danielbonnell commented on #701
I'll have to test it out but it looks like it should do the trick.

[2018-09-13 19:59] lastobelus opened #780 "What would it take to use oj 3.x?"
oj 3 is pretty mature at this point, and offers advantages for rails projects.

[2018-09-13 20:29] lastobelus commented on #780
(it's possible there is no issue, and the rails_51.gemspec is just out of date, as using `gem "oj"` with `gem "rollbar"` does not pin oj, we'll see if I have any reporting issues running rollbar in production)

[2018-09-14 02:56] #712 closed

[2018-09-14 16:51] jessewgibbs commented on #780
Hey @lastobelus - Can you try this out as you described in your last comment and reopen the issue if you run into problems?

[2018-09-14 16:51] #780 closed

[2018-09-17 16:29] jondeandres commented on #704
@rrrodrigo can you provide us few examples with all the available IP headers you can find in your occurrences?

It sounds pretty complicated find a solution that will work for everyone, unless we add a configuration option that takes precedence over the default behavior. Also, if you explain us a bit more about your web architecture we might be able to understand better what to do

[2018-09-18 14:31] jondeandres commented on #696
Hi there, I couldn't reproduce the problem with a fresh installation of rails5.2 and ruby 2.5.1. Can you try that in your environments?

We'd need more information to try to resolve this issue. Running `bundle exec rake middleware` and pasting the output might help to identify if a middleware can be causing a problem. Also, if there is some special configuration related to the routes, hosts, etc..

[2018-09-18 14:51] jondeandres commented on #694
This is related to a bug in active_support, https://github.com/rails/rails/issues/26132. It's gonna be complicated prepare a fix in the gem for it, but there are ways to try to avoid the problem.

For this we'll need some debugging work and we'd need to know the `item.payload` on `Rollbar::Notifier#send_item`.

Also, it seems this might be fixed on more recent versions of rails https://github.com/

[2018-09-18 15:12] jondeandres commented on #693
This looks to be an error while logging an exception trying to send an occurrence. That action failed, it was tried to be logged and the logging action also failed. Looking at the exception what I conclude is that that server didn't have enough memory.

If there are not important consequences related to this I'd vote for closing the issue.

[2018-09-18 15:12] #693 closed

[2018-09-19 12:35] ArturMoczulski opened #781 "Fix timeouts in Travis builds on bundle install"

[2018-09-19 12:40] jondeandres commented on #677
Hey @AndrewSouthpaw, sorry for the delay. We were wondering if you are using the rails logger integration we have, something like this in one initializer:

[code]
Also, these items are happening in development or a production environment?

[2018-09-19 16:31] ajtran commented on #705
@josephpage, I heard back from the rest of the team.

And there are all sorts of problems that get introduced by allowing the customer to send the canonical timestamp so we decided to keep it simple and use the time the data sent it to us.

Here’s some light reading on the subject - https://www-conf.slac.stanford.edu/xldb2016/talks/published/Weds_4_Pjesivac-Grbovic_Data_Processing_With_Apache_Beam

[2018-09-19 16:31] #705 closed

[2018-09-19 22:55] joesustaric commented on #632
We have experienced this issue as well.
Our app is using Sinatra v2.0.3 and rollbar gem v2.17.0

I've been able to recreate the error quite easily.. it will continue to fill the logs until our instance runs out of disk space or until the connectivity is regained with the rollbar api.

Thanks for looking at this.

[2018-09-20 13:43] #775 closed

[2018-09-21 01:18] jessewgibbs commented on #704
I'm going to close this pending a response from @rrrodrigo.

[2018-09-21 01:18] #704 closed

[2018-09-21 01:20] jessewgibbs commented on #700
@jondeandres any ideas for what's going on here and how we might troubleshoot it?

[2018-09-21 01:21] jessewgibbs commented on #696
I'm going to close this issue pending feedback from one of the participants.

[2018-09-21 01:23] jessewgibbs commented on #677
I'm going to close this pending feedback from @AndrewSouthpaw.

[2018-09-21 01:23] #677 closed

[2018-09-21 12:37] jondeandres commented on #700
Those Rollbar errors seems to be caused by an intermittent issue in our API on that specific moment.

[2018-09-21 12:37] #700 closed

[2018-09-25 14:52] ArturMoczulski commented on #701
I'm closing the issue for now.

[2018-09-25 14:52] #701 closed

[2018-09-25 15:06] ArturMoczulski commented on #691
@grosser I'm not sure I understand. You want to be able to trigger ignoring by returning `:ignore` instead of having to raise `Rollbar::Ignore`?

[2018-09-25 15:44] grosser commented on #691
yes, since that would be far cheaper (cpu/memory) than raising+catching an
exception

On Tue, Sep 25, 2018 at 8:12 AM Artur Moczulski <notifications@github.com>
wrote:

[2018-10-03 16:41] jessewgibbs opened #782 "Update Deploy API wrapper to support status property"
See https://docs.rollbar.com/v1.0.0/reference#post-deploy for details of the new options for this API.

[2018-10-07 23:38] dadah89 commented on #703
@ArturMoczulski thanks for the change, appreciate it!

[2018-10-10 00:09] jessewgibbs commented on #683
Solution published at https://docs.rollbar.com/v1.0.0/docs/sinatra.  Thanks @troex for the contribution!

[2018-10-10 00:09] #683 closed

[2018-10-12 09:16] gingerlime commented on #616
I know this is an old issue, but I'm looking at a similar issue now. Essentially, only report errors after a certain number of retries, so trivial errors that "self-heal" can be ignored.

I can see that there's a config to set a threshold for the number of failures before they get reported to Rollback, but this seems to cover (only?) Delayed Jobs

Is there something equivalent for Sidekiq without

[2018-10-12 15:59] ajtran commented on #723
here's an internal conversation about this - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/18996242809

The idea here is to capture the syslogs generated from rails. This would allow a user to see the events that lead up to the exception. I think this would be something similar to telemetry in javascript, thus leaving this comment and conversation here.

"...if the syste

[2018-10-17 01:16] dmmartins commented on #649
This happens on `RequestDataExtractor#extract_request_data_from_rack` that's used on rails middleware.
That method `Rollbar::JSON.dump(raw_body_params)` and it will fail if body has 'invalid' data.

That's probably a ruby bug, as `JSON.dump("\xed")` should return `"\u00ed"`, not raise an exception.

[2018-10-18 06:35] dhunnapotha opened #784 "Sidekiq with failover as Delay::Thread is not working as expected"
Below is the rollbar config I have
[code]
When the redis server is down, I was expecting the Delay::Thread to be called and it would send the exception to rollbar service. But, that isn't happening.

When I looked further, I found [here](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/notifier.rb#L673-L683), that a failover handler will be called only when an exception is raised whi

[2018-10-18 16:35] jessewgibbs commented on #784
@ArturMoczulski can you take a look at this?

[2018-10-23 17:51] filipemenezes commented on #696
I am facing the same issue using Rails API.

[2018-10-23 19:50] WenInCode commented on #606
I'm seeing this on an app running Rails `5.1.6`. @marcospy seems to have found the underlying issue.

[2018-10-26 09:34] gingerlime commented on #568
Also bumped into this. For now, I'm using something similar to this as a workaround

[code]

[2018-10-30 22:02] dwegman opened #787 "application stack traces not appearing in Rollbar for errors in development mode"
I've been having trouble getting application stack traces to show up in my Rollbar errors recently.  Here is an example of an error, `NoMethodError: undefined method `*' for nil:NilClass`, which was caught by Rollbar: https://rollbar.com/ValorWater/Aquifer/items/1842/occurrences/57186663629/.

This is happening in my development environment. I have noticed that in my staging environment, the same

[2018-10-31 16:06] jessewgibbs commented on #787
@dwegman thanks for the detailed report.

@ArturMoczulski can you investigate?

[2018-11-12 11:44] artemf opened #790 "Rails `rails generate rollbar` fails in Rails 5"
Have just installed rollbar gem. I'm seeing an error with just running
[code]
in a pretty fresh Rails 5.1 app.

Error:
[code]

The issue is, `ActiveRecord::ConnectionAdapters::ConnectionManagement` [was removed from AR 5](https://github.com/rails/rails/pull/23807).

Can you please help me? Maybe I'm just missing something? can't believe the gem doesn't work with rails 5.

[2018-11-12 17:50] jessewgibbs commented on #790
@ArturMoczulski can you take a look into this?

[2018-11-13 14:17] simonc commented on #545
Hi. This still an issue 😊

[2018-11-22 14:34] lsanchezv33 opened #791 "Don't know how to build task 'rollbar:test' (see --tasks)"
Hi!, I have had a problem with Rollbar, I have a project in production, the automatic notifications worked perfectly and from one moment to the next they were not sent again, the project handles clients and it is necessary, if something fails, to know what happened. if i throw controlled errors with Rollbar.error(e) works normal.

This is my Gemfile:

source 'https://rubygems.org'
git_source(:gith

[2018-12-05 14:12] gbrylinski opened #793 "Whitelisting doesn't work (for me)"
### Before #792

Before this patch, whitelisting was working properly except situation when `config.filter_parameters` was set for Rails application. `config.filter_parameters` is supposed to list fields that are *blacklisted* and should be excluded/scrubbed from logs, reports, etc. Pre #792 code adds content of `config.filter_parameters` to blacklist as well as whitelist what can lead to passing

[2018-12-05 17:39] rokob commented on #793
What you are describing is the `scrub_all` option. The `scrub_whitelist` indeed does not work correctly with this option as I just realized. `scrub_whitelist` is the list of things not to scrub, but it does not imply to scrub everything but what is on that list. It is intended as a means of excluding from scrubbing things that are already set in `scrub_fields` most often by including some framewor

[2018-12-05 18:54] rokob commented on #793
I'm going to make the whitelist work with scrub_all before the next release. To get the behaviour you are describing you would set scrub_all to true, then specify the scrub_whitelist to have the keys you do not want scrubbed. If scrub_all is not set to true, then scrub_whitelist will be keys that do not get scrubbed even if they are in scrub_fields.

[2018-12-05 20:40] gbrylinski commented on #793
Thanks @rokob, use of `scrub_all` + `scrub_whitelist` makes perfect sense. I have no idea how often `scrub_all` is used but mutually exclusive white/black lists feel more common and simpler to understand. Intuitively, to scrub all fields I would simply use empty white list.

[2018-12-06 23:18] jessewgibbs commented on #781
@ArturMoczulski is this still an issue?

[2018-12-11 10:36] maszuDEV opened #796 "Rollbar-gem does not attach JS snippet when secure_headers gem used."
Hi everyone,

I came across the following problem:

When I try to use both Rollbar-gem and Secure Headers together, rollbar-gem does not attach js snippet (Rollbar.js). When I remove Security Headers - everything is ok. There is no error at all.

So far, I have not been able to find the cause and have not found any working solution.
Did any of you have a similar problem?

[code]

[2018-12-11 22:19] jessewgibbs commented on #796
@maszuDEV thanks for bringing this to our attention.

@ArturMoczulski can you investigate?

[2018-12-14 17:35] jessewgibbs commented on #793
@ArturMoczulski  @rokob should we still consider this PR or was this already addressed in 2.18.2?

[2018-12-14 22:12] ArturMoczulski commented on #793
I believe this has been addressed in #795 and the changes are included in `v2.18.2`

[2018-12-14 22:12] #793 closed

[2018-12-16 18:13] artemf commented on #790
Tried with a fresh new rails app:
1. Created fresh new 5.1.6 rails app
2. Added `rollbar` and `oj` gems  to Gemfile as [per docs](https://docs.rollbar.com/docs/ruby). Then `bundle install`
3. Run `rails generate rollbar ...`

The same result as in the first post:
[code]

Actually, none of the other rails tasks (like `rake routes` or `rails s`) work and fail with the same error as this code from ro

[2019-01-02 19:20] #778 closed

[2019-01-03 10:43] ArturMoczulski commented on #796
Thanks for reporting @maszuDEV however I am not able to reproduce the problem. I've just created a new `rails:5.2.1` app with `rollbar-gem:v1.8.2` and `secure_headers:6.0.0` on `ruby:2.3.1`. Errors are being reported to Rollbar as expected.

I'm closing the issue for now, but can you tell me more about your `rollbar-gem` configuration? I'll reopen once we get to the bottom of what is happening in

[2019-01-03 10:43] #796 closed

[2019-01-03 10:50] ArturMoczulski commented on #791
Are you running `rake rollbar:test` in your Rails app directory or the `rollbar-gem` directory? This command is intended to be run from the rails app directory.

[2019-01-03 16:38] ArturMoczulski commented on #790
It looks like you're using a very outdated version of the `rollbar-gem` at `0.12.15`. The file `lib/rollbar/railtie.rb` does not exist in `master` anymore.

Please, update your `rollbar-gem` to the latest release and the problem should be fixed.

[2019-01-03 16:38] #790 closed

[2019-01-03 21:13] ArturMoczulski commented on #784
Thanks for reporting @dhunnapotha

This has been fixed in `master` and will be including in the upcoming release

[2019-01-03 21:13] #784 closed

[2019-01-03 21:23] jessewgibbs commented on #606
@ArturMoczulski could you investigate this issue?

[2019-01-11 13:25] johannesluedke opened #797 "[bug] Receiving API reject 400 for some requests when using Ruby 2.6.0"
For some error from my rails application, I get an error entry at rollbar

[code]

Request
[code]

How can this be fixed?

the request body length is ~ 65,527 characters

[2019-01-11 16:57] jessewgibbs commented on #797
@johannesluedke we'll investigate.

@jessicahsieh could you verify that the payload is properly formed and that the request body is within the acceptable length for our API?

[2019-01-11 17:18] benhutton commented on #797
We hit this as well.

@johannesluedke did you start getting this after switching to ruby 2.6.0?

See https://mensfeld.pl/2019/01/exploring-a-critical-netprotocol-issue-in-ruby-2-6-0p0-and-how-it-can-lead-to-a-security-problem/

We switched back to 2.5.3 and the problem went away. Looks like 2.6.0 isn't ready for production use yet....

[2019-01-11 18:42] jessicahsieh commented on #797
@johannesluedke could you show me your configuration and account/project name so i can investigate?

@jessewgibbs ill look into it. @letaniaferreira and i have been in contact with @benhutton via intercom and looks like the issue is related to ruby 2.6.0 although havent had a change to look into what is causing it. the payload is getting formatted properly for most of the errors but not all.

[2019-01-14 00:15] rokob commented on #568
The thing stopping the easiest implementation is that the API spec does not allow both a trace and a message as part of the body of the item payload. So If you wanted the item to be a message, i.e. have `data.body.message` with information, then you can't also have `data.body.trace` which is where we would put the stacktrace. So we have two options that I see:

1. Convert a message to a trace if `

[2019-01-14 11:04] johannesluedke commented on #797
@jessicahsieh I wrote you a message via within rollbar.

--
@benhutton we use rollbar for a while now, and saw this error first on Jan 10, after we switched to Ruby 2.6.0 in the beginning of the year. So yes, it could be related. If Ruby 2.6.1 were out yet, one could try to upgrade to it

[2019-01-15 19:59] jessewgibbs commented on #797
@johannesluedke @benhutton any update on whether there's a new Ruby release yet that solves this problem?   I'm inclined to treat this as a known issue vs. trying to fix it since it seems like Ruby isn't behaving as expected.

[2019-01-15 20:24] benhutton commented on #797
@jessewgibbs there is no new Ruby release yet. The fix has been made, but the code hasn't been released as a new version yet.

As for whether or not you should try to fix things for the rollbar gem

1. If you did fix it, I still wouldn't upgrade to ruby 2.6.0. Too many unknowns at this point. I'm waiting til 2.6.1 regardless. But I don't know that that should matter...
2. You could see how many of

[2019-01-15 20:56] waltjones commented on #781
@ArturMoczulski can you let us know what Ruby version you are using?

[2019-01-15 21:21] rokob commented on #781
I think this was related to just sporadic travis build failures that were happening in the past. We can probably close this and make it part of the more general "fix the tests" issue.

[2019-01-15 22:18] jessewgibbs commented on #797
@benhutton thanks for the guidance on this.  We've issued a warning to our customers advising against using Rollbar with Ruby 2.6.0 until the maintainers release the fix to https://bugs.ruby-lang.org/issues/15472.

[2019-01-15 22:55] jessewgibbs opened #798 "Test/document using rollbar-gem in AWS Lambda"
https://aws.amazon.com/blogs/compute/announcing-ruby-support-for-aws-lambda/ - This was introduced late November 2018.

[2019-01-17 17:11] ArturMoczulski commented on #781
@waltjones in the past travis builds would sporadically fail during the `bundle install` step. However, I haven't seen it happening in a while thus we can close this issue for now and come back to this if comes up again. Especially, after the tune ups you just did to the build matrix

[2019-01-17 17:11] #781 closed

[2019-01-17 18:13] waltjones commented on #781
Yes, the timeouts I saw (all JDK builds) are fixed now.

[2019-01-17 18:47] waltjones commented on #686
Current JRuby status for RSpec test matrix:
* Travis supports these JVMs, which now load correctly: openjdk7, openjdk8, oraclejdk8, oraclejdk9
* We have been attempting to build Travis targets jruby-18mode and jruby-19mode. These currently fail on dependency version errors. I have not found any past build where they succeeded. (Not the RSpec suite, just the JRuby itself getting through bundle inst

[2019-01-17 19:10] waltjones commented on #791
I have looked at this using all the same versions:
Ruby version: 2.3.0, Rails version: 5.0.6, Rollbar version: 2.15.5, Rake version: 12.3.0

`bundle exec rake rollbar:test` works both before and after `rails generate rollbar`.

Here are several things you can check:
* Spelling. Make sure there's not a typo in the task name.
* If you installed your gems using bundler, use `bundler exec` to run the

[2019-01-17 19:10] #791 closed

[2019-01-17 22:43] jessewgibbs commented on #686
@waltjones thanks for the update.  Unless there are further things you want to fix, I think we can close this issue.

[2019-01-17 22:45] jessewgibbs commented on #787
@dwegman I'm closing this issue since we haven't heard back from you. If you're still encountering it, please let us know.

[2019-01-17 22:45] #787 closed

[2019-01-18 06:19] ArturMoczulski commented on #782
Implemented and merged into `master`

[2019-01-18 06:19] #782 closed

[2019-01-20 03:58] ArturMoczulski commented on #798
Ready for review

[2019-01-21 07:13] #798 closed

[2019-01-21 07:35] ArturMoczulski commented on #759
@morgoth this is available already. Here is how you enable reporting through DJ:
`config.use_delayed_job`

There are also other job handlers:
`config.use_sidekiq`
`config.use_resque`
`config.use_shoryuken`
`config.use_thread`
`config.use_sucker_punch`

Enabling any of the above will result in reporting through a background job backend.

Does this answer your question?

[2019-01-21 08:44] ArturMoczulski commented on #759
I see. So you mean, you would like us to support ActiveJob as an abstract and not necessarily a specific implementation, is that correct? So that you don't have to reconfigure Rollbar at all and only rely on what is configured in Rails as the AJ implementation. Did I get that right?

[2019-01-21 08:46] morgoth commented on #759
Yes, exactly :)

[2019-01-21 21:55] waltjones commented on #686
Current JRuby is now enabled in Travis for Rails 5.x. See related PR for details.

[2019-01-21 21:55] #686 closed

[2019-01-21 22:42] waltjones commented on #606
This is fixed by https://github.com/rollbar/rollbar-gem/pull/803.

[2019-01-21 22:42] #606 closed

[2019-01-22 18:44] #797 closed

[2019-01-26 00:47] jessewgibbs commented on #696
Reopening this one.  @waltjones can you investigate when you get a chance?

[2019-01-28 20:45] rromanchuk commented on #797
Has anyone tried patching this with confirmed fix before downgrading?

[2019-01-29 09:13] jasdeepgosal opened #812 "sidekiq_threshold not working sometimes"
We use the sidekiq_threshold configuration parameter to ignore temporary errors that recover automatically. We currently have it set to 3 jobs but it seems like some of these errors in our workers still end up being reported to Rollbar.

Here's an example of the occurrence details from Rollbar for a `Net::ReadTimeout: Net::ReadTimeout` that happened once that I would've expected not to have been r

[2019-01-29 17:25] rromanchuk commented on #797
I deployed a patch reopening `protocol.rb` with the single line change from core, temporarily, so far so good.

https://gist.github.com/rromanchuk/0b239ca4a31bd67c12c566250501837b#file-protocol-rb-L51

[2019-01-29 19:14] jessewgibbs commented on #812
@jasdeepgosal thanks for providing such a detailed report.

@waltjones can you investigate when you get a chance?

[2019-01-29 23:53] waltjones commented on #797
The bug is specific to multi-byte characters. (The length is erroneously calculated based on characters instead of bytes.)

There are two apparent ways to work around in rollbar-gem.
1) If we try to avoid it using MAX_PAYLOAD_SIZE, Ruby IO#write_nonblock doesn't guarantee a size that won't get split. It's platform dependent, and can also be affected by system interrupts, and I'm sure other factors

[2019-01-30 02:10] waltjones commented on #812
Hi @jasdeepgosal, are you using any other Sidekiq middleware or Sidekiq error handlers? It is possible for another Sidekiq middleware to modify the retry information for the job. And what version of Sidekiq are you using?

Thank you!

[2019-01-30 09:39] jasdeepgosal commented on #812
From our Gemfile.lock: sidekiq (5.2.2) / sidekiq-pro (4.0.4)

Here is our sidekiq config:

[code]

`SidekiqRetryMonitor::Middleware` is a custom piece of middleware that only reads the job information, [here is the source](https://gist.github.com/jasdeepgosal/1b73198cb681c9e3182e1bfda0426141).

Running `bundle exec sidekiq -v` shows the following (reformatted for readability):

[code]

Thanks!

[2019-01-30 20:08] sdhull opened #813 "Rollbar should offer option to write payload to application log"
Honestly I cannot for the life of me understand why #425 was merged.

There were 2 issues in the past asking for _opposite_ default behavior (#63 & #66 respectively).

A discussion should have ensued to figure out what offers the most flexibility and what is the desired default behavior. (Instead, the first group of people were told "don't worry, this is already how it works" and the second group

[2019-01-30 20:36] sdhull commented on #813
Ugh since we have Rollbar disabled, I wasn't even clear on _what kind of logging_ it does. After enabling it locally I realize this still isn't really what I want. I don't care about metadata about the stuff I send to Rollbar, I care about the actual content that was sent.

Basically, if I have some code

[code]
And I have Rollbar disabled in development, I will never know if my method raised. Thi

[2019-01-31 00:10] waltjones commented on #583
With the linked PR, this is working now.

[2019-01-31 00:10] #583 closed

[2019-01-31 00:12] waltjones commented on #698
With the linked PR, this is available on master, and in the next release.

[2019-01-31 00:12] #698 closed

[2019-01-31 17:15] jessewgibbs commented on #813
@sdhull thanks for the detailed summary of the issue.  #425 pre-dates the current maintainer team, but the folks involved are still here so we can definitely pull them into a discussion.

@waltjones what do you think should be the best way to configure Rollbar in your dev environment such that exceptions aren't sent to Rollbar but are not suppressed either?

[2019-01-31 18:18] sdhull commented on #813
FWIW, I added this monkeypatch yesterday to our codebase (in the rollbar initializer that also sets up config):
[code]

[2019-01-31 23:49] waltjones commented on #813
@sdhull, I will take a look and will post here to get your feedback.

[2019-02-01 05:16] brandoncc commented on #797
Is this fixed now that 2.6.1 is out?

[2019-02-01 17:40] waltjones commented on #797
@brandoncc Yes, this is fixed in 2.6.1.

For 2.6.0, PR https://github.com/rollbar/rollbar-gem/pull/814 is currently pending, and may be included in the next rollbar-gem release.

[2019-02-02 00:37] waltjones commented on #696
@damienlethiec @filipemenezes @thermistor

Thank you for these reports. I have not been able to reproduce, even when using exactly Rails 5.2.0.rc1, and ensuring that spring is running and routes are loaded before running the rake task. I have considered it might be related to an earlier version of spring, but spring has been at 2.0.2 since well before Rails 5.2.0 and the initial issue report.

If

[2019-02-04 09:54] ArturMoczulski commented on #812
@jasdeepgosal I'm looking into this today. I will update you shortly

[2019-02-04 17:51] ArturMoczulski commented on #812
@jasdeepgosal I belive that your issue is the `Rollbar.error` call in the Sidekiq's error handler. `rollbar-gem` should be reporting job failures according to the threshold out of the box. If you added `Rollbar.error` in your Sidekiq `error_handlers` I would assume Sidekiq will call it on each failure regardless of the `sidekiq_threshold` config option which would be the problem you are describing

[2019-02-04 17:59] #741 closed

[2019-02-05 14:05] jasdeepgosal commented on #812
Thanks! Yeah, it does make sense.

I'll try it out and let you know what happens.

[2019-02-07 09:06] arthurio opened #818 "Malformed url"
I'm using sinatra with `rackup`:

I added some debug logs in [`rollbar_url`](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/request_data_extractor.rb#L124):

[code]

Result:

[code]

I think `REQUEST_URI` needs to be replaced with `REQUEST_PATH` in the [`rollbar_url` method of `request_data_extractor.rb`](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/request_data_e

[2019-02-07 10:06] jasdeepgosal commented on #812
That change appears to have resolved the issue for us.

Thanks!

[2019-02-07 10:06] #812 closed

[2019-02-07 16:54] waltjones commented on #818
Hi @arthurio,

It is unfortunately hard to find proper documentation for `REQUEST_URI` in Rack environments. I will refer to the Rack source, because while this is covered in blog posts and such, it doesn't seem to be covered in the Rack docs as it should be.

https://github.com/rack/rack/blob/7420be230f73ed350fb0aea612d0ea98cb451778/lib/rack/handler/scgi.rb#L40

`REQUEST_URI` is the concatenation

[2019-02-07 17:07] waltjones commented on #696
@damienlethiec @filipemenezes @thermistor

We have a fix now. See https://github.com/rollbar/rollbar-gem/pull/816, or try setting `config.cache_classes == true` in your Rails config.

I discovered that my problems reproducing were caused by using `bundle exec rake` rather than `bin/rake`, so that is a workaround as well.

[2019-02-07 17:35] thermistor commented on #696
Nice work

[2019-02-07 18:09] waltjones commented on #696
@thermistor thank you for mentioning spring.

[2019-02-08 00:09] arthurio commented on #818
Indeed, I didn't find anything helpful... I'll admit that I'm not a Ruby expert but looking at various blog posts, the `REQUEST_URI` seems to often be the full url (e.g. `http://www.example.com/test?ok=1`) as opposed to the path + query string as you would expect.

We don't have any other middleware that would change its value and a pretty simple sinatra setup so I'm wondering if it's just the def

[2019-02-08 00:09] #818 closed

[2019-02-08 00:37] waltjones commented on #818
I did try this on a minimal Sinatra 2.0.5 setup and confirmed the expected value for `REQUEST_URI`. If you let me know the version of Sinatra you're using, I can try that as well.

[2019-02-08 00:41] arthurio commented on #818
We are on `1.3.6`.

[2019-02-08 00:55] waltjones commented on #818
Thank you, I'll take a look.

[2019-02-10 16:30] drewB commented on #699
Is there a way to set the threshold on a per job class basis or per queue?  For example, some jobs we would want the error reported right away and others we would want to set a higher threshold.

[2019-02-11 20:50] waltjones commented on #699
Hi @drewB, can you open a new issue for this, and describe your use case? This will also make it easier for others to comment on the proposed change.

Thank you!

[2019-02-11 22:12] waltjones commented on #813
@sdhull, after reviewing this, I have a few comments and a proposed solution.

It is by design that the gem doesn't try to log the payload of the notifier event. This is consistent with the other Rollbar SDK adapters, and the intended design. Instead, hooks are provided at various stages of processing of the event. The `transform` hook (at `config.transform`) is probably best for your needs. You w

[2019-02-12 17:40] waltjones commented on #648
@and-megan, @tthomas7, The gem writes metadata to this object (specifically `person_data`) before it is serialized, requiring it to be accessed as a hash. Can you elaborate on how you want to use this?

[2019-02-12 17:47] waltjones commented on #818
@arthurio, I'm seeing your format of `REQUEST_URI` when using WEBrick. (As opposed to, for example, Puma.) As a workaround, consider Puma or another web server for your Sinatra app.

I'll look into a fix for rollbar-gem. Thank you for the report.

[2019-02-12 17:50] arthurio commented on #818
Ok I'll take a look at that, thanks!

[2019-02-12 17:59] waltjones commented on #632
@joesustaric,

Can you say more about how you are doing this? I am able to produce a single failure and log entry, but not a runaway looping or recursive condition that would fill up the log file as described.

[2019-02-12 19:58] #696 closed

[2019-02-12 20:38] and-megan commented on #648
@waltjones I wrote this up when I was working in Rollbar support so it's been awhile since I've worked with the gem!

IIRC this would be useful in the case you just wanted to solely use the rollbar-gem, rather than using the rollbar.js SDK in tandem, and you wanted to use rollbar.js functionality. For example, the `checkIgnore` function would be useful https://docs.rollbar.com/docs/reduce-noisy-ja

[2019-02-12 21:53] waltjones commented on #648
@and-megan,thank you for the context!

[2019-02-12 21:55] joesustaric commented on #632
Sure @waltjones .
If I remember correctly all I did was disable internet access from the machine running the app to simulate that the rollbar API was offline or unreachable etc..
Then attempt to report an error..

Then watch the log fill up with retries.

[2019-02-12 22:01] waltjones commented on #632
@joesustaric, Interesting. That's also what I'm doing, though using latest master for rollbar-gem. Thanks for the reply.

[2019-02-12 22:51] joesustaric commented on #632
yeah very interesting .. See if it happens with v2.17.0 maybe? validate if it's been resolved? possibly could have been a bug in a dependency 🤷‍♂️ - Thanks 👍

[2019-02-13 04:22] ngelx opened #820 "There is any way to disable js wrapper at controller level?"
Hi, I need to disable the js inclusion for some specific actions. There is any way I could achieve this?

Thanks

[2019-02-13 17:41] jessewgibbs commented on #820
@waltjones could you take a look at this?

[2019-02-13 21:11] waltjones commented on #820
@ngelx, There is an env key rollbar-gem uses internally to ensure the JS is never injected twice to the same response. You can put this in your controller before render, and it will skip injecting the JS for that request.
[code]
However, I should not be recommending this. It's undocumented and should be treated as subject to change. Still, it's there and that's how it works.

Maybe it would make s

[2019-02-13 22:46] sdhull commented on #813
@waltjones please review my [comment](https://github.com/rollbar/rollbar-gem/issues/813#issuecomment-459099237) above.

The argument I'm making is that the current defaults in the Rollbar gem are detrimental to the developer experience. The suggestion (essentially "implement a `transform` hook that logs locally & set `enabled` to true and set `disable_send` to true") does not rectify this situatio

[2019-02-13 23:15] waltjones commented on #813
The crux of the issue is this:

rollbar-gem doesn't log the notifier payload to the application log, even when fully enabled. And the design philosophy for the Rollbar SDKs is that the format of how to log that data is application specific and should be decided by the application.

Currently a `also_log_locally` flag wouldn't mean anything because the gem never writes any part of the payload to th

[2019-02-14 02:04] sdhull commented on #813
Right. Because people enable Rollbar in production and presumably are essentially replacing logs with Rollbar. Because who wants to dig through production logs for errors?

However, if people are sending logs to Kibana (or similar) then writing to the application log even in production might be useful. Maybe the option name I suggested is bad. Maybe it should be `also_write_to_application_log`?

P

[2019-02-14 02:13] waltjones commented on #813
@sdhull I'm turning this back over to @jessewgibbs. He'll decide on what to do.

[2019-02-14 03:20] ngelx commented on #820
@waltjones thanks! adding a documented interface for disabling this would be amazing. In the mean time, I've abstracted like:

[code]

And then, used in controller like:
[code]

[2019-02-18 18:15] #759 closed

[2019-02-18 20:23] #691 closed

[2019-02-18 20:24] #648 closed

[2019-02-18 20:24] #710 closed

[2019-02-19 02:01] #487 closed

[2019-02-19 21:03] waltjones commented on #820
Mark as enhancement, to add a documented `request.env['rollbar.skip_js_injection']` or similarly named env flag.

[2019-02-20 01:32] jessewgibbs commented on #813
This would be new behavior that we would want to add to other SDKs for the sake of consistency.  For now I'm going to flag it as an `enhancement` and stick it into the backlog for future consideration.  PRs welcome if anyone wants to build and document this!

[2019-02-20 07:07] sdhull commented on #813
@jessewgibbs gotcha. I'm already overcommitted so unfortunately I can't offer a PR at this time. However I'll keep it on my radar and if I do get a breather I'll see what I can do. FWIW I think the docs will be more work than the implementation 😉

[2019-02-20 18:30] coryvirok opened #827 "Create and release new version via CI/CD pipeline"
Looks like we can use Travis to create and release new versions of our SDKs. This should help simplify the process for quickly getting bug fixes into our customers' hands.

https://docs.travis-ci.com/user/deployment/releases

This would be great to have for the gem as well as the other SDKs.

[2019-02-21 19:02] waltjones commented on #673
This can be disabled via the `logger_level` config setting, now documented in the Ruby configuration reference. (e.g. set to `'warn'`.)

[2019-02-21 19:02] #673 closed

[2019-02-21 19:03] waltjones commented on #721
The `logger_level` config option is now documented in the Ruby configuration reference.

[2019-02-21 19:03] #721 closed

[2019-02-24 04:31] ArturMoczulski opened #830 "Add use_active_job documentation to the docs"

[2019-02-24 05:01] #830 closed

[2019-02-24 22:01] orien opened #831 "Rake task broken for non-Rails project"
Our Rake tasks break when upgrading to Rolbar 2.19.0 in our non-Rails project:

[code]

It seems related to [this change](https://github.com/rollbar/rollbar-gem/pull/816/files#diff-3139fc81c59ce4c6573691423eba93bfR142) in #816

[2019-02-24 22:03] ArturMoczulski commented on #831
Thanks for reporting. I'm looking it now.

[2019-02-24 22:05] ArturMoczulski commented on #831
Can you tell me more about what rake task you are trying to run?

[2019-02-24 22:12] orien commented on #831
You can reproduce the problem like this:

Gemfile:
[code]

Rakefile:
[code]

Execute `rake --tasks`:

[code]

[2019-02-24 22:12] ArturMoczulski commented on #831
Got it. Thx

[2019-02-24 23:11] ArturMoczulski commented on #831
Fixed and released in `v2.19.1`

[2019-02-24 23:12] #831 closed

[2019-02-25 11:02] orien commented on #831
Thank you.

[2019-02-25 14:30] rdunlop opened #832 "Capistrano deploy fails if No/incorrect Access token is provided in version 2.19.x"
I upgraded to 2.19.1, and my `cap production deploy` started failing. This was working on 2.18.2.

Investigating this, I found that I was not specifying a `rollbar_token` properly in the `deploy.rb` file.

Yes, I agree that finding this out was good for my project, though a warning may have been sufficient.

BUT, I feel that this is a breaking change, and should not have been introduced without mo

[2019-02-25 15:58] waltjones commented on #832
@rdunlop thank you for the report. We'll investigate.

[2019-02-25 16:04] waltjones commented on #831
@ArturMoczulski thank you!

[2019-02-25 16:28] waltjones commented on #832
@rdunlop can you share this snippet of the backtrace?

[2019-02-25 16:36] rdunlop commented on #832
Here's those lines, as requested.
[code]

Note: "make sure $LC_* and $LANG are correct" is a red-herring...always happens.

[2019-02-25 16:59] waltjones commented on #832
@rdunlop got it. Thank you!

[2019-02-25 19:27] #719 closed

[2019-02-25 19:52] waltjones commented on #832
@rdunlop Is this still an issue when `enabled` is set to false in your Rollbar config?

[2019-02-25 19:59] nijikon opened #833 "uninitialized constant Rollbar::Scrubbers"
I think that we are missing `require 'rollbar/scrubbers'` in `lib/rollbar/item.rb`.

[code]

[2019-02-25 20:14] rdunlop commented on #832
@waltjones I think that question is off the mark.

We use rollbar in 2 contexts:
1) when deploying the code, our capistrano execution environment uses rollbar in order to inform the rollbar app that we've done a deployment. Before the 2.19 release of rollbar, this would run, but wouldn't result in a deploy mark in rollbar.
2) when running the code, this project does use rollbar, and the rollbar ac

[2019-02-25 20:29] waltjones commented on #833
@nijikon thank you for the report. See https://github.com/rollbar/rollbar-gem/pull/834, and this will be in the next update.