[2012-11-13 16:51] trisweb opened #3 "Large form payloads cause slowdown, possible failure"
If an error occurs on a file upload, such as in a video upload form, then the _entire_ payload is sent to Ratchet. I don't want this, and I'm sure you don't want this either. The file I tested was only 4.5 MB, but took a good minute to upload before the exception displayed. During this time, the log displayed `[Ratchet.io] Sending payload`

For form data payloads greater than a few kilobytes (50KB

[2012-11-13 18:30] #3 closed, assigned to nobody

[2012-12-12 02:31] mipearson opened #9 "Feature Request: Give customer an "Exception Token" they can provide back to us"
As glibly said on [twitter](https://twitter.com/mipearson/status/278686477058183168), it'd be great if there was a way to get our app to give our users an 'Exception Token' that we can eventually search for in ratchet.

Such a token would need to be unique per exception instances (two identical instances, normally grouped in the interface, should be different tokens) for the sake of security.

[2013-01-07 11:42] arr-ee opened #10 "More data for exceptions within rack"
As for now, when exception is raised somewhere in middlewares (hence no controller, parsed request and all that), we don't have much info in ratchet. Basically, all we have is exception message and backtrace.

It'd be great to dump request's env into ratchet, but it doesn't play well with ratchet's reporting API without doing env parsing by hand.

Am I missing something here? If not, I'd try to im

[2013-01-21 05:01] mipearson opened #12 "Gem releases aren't tagged"
Gem releases don't seem to be tagged in git, which makes it much more difficult to work out whether a particular feature has made it into the version I'm using.

[2013-01-21 06:18] #12 closed, assigned to nobody

[2013-01-22 00:43] mipearson opened #13 "ratchet 0.5.x breaks when DelayedJob < 3 is used"
We haven't upgraded our DelayedJob gem yet. Because I'm scared, and lazy.

RatchetIO 0.5.0 finds DelayedJob, but then tries to bind to something only present in DJ 3: `Delayed::Plugins::Plugin`.

Can it be changed so that if DJ is present but the `Plugin` class isn't a warning is issued?

[2013-01-22 01:30] #13 closed, assigned to brianr

[2013-01-29 22:27] #10 closed, assigned to nobody

[2013-02-02 16:24] kavu opened #22 "Failing `with broken request should report uncaught exceptions` spec"
Working on #21 for my amusement I've broken the `with broken request should report uncaught exceptions` spec in [/spec/requests/home_spec.rb](/ratchetio/ratchetio-gem/blob/master/spec/requests/home_spec.rb#L22). But the problem is, that the spec error was different nearly every time. Here is how you can reproduce it (you should run it on my kavu/ratchetio-gem@6680f71392d8be1ba00c54452f0ce56b32b94c

[2013-02-15 21:39] choxi opened #25 "not reporting rake tasks"
I'm got this gem setup in my Rails app, but it doesn't seem to catch errors inside of Rake tasks:

[code]

doesn't report anything on Ratchet, but this works:

[code]

Is this by design? It looks like this gem taps into some Rack middleware to catch exceptions which would explain why it doesn't work for Rake tasks, is there a recommended way to have it catch all my Rake tasks?

[2013-02-17 22:19] #25 closed, assigned to nobody

[2013-02-27 20:51] trisweb opened #26 "Upgrading doesn't work if you have a previous version installed"
When running bundle, if Rollbar isn't installed yet, Rollbar::VERSION will report nil, and the version 0.0.0 will be used. (At least this is what I think is happening)

In your gemspec, you should really use the true version string and bump it each release. I see what you're doing, but I don't think the constant is the right way...

[2013-03-15 00:37] bradx3 opened #30 "Problem with zeus and rollbar"
I'm using rollbar 0.9.3 and zeus 0.13.3. The zeus server fails to start up and I end up with the error below. #25 mentioned adding "require 'rake'" to spec_helper, but this is failing in dev and test environments.

Adding require 'rake' to various points in our app load didn't seem to help, but ultimately I've been able to fix the problem by adding this line to the top of rollbar/rake.rb:

[code]

[2013-03-15 01:39] #30 closed, assigned to nobody

[2013-03-29 12:32] hlascelles opened #32 "JSON dump of payload fails if rack errors is an error stream"
All our server error reports were failing with an error. This meant nothing was arriving in rollbar.

[code]

That error was being thrown in rollbar.rb (0.8.3) at line 307

[code]

The reason was eventually chased to this line in ActiveSupport _encoding.rb_ , which indicated one part of the payload did not serialize to json, and did not fail gracefully.

[code]

Inspecting _self_ at that point sho

[2013-04-12 01:17] #26 closed, assigned to nobody

[2013-04-17 13:41] troex opened #35 "rollbar/capistrano.rb recipe doesn't work with Ruby 1.9.2"
According to the [ruby doc](http://www.ruby-doc.org/stdlib-1.9.2/libdoc/uri/rdoc/URI/Generic.html) — 1.9.2 doesn't have `hostname` method, but 1.9.3 [has](http://www.ruby-doc.org/stdlib-1.9.3/libdoc/uri/rdoc/URI/Generic.html#method-i-hostname).

[code]

[2013-04-17 16:53] #35 closed, assigned to nobody

[2013-05-04 10:03] Exoth opened #38 "Double exception report in production"
Every report is doubled in production environment. The problem is that with env['action_dispatch.show_detailed_exceptions'] as false exception is reraised during render_exception_without_rollbar, but at this time rollbar already reported the exception, so it sends the report for the seconds time during call_with_rollbar rescue.

Probably, chaging this:

[code]

to this:

[code]

will fix the probl

[2013-05-17 02:25] johnknott opened #39 "Exception when running 'rake rollbar:test' on Rails 4 / Ruby 2.0"
With the latest version of rollbar-gem, running rake rollbar:test fails on my my new Rails 4 project.

[Rollbar] Exception while reporting exception to Rollbar: undefined method `inject' for #<ActionDispatch::Request::Session::Options:0x000000064936c>

I've had a quick look and was able to fix this I think by calling to_hash on the ActionDispatch::Request::Session::Option object that was returned

[2013-05-17 04:31] #39 closed, assigned to nobody

[2013-05-20 08:46] luisbosque opened #40 "Use a variable different than rails_env for capistrano deploys"
Since we can use capistrano to deploy any type of project doesn't make a lot of sense using variable rails_env to tell rollbar gem what environment we are deploying.

Accepting rails_env if available is not a bad solution, but it would be cool to be able to override its value with a more generic variable, like project_env, rollbar_env....

I can do a pull request if you accept to override the env

[2013-06-06 11:34] whitequark opened #42 "Provide a feature similar to Honeybadger.context"
Under the hood, Honeybadger.context saves a hash in a thread local variable. This is better than anything rollbar currently provides, as person data is only available in controllers, and custom data, while providing a means to implement such feature, is rather burdensome to use.

It would be ideal to make the default custom data method extract the data from such a thread local variable, and it sho

[2013-06-22 14:41] ixti opened #43 "Support sucker_punch as improved alternative to girl_friday"
https://github.com/brandonhilkert/sucker_punch

[2013-07-25 16:28] matthewbennink opened #45 "Send person data when reporting message."
When reporting an exception, we are able to include person data, which then shows up under the People tab.  It would be helpful if we could also include person data when reporting a message, and also have it appear under the People tab.

The current workaround is to wrap the message in an exception, but this feels wrong, and it makes it more difficult to include extra data.

My initial thought for

[2013-08-02 18:26] #40 closed, assigned to nobody

[2013-08-05 20:57] #32 closed, assigned to nobody

[2013-08-05 22:28] bf4 opened #50 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http:t/docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can image, scanning your repository for a LICENSE file or parsing the README

[2013-08-05 22:36] #50 closed, assigned to nobody

[2013-08-05 23:54] pwightman opened #51 "Internal Rollbar Error: Error reporting exception to Rollbar: undefined method `[]' for nil:NilClass"
I have code like this in my web app:

[code]

In the logs, I'm seeing this error:

[code]

Is there anyway I can get a backtrace or more explicit debugging info from the gem? Could the surrounding code somehow cause side-effects? Any help on where to look would be much appreciated :-)

[2013-08-06 00:04] brianr opened #52 "Report internal errors"
If there's an exception in `Rollbar.report_exception` or `Rollbar.report_message`, we should (at least attempt to) report _that_ exception to Rollbar.

Doing this correctly probably means lots of begin-rescue blocks inside `report_exception` and `report_message`. There should also be a final failsafe response that doesn't rely on any dynamic data, to be sent as a last resort.

[2013-08-06 01:58] #51 closed, assigned to nobody

[2013-08-21 17:10] #52 closed, assigned to nobody

[2013-08-21 17:13] #38 closed, assigned to nobody

[2013-08-21 17:15] #43 closed, assigned to nobody

[2013-09-26 09:50] prognostikos opened #60 "Capistrano - failed rollbar:deploy will cause a rollback"
Would you be open to a PR adding `:on_error => :continue` to the capistrano task?

Today we ran into a problem with our deploys being rolled back because communication with the deploy API timed out.

I'd prefer not to have external service availability affect our deploys...

[2013-09-26 22:39] bradx3 opened #61 "Ignore exceptions based on callables"
We get a lot of junk requests to bad urls. We know they're not coming from our site - they're just from script kiddies.

We looked into capturing (and ignoring) these errors in our app, but it seems like there are few [problems with that](http://geekmonkey.org/articles/29-exception-applications-in-rails-3-2).

One possible solution would be to change Rollbar#filtered_level to call procs if they ar

[2013-09-27 02:40] #61 closed, assigned to nobody

[2013-10-04 19:30] artificialrobot opened #63 "Feature: Log errors if Rollbar is disabled"
We run with rollbar disabled in development and it would be nice if I could set a flag that would write exceptions and parameters to the log if Rollbar is disabled.

[2013-10-08 19:55] allspiritseve opened #66 "Feature request: disable logging in development if Rollbar is disabled"
I have rollbar disabled in development, but any time there's an exception I get log messages like this:
[code]
It would be nice if there was a way to disable these as they clutter up my log file and are unnecessary if Rollbar is disabled.

[2013-10-16 16:47] brianr opened #68 "Use x-forwarded-host/port/proto for request URL"
Some production environments (nginx?) send the real hostname, port, and protocol in X-Forwarded headers, which we currently don't look for. We should update `rollbar_url`:

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/request_data_extractor.rb#L54-L63

to look for the following headers:
- X_FORWARDED_HOST
- X_FORWARED_PORT
- X_FORWARDED_PROTO

and adjust the url appropriately if

[2013-10-16 19:44] #68 closed, assigned to nobody

[2013-10-17 16:10] mkoby opened #69 "Running rollbar:test With Authlogic"
We have a Rails 3 project that utilizes Authlogic for authentication. When I was setting up the Rollbar gem, I ran `heroku run rake rollbar:test --app [APP_NAME]` and got the follow output.

You'll notice that it throws an exception because Authlogic doesn't get initialized when the Rollbar test is run. This causes a hangup during the setup process of Rollbar because Rollbar doesn't think the noti

[2013-10-18 01:12] #69 closed, assigned to sbezboro

[2013-10-21 15:54] dmathieu opened #70 "Active connections not cleared when an exception is raised"
Rails has an [internal rack middleware](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/connection_adapters/abstract/connection_pool.rb#L623), which manages closing the database connections when necessary.

From what I'm experiencing, it would seem when an exception is triggered by rollbar, this middleware isn't executed anymore.
This quickly leads to `ActiveRecord::Conne

[2013-10-22 21:10] #70 closed, assigned to nobody

[2013-10-22 21:21] brianr opened #71 "Collect request body for application/json requests"
Via @sagmor:

If the content-type is application/json, this gem currently doesn't collect anything useful about the request body. We should collect this data and pass it with the request data, maybe as `request.json`.

[2013-10-24 21:23] finbarr opened #72 "Unusable with Rails without ActiveRecord."
The rollbar railtie depends on ActiveRecord.

[2013-10-24 22:43] #72 closed, assigned to sbezboro

[2013-11-06 00:54] mrgordon opened #74 "NoMethodError: undefined method `current_user' for #<MyController:0x000000080360f8>"
Upgrading from 0.10.14 to 0.11.7 caused NoMethodErrors in my Rails application.

[2013-11-18 12:01] fschwahn opened #75 "Fallback when notification fails"
Hi,
I'm currently having an issue with a server which has unreliable network connectivity. However, the issues are not reported by rollbar. My guess is the server cannot reach the rollbar server when the error happened.

Is there any way to provide a fallback if notifying rollbar fails? I'd like to be able to at least save the data somewhere. Is there anything like this?

Best Regards,
Fabian

[2013-11-18 18:55] #75 closed, assigned to nobody

[2013-11-19 02:29] #74 closed, assigned to nobody

[2013-12-03 01:24] brianr opened #77 "Avoid sending payloads that are too large"
If the part of the data associated with an error is too big, it'll be rejected by the Rollbar API. The gem should try to detect this in advance and trim parts of the payload that are likely to be too big.

The documented size limit is 32kb, per the [docs](https://rollbar.com/docs/api_items/). (It's actually currently a bit larger in practice, but 32kb is safer to assume.)

Thanks to @PerfectlyNorm

[2014-01-07 09:48] kakubei opened #79 "Padrino configuration"
Could someone point me to a Padrino configuration example? I am trying to use Rollbar on Heroku (and locally for testing) with a Padrino app. There is no Rails generate for Padrino so I created the config/initializers/rollbar.rb file manually and put my access token into it) but I get an error when trying to run the rake test (rake doesn't know how to execute the task which seems to indicate that

[2014-01-09 23:43] mipearson opened #80 "delayed_job integration causes SIGSEGVs in Ruby 2.1"
See https://github.com/collectiveidea/delayed_job/issues/616 for history.

[2014-01-10 02:06] #80 closed, assigned to nobody

[2014-01-19 01:56] derekrockwell opened #83 "Prevention of DJ requeuing on exception"
From the changes within commit https://github.com/rollbar/rollbar-gem/commit/ae36b448b5b3cf16aec64c3db24ccafc93371638 there seems to have been a regression disallowing DJ to requeue jobs after an exception.

In the rescue within the around callback it is effectively returning the results of `::Rollbar.report_exception(e, job)` to DelayedJob as a result of the block eval.

Since the `report_excepti

[2014-01-20 14:11] kpricorn opened #84 "`present?` call fails in non active-support projects"
I integrated the rollbar gem in a non-rails/active-support project with this snippet [1](https://github.com/rollbar/sinatra-rollbar-example/blob/master/example.rb). After upgrading from 0.11.7 to 0.12.8, the `Rollbar.report_exception` call fails with the following exception:

[code]

The `present?` check was introduced in [2](https://github.com/rollbar/rollbar-gem/commit/294ff03616f754b8aef85a9f66

[2014-01-20 19:22] #77 closed, assigned to nobody

[2014-01-20 22:18] #83 closed, assigned to nobody

[2014-01-20 22:21] #84 closed, assigned to nobody

[2014-01-21 15:09] fschwahn opened #85 "ArgumentError: redundant UTF-8 sequence"
Hi,
I'm not sure this is a rollbar issue, but it's the only dependency turning up in the stacktrace. I'm using version `0.11.7` - I know there are newer versions, but I hesitate to update because there were quite a few regressions.

Here's the stacktrace:

[code]

Thanks!
Fabian

[2014-01-24 22:48] brianr opened #86 "Log something locally about the exception when sending a failsafe"
Currently, when sending a failsafe, there's no indication of where the actual problem came from and thus no way to debug it. If the payload is too large, we should at least log it locally (via the Rails log or whatever is available).

[2014-02-04 15:31] ghost opened #88 "Route hash does not work in Sinatra and generates useless context"
Since ~ v0.12.4 the "request_data[:route]" value is now assumed to be a hash (https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L91).  As mentioned in the Padrino issue (https://github.com/rollbar/rollbar-gem/issues/79) this breaks the convention of adding the path to that data via a custom RequestDataExtractor.  It may even cause an error that itself get reported to Rollbar ("no i

[2014-02-04 17:34] braindev opened #89 "remove `try` method usage"
It would be nice if the `try` method was not used.  For example:

[code]

could be:

[code]

That way active support (or at least the try portion of active support) would not be needed to use this gem.

Thanks!

[2014-02-05 00:49] #86 closed, assigned to nobody

[2014-02-05 01:14] #88 closed, assigned to nobody

[2014-02-05 22:43] sbezboro opened #90 "checkIgnore configuration method"
Allow fine-grained control over which reports are ignored, similar to rollbar.js

[2014-02-12 01:12] troex opened #91 "Rollbar.report_message(msg, level, extra) doesn't not allow to track user"
Many examples on the site show `{:user => @user}` for extra params to report message on user, how ever it doesn't bind to already existing ones nor creating new ones. I tried to pass `:person` as well with no luck, please add support for tracking messages on users

[2014-02-16 21:14] lukes opened #94 "Failsafe from rollbar-gem: Could not send payload due to it being too large after truncating attempts"
Hi,

We're seeing these errors appear now after upgrading from 11.7 to 12.10. We see around 6-7 occurrence per day in production.

I only raise this in case it's helpful for you to know that at least someone if encountering this error relatively frequently, and perhaps it's possible to continue to attempt to reduce the payload, or perhaps the method of reduction could be looked at.

Looking at our

[2014-02-25 21:14] derekrockwell opened #95 "Ability to disable DJ information in exception log"
DJ handlers, typically being a serialization of an object, can contain sensitive information. The payload of which doesn't seem to be passed through the scrubbing feature.

Perhaps a good solution would be to add a flag to prevent the job from being added to the exception, or adding a hash-key blacklist on the payload before being converted to JSON.

[2014-03-01 22:04] mperham opened #97 "Update error support for Sidekiq 3.0"
Sidekiq 3.0 introduces global error handlers:

https://github.com/mperham/sidekiq/blob/master/Upgrading.md#error-service-providers

[2014-03-03 20:48] brianr opened #98 "Report an error when the response is empty"
Enabled via config, matters in particular for Heroku or other platforms where an empty response results in an error page.

[2014-03-07 18:47] jordanfbrown opened #99 "Version 0.12.12 on RubyGems has incorrect MAX_PAYLOAD_SIZE"
I just upgraded to 0.12.12 to get around the "Could not send payload due to it being too large after truncating attempts." issue. `MAX_PAYLOAD_SIZE` looks fine in this GitHub repo, but appears to be incorrect in the gem that was downloaded from RubyGems.

[code]

I opened up rollbar.rb in my Ruby gems directory, and found this:

[code]

I ended up setting the version back to 0.12.11, which seems t

[2014-03-07 19:02] #99 closed, assigned to nobody

[2014-03-08 01:15] #95 closed, assigned to nobody

[2014-03-13 04:33] foca opened #101 "Don't depend on ActiveSupport methods"
The idea is that the gem is usable outside of rails, so ideally we shouldn't depend on things like `Object#try`.

[2014-03-13 18:30] #91 closed, assigned to nobody

[2014-04-02 19:11] metaskills opened #104 "Use Delayed::Job Error Event"
The current [implementation](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/delayed_job.rb#L7) for the Delayed::Job plugin uses the `invoke_job` event. However, this does not allow job objects that implement an `error` handler to do the driving. For example:

[code]

This would never stop rollbar exceptions from happening. Thoughts?

[2014-04-08 12:49] #104 closed, assigned to nobody

[2014-04-11 01:48] #97 closed, assigned to nobody

[2014-04-11 18:06] brianr opened #108 "Set a timeout for HTTP call in send_payload"
Per discussion with @aconbere in IRC, we should be setting a timeout. Relevant code is here: https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L343-L369

[2014-04-11 19:41] #108 closed, assigned to nobody

[2014-04-11 21:02] #101 closed, assigned to nobody

[2014-04-12 01:14] #89 closed, assigned to nobody

[2014-04-14 09:50] hakunin opened #109 "Wrap errors with added context"
Hi, we're switching from exceptional and this is something we used to do quite often:

[code]

This does two things:
1. prepends message `Error sending request to XYZ: <the original message>`
2. adds `data` to report

This would be nice to have in RollBar as well.

[2014-05-07 18:15] billywatson opened #111 "rake rollbar:test does not work outside of Rails"
I saw that the gem now works for Rails without ActiveRecord, but what about for Ruby projects without Rails? I'm not sure at the breadth of this issue, but I have at least one instance where I can't use Rollbar without Rails.

After setting up Rollbar and doing some hackery to get `rake rollbar:test` to at least kick off, I get the following error since the task depends on Rails:

{code}
$ rake ro

[2014-05-22 06:40] brianr opened #112 "Handle X_FORWARDED_PROTO with comma-separated list"
In some setups, X_FORWARDED_PROTO will contain a list like `'http,http'`, which will make its way into the url we generated in `rollbar_url`.

Todo:
- figure out whether the first or last proto in the list is the one we want
- only include that in the generated url

[2014-06-04 07:07] notahat opened #115 "Subtle bug in Delayed Job hooks"
There's a subtle bug here:

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/delayed_job.rb

In Delayed Job, every time you make a new Delayed::Worker, the `callbacks` block of the plugin gets run.

The lifecycle object referenced, however, is a global, so the around hook gets added over and over again, leading to a chain of the same around hook.

In production, you'll probably never

[2014-06-05 18:16] brianr opened #117 "Gather local variables for exceptions"
Like we do in Python: https://rollbar.com/blog/post/2014/06/05/local-variable-values-in-stack-traces

[2014-06-16 18:08] brianr opened #118 "Support Exception#cause (nested exceptions)"
Ruby 2.1 added exception causes: http://devblog.avdi.org/2013/12/25/exception-causes-in-ruby-2-1/

We should support this on ruby 2.1. The Rollbar API supports sending a "trace_chain" (as used by [rollbar-android](https://github.com/rollbar/rollbar-android/blob/master/src/main/java/com/rollbar/android/Notifier.java#L390-L411)) instead of just a single "trace" object like this gem sends now.

[2014-06-27 00:46] #115 closed, assigned to nobody

[2014-06-27 20:09] jcwilk opened #119 "Perhaps rollbar should be at 1.x.x?"
We love Rollbar and use it for everything, but all of our branches suddenly started failing on CI last night because a breaking change (Rollbar.report_exception returning "disabled" instead of a hash in test... Granted, it's just in test, but it was a significant disruption to our development flow across the team) was released with only a minor bump due to rollbar being on `0.x.x`.

Not sure if yo

[2014-06-30 23:48] fabn opened #121 "Timeouts with sucker_punch and unicorn"
I'm using v0.12.20 with sucker_punch enabled and running my app under unicorn. Here is the config file I'm using

[code]

When an error occurs I see rollbar code triggered but nothing happens then and unicorn worker is killed after a timeout.

[code]

If I remove the `config.use_sucker_punch` line everything works.

[code]

Relevant gems in my bundle:

[code]

[2014-07-01 14:44] krasnoukhov opened #122 "Do not mutate Sidekiq payload"
Please take a look on this issue: https://github.com/mhfs/sidekiq-failures/issues/88

Apparently your way of exception processing is quite destructive, since you're mutating `context`/`msg` variables here: https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/sidekiq.rb

I don't think this is correct way to get rid from unwanted hash keys in terms of your exception handling. Please do not

[2014-07-08 22:26] sbezboro opened #123 "Investigate use of `ActiveRecord::Base.connection_pool.with_connection` instead of `RollbarRequestStore` middleware"

[2014-07-09 01:35] #122 closed, assigned to nobody

[2014-07-09 01:48] #121 closed, assigned to nobody

[2014-07-25 18:52] #119 closed, assigned to nobody

[2014-07-25 18:54] #22 closed, assigned to nobody

[2014-07-25 18:57] brianr opened #125 "Support raised strings"
Things like `raise "This Broke"` don't have a backtrace and break in the gem. These should be gracefully handled and reported as an error.

Thanks @lardcanoe for the report.

[2014-07-28 17:54] jruef opened #126 "deployment fails with SSL_connect returned=1 errno=0 state=SSLv3"
[code]

[2014-08-02 08:51] denikus opened #127 "Rollbar caching errors reports"
There was error in my rails code.

I’ve fixed it and deploy code.
But then I’ve got exactly same error message in rollbar panel, even line number of error was the same. I’ve look in code - on that line number doesn’t contain code at all because I had shift lines.

Then I’ve look into rails log file - and realize that there is error, but in other code line. So, I think Rollbar just cashed error in

[2014-08-03 19:01] #126 closed, assigned to nobody

[2014-08-06 19:07] #127 closed, assigned to nobody

[2014-09-18 18:08] brianr opened #132 "Failover when async backend fails"
If an error cannot be reported because the async backend is unavailable (i.e. the database backing delayed_job is down), we should try to report the error directly (skipping the backend).

Another way to approach this would be to have a configurable chain of backups - try delayed_job, then try sucker_punch, etc.

[2014-09-30 21:59] #118 closed, assigned to nobody

[2014-10-04 00:24] jtzemp opened #139 "It would be awesome if Rollbar.configuration.scrub_fields could take a lambda like Rails.application.config.filter_parameters"
I've got an extensive list of symbols and lambdas in my Rails.application.config.filter_parameters list (lots of sensitive data). I'd love to just be able to do this:
`Rollbar.configuration.scrub_fields = Rails.application.config.filter_parameters` and have it all work out the way it'd make sense.

I asked on the website via the Olark chat and got the answer back that it doesn't do it and that I s

[2014-10-07 21:43] jondeandres opened #140 "Speed up payload build"
We are looping over the whole payload three times using `Rollbar::Util.iterate_and_update_hash`, each one with a different block.

We could avoid multiple loops over the payload and just apply a chain of blocks over the payload once.

[2014-10-08 00:43] jondeandres opened #141 "Split rollbar.rb into rollbar.rb, notifier.rb and item.rb"
We need to organize something more the gem. Actually the `Rollbar` module has all the methods instead those in `Rollbar::Util`.

We can split it into:

* `Rollbar`, lib/rollbar.rb. Contain the main public API for the users. Some methods are delegated to a `Rollbar::Notifier` instance by thread.
* `Rollbar::Notifier`, lib/rollbar/notifier.rb. Contain the different methods to send all the item level

[2014-10-09 09:54] #60 closed, assigned to nobody

[2014-10-19 18:08] staugaard opened #145 "delayed job issue"
In `delayed_job.rb` you call `report_exception` like this:

[code]

So the second argument (`request_data`) is an instance of the job.

In `report_exception` you expect `request_data` to be hash and you call `any?` on it.

[code]

the job instance does not respond to `any?`, so it blows up.

This was not an issue in version 1.0.1.

[2014-10-20 01:46] #145 closed, assigned to nobody

[2014-10-22 15:44] christos opened #149 "Rollbar 1.2.2 tries to require rack even when not needed"
Trying to use the `rollbar 1.2.2` gem from a project that doesn't use `rack` I get this:

[code]

I think this is the offending commit.

https://github.com/rollbar/rollbar-gem/commit/165aac246a0703f5a4c1a078a73dec757c5ba288

[2014-10-22 21:25] #149 closed, assigned to nobody

[2014-10-24 11:08] hakunin opened #152 "Rollbar fails when params is not a hash"
Hi, I just noticed Rollbar throwing this exception: (vendored for debugging)

[code]

Inspecing the params shown me this:

[code]

And I found a JS analytics gem `ahoy_matey` was sending me this through xhr:

![screen shot 2014-10-24 at 13 05 34](https://cloud.githubusercontent.com/assets/65846/4768643/c8212ff6-5b6d-11e4-995e-64efba4d966a.png)

I don't know if `ahoy_matey` does something irregular

[2014-10-27 17:22] #152 closed, assigned to nobody

[2014-10-27 20:58] #45 closed, assigned to nobody

[2014-10-27 23:56] #132 closed, assigned to nobody

[2014-10-27 23:58] #125 closed, assigned to nobody

[2014-10-27 23:59] #123 closed, assigned to nobody

[2014-10-28 00:03] #109 closed, assigned to nobody

[2014-10-28 00:06] #85 closed, assigned to nobody

[2014-10-28 00:17] #9 closed, assigned to nobody

[2014-10-28 00:23] #42 closed, assigned to nobody

[2014-10-28 00:36] #71 closed, assigned to nobody

[2014-10-28 00:49] #79 closed, assigned to nobody

[2014-10-28 00:56] jondeandres opened #157 "Remove Rack::Builder monkey patch"
We are monkey patching `Rack::Builder` in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/middleware/rack/builder.rb.

I'd remove these kind of practises and just would provide a middleware for the users. The most common approach is just provide a middleware that will work for all Rack applications and probably for Sinatra too.

The correct steps can be:
1. Phase 1
   1. Provide the

[2014-10-28 01:02] #94 closed, assigned to nobody

[2014-10-28 16:48] #112 closed, assigned to nobody

[2014-10-29 19:08] brianr opened #159 "Issue with Padrino"
One user has reported a problem where there's an exception thrown when sending errors from a Padrino app. This is with version 1.2.6 of the rollbar gem.

Backtrace: http://i.imgur.com/PQaev3T.png?1

[2014-11-03 14:29] gersmann opened #161 "Rollbar 'hangs / loops endlessly' when reporting exception from active admin code"
I am not sure what is going on, but whenever an exception occurs within Active Admin related functionality CPU usage goes to 99% and the server is unresponsive, even worse other servers as well (for reasons so far unknown).

What I have identified so far by debugging is that Rollbar calls inspect on some Admin ActiveRecord relations which seems to create some kind of DoS or endless recursion.

See

[2014-11-05 11:03] exterm opened #163 "rollbar is a "slow require""
Hi there,

using rollbar for two days, really impressed. One thing that bothers me though is that requiring rollbar slows our application startup by 240ms (according to http://rubygems.org/gems/bumbler).
It is the second slowest require in our project (beaten only by authlogic with 285 ms).

Any ideas how the rollbar gem could be made faster?

[2014-11-06 21:53] brianr opened #165 "Remove internal calls to deprecated methods"
There are still some internal calls to the deprecated methods `Rollbar.report_exception` and `Rollbar.report_message`:

[code]

These should be changed to use Rollbar.error() instead. (The calls in spec/rollbar_bc_spec.rb should of course remain.)

[2014-11-07 18:12] #165 closed, assigned to nobody

[2014-11-13 18:48] #161 closed, assigned to nobody

[2014-11-16 21:47] beanieboi opened #173 "Remove the last occurrence of try, so we can use it with plain Ruby"
Hey

just found the last usage of `#try`.
https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/exception_reporter.rb#L4

i want to use Rollbar with a pure Sinatra app and i don't have ActiveSupport :)

best,
ben

[2014-11-17 23:54] #173 closed, assigned to nobody

[2014-11-17 23:55] jpasichnyk opened #175 "capistrano2 integration breaks on capistrano 2.9.0 with ruby 1.8.7 and rollbar 1.2.7"
[code]

[2014-11-18 07:54] ncri opened #176 "Send basic error info in case payload is too big and #40 Failsafe error is reported"
We have many of them and rollbar doesn't give us any clue about what they are about. Attaching basic error info would be very useful in these cases even if most of the payload is ignored. At least we would need the error message and stacktrace and maybe basic environment info.

[2014-11-18 23:50] brianr opened #177 "Improve internal error handling"
Our current `report_internal_error` and `send_failsafe` functionality leaves something to be desired...

Quick list of improvements to make:

- in `report_internal_error`, use a fresh scope (i.e. one without all of the context already there) to execute `build_payload`. (As it is now, we try again with the same scope, but that's likely to cause the same exception that make the report fail in the fi

[2014-11-22 00:05] gdeglin opened #180 "Rollbar 1.1.0->1.2.9 upgrade reduced performance"
Hi. After upgrading to Rollbar 1.2.9 we noticed that NewRelic is reporting an additional 1ms being used by Rollbar that was not previously present. Admittedly this is not that much, but we have some API related actions that get called 300 times per second, so this adds up.

Here's a Newrelic graph with the red area starting after the 1.2.9 upgrade, and then ending after we downgraded back to 1.1.0

[2014-11-24 06:13] SyntheticDave opened #181 "Undefined method `report_exception' when rescuing for Sidekiq::VERSION < '3'"
Having updated to the latest gem version to get rid of the report_exception deprecation warning, I'm now getting a no method error when raising from a sidekiq worker.

[code]

This occurs with the rollbar gem at 1.2.9, and sidekiq at 2.17.0.

[2014-11-24 07:08] #181 closed, assigned to nobody

[2014-11-24 18:46] jonah-williams opened #183 "Rollbar can quietly ignores errors outside of web processes."
I was recently surprised to discover that Rollbar (using rollbar-resque) was not reporting errors for failing Resque jobs. Digging further I found that there are a number of cases where the Rollbar gem could surprisingly fail to report errors to the service. In a Rails web process Rollbar avoids this issue thanks to `RollbarMiddleware` making a call to `Rollbar.reset_notifier!`. However background

[2014-12-02 20:33] royzinn opened #187 "Error with rake 0.8.7"
Hi,
I have tried adding the rollbar gem (gem 'rollbar', '~> 1.2.6') and when I try to start rails server I get this error:

[code]

Thanks

[2014-12-02 21:41] #183 closed, assigned to nobody

[2014-12-03 20:35] #187 closed, assigned to nobody

[2014-12-04 00:21] vyrak opened #189 "Person Tracking For Rack Middleware"
The Rack middleware include the person data similar to how the Rails middleware does it.

[2014-12-04 03:59] flomotlik opened #190 "Nil Error in Frames Strategy with 1.2.11"
Error data taken out of Sidekiq Data:

{"filename"=>"/app/vendor/bundle/ruby/2.1.0/gems/rollbar-1.2.11/lib/rollbar/truncation/frames_strategy.rb", "lineno"=>16, "method"=>"call"}], "exception"=>{"class"=>"NoMethodError", "message"=>"undefined method `[]' for nil:NilClass"}}}

It looks to me like the body can't be properly loaded, which might be as we run 1.2.11 and 1.2.10 on different parts of our

[2014-12-04 18:24] #190 closed, assigned to nobody

[2014-12-05 01:23] #189 closed, assigned to nobody

[2014-12-06 10:58] bhh opened #193 "Configuration option to disable Rails support"
i know its just lame to still have 2.3 applications but i got this "new" old application i have to take care of and first thing is i want to log errors nicely.
is there a way to disable the default rails stuff per config?

the only problem i have is  that it wants to autoload railtie and active_record_extension
if i could disable it per config everything would work fine and i could just have to re

[2014-12-11 18:28] #180 closed, assigned to nobody

[2014-12-18 16:26] lardcanoe opened #195 "NoMethodError: undefined method `[]' for nil:NilClass"
No idea how to reproduce, but it happened...

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/truncation/frames_strategy.rb#L27

[code]

[2015-01-15 16:00] brianr opened #200 "Expand symlinks for project_gems"
If your project_gems are in a directory that is a symlink, then the paths that end up in `project_package_paths` (which Rollbar.com uses to decide whether frames are in-project) won't match the paths in the stacktrace (which have symlinks expanded).

The fix is probably the call [Pathname.realpath](http://ruby-doc.org/stdlib-1.8.7/libdoc/pathname/rdoc/Pathname.html#method-i-realpath) on each path

[2015-01-15 16:05] jondeandres commented on #200
Good point.

:+1:

[2015-01-15 19:54] JorgeRdg opened #201 "Allow for 'fingerprint' field"
I'm using the gem to monitorize some stuff and I'd like to get notifications of every single occurrence of an item. However, I haven't managed to achieve it as Rollbar keeps grouping them even though I attach stuff like timestamps.

Reading through the documentation, I've seen that this can be achieved by specyfing the 'fingerprint' field in the report. However, this functionality doesn't seems to

[2015-01-15 20:18] brianr commented on #201
Hi @JorgeRdg - thanks for asking; the docs definitely don't cover this well. Assuming you're talking about direct calls you are making to `Rollbar.error`, `Rollbar.warning`, etc., you can set the fingerprint like this:

[code]

Is that what you tried?

[2015-01-16 00:19] JorgeRdg commented on #201
I didn't know of the `scope` option. Thank you! That seems to do the trick ;)

[2015-01-16 00:19] #201 closed

[2015-01-16 15:44] jondeandres commented on #200
@brianr do you have more info about this?

I've tried to reproduce this and I can't. I have a `gems` directory with the `rack` gem inside. I've added this to my Gemfile: gem 'rack', path: './mygems'. And `mygems` is a symlink to `gems`.

I configured Rollbar to have `project_gems = ['rack']` and I've been able to see the expanded rack backtrace: https://rollbar.com/Rollbar/rollbar-gem/items/2092/o

[2015-01-20 17:59] manuelmeurer opened #205 "Add stacktrace when reporting exception manually"
I wondered why I never saw a backtrace in Rollbar when I reported an error with `Rollbar.error MyError.new`. I mailed your support and @jondeandres explained that errors created with `.new` do not have a backtrace. (Thanks, Jon!)
However, it's quite easy to add:

[code]

What do you guys think about adding a backtrace to any error that is being reported automatically if it doesn't have one yet?

[2015-01-20 18:03] jondeandres commented on #205
@manuelmeurer it's a good idea, but I'm not sure if this should be done by the gem.

Take account that then the backtrace will have lines from our own code. So perhaps this is responsibility of the projects.

@brianr do you have any opinion about this?

[2015-01-20 18:06] manuelmeurer commented on #205
The lines from the gem itself could easily be filtered out using something like `caller.reject { |line| line =~ /rollbar/ }`. Also, this could be a configuration option and turned off by default.

[2015-01-20 18:17] jondeandres commented on #205
Yah, we can use `Gem::Specification.find_by_name('rollbar').gem_dir` to reject our own backtrace lines.

IMHO when you are using `Rollbar.error(ExceptionClass.new)` you could be using `Rollbar.report('some-message-you-know-where-is-it'). But it's true that more people have asked us for this.

[2015-01-20 18:35] manuelmeurer commented on #205
Yep, that's how I'm using it now. But having the backtrace, even when just reporting "some-message-you-know-where-is-it", would be really nice.

Another thing is the exception cause which I heavily rely on since I like to use nested exceptions. This unfortunately cannot be set explicitly. My solution for now is this:

[code]

This will set the backtrace properly and set `e` as the cause of `MyErro

[2015-01-20 19:35] jondeandres commented on #205
@manuelmeurer I've opened a PR for this, https://github.com/rollbar/rollbar-gem/pull/206/files.

Let's wait for @brianr to give us him opinion.

[2015-01-20 19:47] manuelmeurer commented on #205
Awesome, thanks Jon!

[2015-01-22 12:56] bhh commented on #193
ok new approach.
what do u think of the idea of spliting the rails features.

so we have a rollbar-gem and rollbar-rails with rollbar dependecy of course. like rspec-rails and stuff.
additionally we could implement the javascript client side integration also in the rails gem

[2015-01-23 22:53] guzart commented on #193
I think environment flag is probably the easiest way to go, and best practices ATM suggest your app gets the configuration from environment variables (running context).

[2015-01-23 23:35] bhh commented on #193
easy definitly but i like the idea of extracting the rails part way more. and if the owners approve, i have no problem of doing a bit more work to keep everything clean.

for me it feels nicer to have a core gem with just the rollbar api in it

[2015-01-26 14:08] jondeandres commented on #193
@bhh feel free to open a PR with your solution, we'll be looking at this at soon as possible

[2015-02-03 20:27] florrain opened #211 "Disabling reporting for errors generated by bots"
Hello,

We have a lot of our rollbars generated by bingbot, facebookbot, ... I'm mostly thinking of routing errors but I think it might be interesting to filter on all requests.

Is there a way to filter these errors in the configuration of the gem?

Thanks

[2015-02-03 20:32] brianr commented on #211
Hi @florrain --

There might be... if you have enough information in the exception object itself, then you can accomplish this with a callablce in `exception_level_filters`. Here's the example from the initializer template:

https://github.com/rollbar/rollbar-gem/blob/master/lib/generators/rollbar/templates/initializer.rb#L37-L42

Will that work?

[2015-02-03 22:36] florrain commented on #211
Nice, Fast and furious answer.

What about this code? I'm not sure if I can keep the existing level of the error and just override it for some user agents.
How can I get the level of the `e` like `.rollbar_level` ? Is that an exception object or a rollbar exception with extra parameters from where I could get it ?

[code]

[2015-02-04 18:33] jondeandres commented on #211
@florrain the exception object doesn't have any info about the request or extracted data from it. And we only pass that exception to the callable object to set in the configuration. We could change this behaviour to start passing the notifier itself in the future.

@brianr our change should be something like this in  https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L213

[code]

B

[2015-02-05 16:59] florrain commented on #211
That would indeed be very very appreciated. I hope it'll part of upcoming releases.

I'm closing the issue then. Would you mind posting here when you have a release plan?

Thanks!

[2015-02-05 16:59] #211 closed

[2015-02-05 23:43] #205 closed

[2015-02-06 20:12] skippy commented on #139
hey @jondeandres

I'm looking at the ability to scrub data.  This functionality request (being able to use lambdas) is close, but I would like to take it one step further.  Instead of listing a blacklist, I would like to flip it and create a whitelist.  ie, ONLY allow these fields to go through, everything else would either be scrubbed.  Does that make sense?  Let me know if you want to discuss th

[2015-02-06 20:25] jondeandres commented on #139
@skippy

We can do something with this, yes. We'll consider it soon. This can be enough for you?

[code]

For example?

[2015-02-06 22:40] skippy commented on #139
ah, interesting.  Probably not, but I'm not 100% sure.

The concern is protected data leaking out.  I can think of two clear pathways outside of `allowed_parameters`:
* rollbar inserts info into the data object that needs to be scrubbed.  Currently, it inserts `user_ip`, which is considered protected data, but it could be other things in the future.

* all the various objects could leak data, such

[2015-02-06 22:50] jondeandres commented on #139
@skippy it's interesting, yes. we can offer an interface to let the user control and scrub data in a more detailed way. it's nice. we'll consider this idea.

however, take account that in your own example, are you who is adding on one side critical data into cookies, class.message or others...and on other side you are using `Corp::ExceptionHandler.scrub` to remove that same data.

I agree on havin

[2015-02-06 23:06] skippy commented on #139
oh, I wasn't saying I was going to do that (!!)... I was just commenting on how easy it is to leak data by mistake.

well, it gives us quite a bit of control of the object before it goes out; that has some bonus.  But yes, passing in the request object directly would be sweet.  (enrichment!  like adding the `X-REQUEST_ID` would be killer; I'm doing that now but via a hacky thread-local variable.)

[2015-02-07 01:01] zeitnot opened #214 "Rollbar can't catch gems' exceptions such as doorkeeper or devise"

[2015-02-07 01:06] jondeandres commented on #214
@zeitnot could you explain in more detail this issue?

[2015-02-07 01:12] zeitnot commented on #214
I was using `airbrake`. With it can inject exception catcher libs to doorkeeper's controllers. So I can get doorkeepers's exceptions.

[code]

The question is is there any to listen and catch gems' exceptions or errors with rollbar?

[2015-02-07 01:22] jondeandres commented on #214
@zeitnot I'm not sure if you need anytihng of that for airbrake or rollbar.

We add our middleware in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/railtie.rb#L10-L28 and include the controller methods in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/railtie.rb#L39-L44. I think that's enough.

Could you give us a case of use of this?

[2015-02-09 00:00] zeitnot commented on #214
@jondeandres I wonder that if rollbar listens gems' exceptions. If you say this is ok then I trust in you.

[2015-02-09 00:00] #214 closed

[2015-02-19 16:58] YorickPeterse opened #220 "Rollbar can't be used when loading actionmailer 4.2 outside of a Rails project"
ActionMailer depends on ActionPack, which since version 4.2 depends on https://github.com/rails/rails-html-sanitizer which in turn defines `Rails` in the global scope. This then breaks the following check: https://github.com/rollbar/rollbar-gem/blob/2254a85fa424a98b23d1fd2b31b1b703dd15b095/lib/rollbar.rb#L19

Rollbar should probably check for `Rails::VERSION` here instead.

[2015-02-19 17:02] YorickPeterse commented on #220
Rails considers this not their problem:

* https://github.com/rails/rails-html-sanitizer/issues/26
* https://github.com/rails/rails-html-sanitizer/issues/25

[2015-02-19 17:09] jondeandres commented on #220
@YorickPeterse thank you for this report!

 are you having the problem with a non-Rails project then?

[2015-02-19 21:31] YorickPeterse commented on #220
@jondeandres Yes, I use Rollbar in quite a few non Rails projects. In general this works fine, except this one particular project uses ActionMailer, causing the above problem.

[2015-03-03 20:47] #220 closed

[2015-03-03 21:51] YorickPeterse commented on #220
Thanks for fixing this!

[2015-03-08 11:37] tisba commented on #63
Seems to be a duplicate of https://github.com/rollbar/rollbar-gem/issues/66

[2015-03-08 11:39] tisba commented on #66
Any news on this one? I actually would like to disable (or redirect) Rollbar logging in production as well (even if Rollbar reporting is enabled).

We are logging JSON-lines to be processed with Logstash. Rollbar's logging is quite annoying and messes up the logs.

[2015-03-09 07:56] arfl commented on #63
Nope. In https://github.com/rollbar/rollbar-gem/issues/66 they want to disable the output, but I want to see the exception.

[2015-03-09 07:58] tisba commented on #63
Ah, sorry @arfl! But the issues are definitely related :)

[2015-03-09 16:37] jondeandres commented on #66
@tisba we didn't work on this yet, but you could always set `config.logger` to an instance of NullLogger like this one, https://github.com/rack/rack/blob/master/lib/rack/nulllogger.rb.

So depending on the environment you are, you can set that logger or not. We'll try to find a configuration solution for this or perhaps adding or not the middleware to the stack.

[2015-03-09 16:40] jondeandres commented on #63
@arfl in what kind of application are you using Rollbar? For Rails applications you should see log messages like those that @tisba want to hide.

[2015-03-10 08:12] arfl commented on #63
@jondeandres My first comment referred to the time when when rollbar was suppressing the backtrace of an error. Now, it seems that this does not happen any more. So all fine now. Sorry

[2015-03-10 19:36] adambair commented on #177
:+1: I just upgraded to Rails 4 and Rollbar ended up swallowing a few key exceptions which made solving these issues fairly... challenging ;)

[2015-03-13 08:55] AntonZh opened #225 "Exceptions are not reported from rails runner"
Rollbar 1.4.4, Rails 4.2.0

[code]

[code]

[2015-03-13 11:43] jondeandres commented on #225
@AntonZh we don't wrap Rails runner so exceptions there are not automatically reported to our API. Probably we can do something with this, but it's not clear. I think Rails doesn't offer a middlewares stack for the runner or anything.

We'll take a look at this. If we can do something we'll notice you.

[2015-03-13 12:49] AntonZh commented on #225
I think that it is really unexpected behavior - rake tasks are wrapped, but runners are not.

[2015-03-13 12:54] jondeandres commented on #225
@AntonZh

I've been looking at the rails runner code, https://github.com/rails/rails/blob/master/railties/lib/rails/commands/runner.rb.

I think we cannot do anything there, we should redefine `eval` or something like that, and that it's a little crazy. What we could do is try to provide a new command that will execute the runner code but it's wrapped by Rollbar. But then users cannot use `rails r

[2015-03-13 12:59] AntonZh commented on #225
A new command would be fine. Also you may mention the fact that runners are not reporting errors in the documentation.

[2015-03-13 13:00] jondeandres commented on #225
We'll do! Thanks @AntonZh!

[2015-03-17 12:50] phuongnd08 opened #226 "Russian message become blank when reported to server"
I'm trying to report this message to rollbar server:

"5 Изменение курса заявки не произведено. Старое и новое занчения курса одинаковы."

But once get the Rollbar server it become this "1  -      .             ,         10 .".

I think it become that way when rollbar try to normalize the payload.

[2015-03-17 12:56] jondeandres commented on #226
@phuongnd08 we'll take a look at this

thanks for the report!

[2015-03-19 12:08] #225 closed

[2015-03-31 22:21] shanemcd opened #230 "Duplicated method definition, differing method bodies."
I was digging around and noticed that the `schedule_payload` method is defined both [here](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L453) and [here](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L594) in the same file.

[2015-03-31 22:30] brianr commented on #230
Huh, indeed it is.

@jondeandres , any idea how this happened? We want the... second one, right?

[2015-03-31 23:24] jondeandres commented on #230
@brianr seems that the old method was added in https://github.com/rollbar/rollbar-gem/pull/142, when we  changed to the new interface.

We want the second one yes, so this is not having impact. I'll open a PR removing the first one.

@shanemcd thanks for warn us of this :-)

[2015-04-01 04:13] #230 closed

[2015-04-01 04:15] brianr commented on #230
Merged, thanks @jondeandres and @shanemcd !

[2015-04-01 18:07] bighoax opened #232 "Rollbar connection behind proxy"
Hello,

My app is currently running in the secure environment behind a firewall. Almost all inbound/outbound requests are blocked. And you have to be on the VPN to access that app.

My suggestion to the corporate business team was to try the rollbar because I use it successfully in my hobby projects. However because the rollbar.com is unreachable from my server this is an issue.

I use roll bar li

[2015-04-01 18:31] brianr commented on #232
Hi @bighoax,

If you can open up the firewall to `api.rollbar.com` on port 443, that should be all that you need. Would that work?

[2015-04-01 18:34] bighoax commented on #232
@brianr

Thanks for the response. We don't use `https` in this app, because anyone accessing the app has to be on the VPN. Is that still the case, that we need to open port 443?

[2015-04-01 18:41] brianr commented on #232
@bighoax Yes, even if your app isn't serving on HTTPS, it (presumably) will be making outbound connections to Rollbar over https.

If for some reason that's not possible, you'll want to set the `config.endpoint` to use regular http, like this:

[code]

If that's the case then you would want to open up `api.rollbar.com` on port 80.

[2015-04-01 19:46] albertyw commented on #117
+1

[2015-04-08 16:56] #226 closed

[2015-04-10 13:11] DMA57361 commented on #175
Also ran in to this problem, with version 1.4.5 of the Rollbar gem.

Problem is here https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/capistrano.rb#L35 since ruby 1.8.7 doesn't support the passing of an options hash to `Net::HTTP.start`.

It would probably work if you were to replace this
[code]
with something in the vein of this
[code]
I tried exactly that via a bundle open on the g

[2015-04-10 14:03] jondeandres commented on #175
@DMA57361 thanks for the details of the error, hope we can solve this soon.

[2015-04-14 23:17] jasonl commented on #176
Hi, we are seeing this issue as well (e.g. https://rollbar.com/JobReady/IQ/items/4).

Ours are *not* being caused by recursive stack traces (when we inspect the application logs they are pretty standard exceptions that are otherwise raised), but are instead arising from a API endpoint where we POST multi-megabyte JSON bodies. We have tried excluding the data through `Rollbar.configuration.scrub_fi

[2015-04-15 08:10] jondeandres commented on #176
@jasonl your point is that `configuration.scrub_fields` doesn't work properly?

@jasonl or @ncri, have you been able to get the payload before the truncation process?

Just before https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L632. Truncation code is in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/truncation.rb and https://github.com/rollbar/rollbar-gem/tree/m

[2015-04-15 14:15] jondeandres commented on #176
@ncri @jasonl

When payload cannot be truncated the gem logs a message:

[code]

Could you find those messages and send us the payload to `support@rollbar.com`? That'd be very useful to resolve your problem.

[2015-04-22 09:36] kushkella opened #236 "capture RangeError: exceeded available parameter key space error"
I've been seeing that rollbar-gem doesn't capture `RangeError: exceeded available parameter key space` which is generated when there are too many query parameters and Rack::Util fails to parse the query string. For reference:

http://stackoverflow.com/questions/12243694/getting-error-exceeded-available-parameter-key-space
http://stackoverflow.com/questions/26544792/error-exceeded-available-paramet

[2015-04-22 09:39] jondeandres commented on #236
@kushkella do you know, in rack code, where exactly is raised?

Thanks for this report. We'll try to fix it :smile:

[2015-04-22 09:43] kushkella commented on #236
Following is the stack trace reported in NewRelic:

[code]

[2015-04-22 09:44] jondeandres commented on #236
Cool! We'll see what we can do. Thanks!!

[2015-04-24 14:07] pcasaretto commented on #183
This might be related.
When on the heroku console, Rollbar seems to ignore any exceptions raised.
I'm on 1.5.0.

[2015-04-24 14:10] jondeandres commented on #183
@pcasaretto is your environment being loaded correctly? Did you check `config.enabled` option? How are you trying it? Just `Rollbar.error(exception)` ?

[2015-04-24 14:14] pcasaretto commented on #183
I ran a piece of code that raised an exception, and also tried a `raise/fail` manually.
[code]
Using `Rollbar.error` worked normally.

[2015-04-24 14:18] jondeandres commented on #183
@pcasaretto can you paste that code?

I think you are expecting that any exception in the console will be reported. That automatic reports are only done in the middleware, so when there is a request. Exceptions in the console are not reported unless you report them manually.

So you should wrap your code with:
[code]

[2015-04-24 14:19] pcasaretto commented on #183
AH, I see. Thanks for clarifying that.

[2015-04-24 14:19] jondeandres commented on #183
Thanks to you @pcasaretto!!

[2015-05-06 14:05] bhh opened #237 "custom_data_method controller context"
maybe its just me but how do u guys use the custom_data_method because it seems i dont have any controller access. in which context is custom_data_method called? i only can find the notifier class.

maybe i use it awfully wrong but atm it seems it can only be filled with static data. cant find any dynamic examples

[2015-05-06 14:08] jondeandres commented on #237
@bhh you are right. that method doesn't receive actually any request or context. it can however useful if you need some dynamic data from the host or something.

we have in our roadmap improve that so the defined method receives the current scope, where you will be able to get the request or other data.

Thanks for remind us this :smile:

[2015-05-06 21:05] Soulou opened #238 "Notice: model extension for mongoid"
I've just setup a little gem to use the Rollbar::ActiveRecordExtension when using mongoid and not ActiveRecord

https://github.com/Scalingo/rollbar-mongoid-extension-gem

Small interrogation there: should it be a separate gem like it is now, or should it be merged in this gem?

[2015-05-07 16:37] petelacey opened #239 "Rollbar not scrubbing params in the URL"
I am forcing an exception in my app with a URL such as this: https://example.com/boom?password=sekret (this example is contrived from a real world use case).  When I view the resulting rollbar item, the password is very visible in the URL, though it is in fact scrubbed from the params listed in the occurrences page.  But even then, if the URL was malformed in some way, for instance `?foo=bar?passw

[2015-05-07 16:39] jondeandres commented on #239
@petelacey that's in a Rails app? Sinatra? Could you paste here how look the `params` object in the controller?

I'll take a look at this.

Thanks!

[2015-05-07 18:17] petelacey commented on #239
Yes, Rails 3.2.21. And Rollbar gem 1.5.1

Here's the dummy URL I tested with locally: `http://127.0.0.1:3000/boom?password=foo&bar=qux?passwd=bad-query-string`

The resulting rollbar page shows:
`URL	GET http://127.0.0.1:3000/boom?password=foo&bar=qux?passwd=bad-query-string`
[code]
Notice how the password is starred out in the params list, but not for the badly formed bit and not in the URL displ

[2015-05-08 00:10] fabn commented on #237
@jondeandres additionally to scope it would be nice to have access (and it should be easier to do) to current exception. For instance I'm dealing with `RestClient::UnprocessableEntity` exceptions and the actual error message is attached to body. Currently I'm sending the error with this code but it's pretty ugly and not thread safe:

[code]

[2015-05-08 07:50] jondeandres commented on #239
So yo would like to obfuscate the whole value in `bar`? Or just `bad-query-string` in there?

We'll think about this and add it to our TODO.

Thanks @petelacey :smile:

[2015-05-08 08:04] jondeandres commented on #237
Good point @fab, I agree with you. We'll notice you when we progress on this.

Thanks both!

[2015-05-08 08:16] fab commented on #237
Wrong @fab. I think you meant @fabn

[2015-05-08 08:17] jondeandres commented on #237
Yah, sorry @fab :smile:

[2015-05-08 08:18] fab commented on #237
No worries. It happens every now and then. Probably also because I've contributed to this gem in the past :)

[2015-05-08 12:41] petelacey commented on #239
@jondeandres Don't get me wrong, the issue of sensitive data not being scrubbed in the params list if the query string is malformed is an edge case.  There are lots of ways of screwing up a URL that could end up leaking data.  Ideally, it should be addressed, but it's not the main issue.

The main issue is that sensitive data is not scrubbed from the URL _when it is well formed_.  And that URL is

[2015-05-08 13:11] jondeandres commented on #239
Ah @petelacey, I understood wrongly. I'll test that and fix it soon.

Thanks!

[2015-05-09 08:52] tam-vo commented on #66
Any progress for this issue? It's still open for long time

[2015-05-12 14:33] aaronlerch commented on #195
I am able to reproduce this error. It's now trapped and handled (I'm on gem version 1.5.1 which contains #196) but still occurs. It happens when you use an async reporting mechanism (I'm using Sidekiq) and you call `Rollbar.error` directly, for example, without passing an exception. In my case I'm calling something like `Rollbar.error("This isn't a real message but something bad happened and here'

[2015-05-12 14:40] jondeandres commented on #195
@aaronlerch can you explain better the first scenario? Your point is that the extra info is not reported?

About the second one, I don't know if you have any problem with it. Custom exception, which are not rescued, don't provide a backtrace in Ruby, and we don't do any magic by default.

You can enable backtraces for not-caught exceptions with this option:

[code]

[2015-05-12 15:06] aaronlerch commented on #195
Sorry, I wasn't very clear -- let me try to clarify.

The original error report was the error with a message `NoMethodError: undefined method `[]' for nil:NilClass` -- this was happening because, as #196 indicates (`Don't try to truncate payloads with 'trace' if that key doesn't exist.`) the code assumes the trace data to exist in the hash.

I received the same `NoMethodError: undefined method `[]

[2015-05-12 15:09] jondeandres commented on #195
@aaronlerch do you have backtrace of this?

[2015-05-12 15:17] aaronlerch commented on #195
Is this what you are looking for?

[code]

[2015-05-12 15:18] jondeandres commented on #195
Yes, thanks @aaronlerch. We'll fix this during this week.

Thank you every much for the report, and sorry for the inconveniences.

[2015-05-12 15:18] aaronlerch commented on #195
No trouble, just wanted to help add a specific reproduction of the issue. Thanks!

[2015-05-12 17:08] jondeandres commented on #195
@aaronlerch we've opened a PR for this, https://github.com/rollbar/rollbar-gem/pull/240. This will be merged today probably.

Thanks for this again.

BTW, I had a question. Why is so big the payload you are trying to send to our API? The message is *huge*? Is there any Sidekiq data in the payload that is very long?

Thanks!

[2015-05-12 17:22] aaronlerch commented on #195
Trade secrets, I can't say why. ;)

Okay, I'll tell. In this case I'm using rollbar in a custom monitoring process that looks for invalid data. I've just been including the data directly in the message, for example `Rollbar.error("Something is wrong with this super awesome data. <-- this isn't my real message", { data: [... the data that is wrong ...] })`. :)

I'm going to be trimming it down to e

[2015-05-12 17:24] jondeandres commented on #195
Oh thanks :smile:. The question was about to detect any other potential bug.

Thanks again!

[2015-05-14 11:19] #195 closed

[2015-05-14 16:53] fabn commented on #177
Any news on this? I just upgraded to resolve #195 I hope that issue is fixed.

In any case have an error report which only states `Failsafe from rollbar-gem: build_payload in exception_data` is not useful, you should really enhance the internal error report, maybe writing a file with details or something like that.

In this way one could check on server what's happening when get those weird errors

[2015-05-18 11:13] DMA57361 opened #241 "Implicitly reporting extra data for certain exception classes?"
We have a exception raised in one of our apps when making a call to another of our app's APIs whenever the return indicates the call was invalid for some reason. The exception is a custom class that takes a few extra bits of data - about the type of call been made and the params being passed - and stores them internally. Currently, these are appended to the exception message, which is pretty ugly.

[2015-05-18 15:23] jondeandres commented on #241
@DMA57361 cannot you avoid raising the exception and just send the report to Rollbar?

We have in our roadmap change the configuration option `custom_data_method` so it receives the request and the exception. This should be enough in the future to send whatever data you want.

I cannot tell you when this feature will be done, but you may consider just send a report to rollbar instead of raising it

[2015-05-19 07:47] DMA57361 commented on #241
We probably could change to not using an exception here, but it's the single point of entry (exit?) from this app to the API and is used in _a lot_ of places. It's useful to have an exception raised on invalid calls as it prevents accidentally trying to use a duff response and having unexpected stuff happen elsewhere. We don't want all cases reporting to Rollbar though; some get caught and handled

[2015-05-19 09:12] jondeandres commented on #241
@DMA57361 yah, probably you have some clean options to do that in your side.

But definitely, having a vitamined `custom_data_method` will be the best for everybody. We'll work on this soon.

[2015-05-20 12:58] LucasPadovan commented on #176
Hi @jondeandres, we have been receiving the same error, i suppose it is caused by
![screen shot 2015-05-20 at 9 57 33 am](https://cloud.githubusercontent.com/assets/993291/7726196/b3e964ec-fed6-11e4-86bb-365f05498c86.png)

[2015-05-20 14:12] vikalejo opened #243 "Sending backtrace for messages events"
We can send the backtrace for no rescued exceptions, using this option in the configuration:
https://github.com/rollbar/rollbar-gem#sending-backtrace-without-rescued-exceptions
`config.populate_empty_backtraces = true`
and that is great :)
What about to do it also for non exceptions issues?, so we can see the backtrace also for ocurrences with just a message like.
`Rollbar.warning('some message to

[2015-05-25 03:24] nguyenchiencong opened #244 "Rollbar reporting errors from old releases"
With capistrano, rollbar is reporting errors on old releases.

[2015-05-25 14:32] jondeandres commented on #244
@nguyenchiencong could you give us more information about this?

What version of rollbar and which version of capistrano are you using? Could you also give us the error/backtrace or whatever you have?

Thanks!

[2015-05-28 19:32] Fabs opened #247 "99% of my logs are "Empty Message""
I just made the default installation of the lastest version of rollbar-gem on my rails api, and 99% of my errors are uncaught exceptions of wrong coding. I though that if I turned rollbar on I would get those errors nicely grouped on the dashboard, but instead I get 99% of then as being "Empty Message".

If I open then on the Ocurrences tab, I can see their diferences, but that is not quite what i

[2015-05-28 20:41] jondeandres commented on #247
@Fabs how are using the gem? Are you reporting manually messages to our API?

`Empty message` is the title for send messages that doesn't have a message value.

[2015-05-28 22:36] rmm5t opened #248 "`report_validation_errors_to_rollbar` should be mixed into ActiveModel, not ActiveRecord"
Currently, `report_validation_errors_to_rollbar` is mixed into `ActiveRecord` only. Instead, it should be mixed into `ActiveModel`, since validations are tied directly to `ActiveModel`, and this would allow validation reporting to other `ActiveModel` compatible ORM/ODMs like Mongoid, etc.

[2015-05-29 10:23] jondeandres commented on #248
Good point @rmm5t, we'll fix this soon.

Thanks!

[2015-05-29 14:48] Fabs commented on #247
I am not reporting anything manually. I just plugged the gem on the rails app.

Maybe I am not the usual usecase. My problems are legacy errors that throw unhandled exceptions over the application. When this happens, I get empty message. I was wondering if I could tweak somewhere so instead of this "Empty Message" I could get, lets say, the Exception as string, or the url of where it happend, or t

[2015-05-29 15:22] jondeandres commented on #247
@Fabs the normal behavior is just how you've explained it. The title is the exception message, you can see the backtrace, url, controller, action etc...

I can't understand why you are sending thos empty messages. Could you add a debugger in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L121 and paste as the backtrace and that point?

[2015-06-03 20:19] brianr opened #249 "Ability to ignore/set level based on request data"
For example, it could be useful to ignore errors coming from a particular IP address or user agent.

This would probably look similar to `exception_level_filters`, or maybe to rollbar.js's `checkIgnore`.

[2015-06-13 12:51] #238 closed

[2015-07-02 08:16] nicolaracco commented on #249
+1 for this. I'm having a lot of routingerror events and I cannot determine whether to ignore or notify them using the request url.

[2015-07-13 03:32] jasper-fu commented on #94
![image](https://cloud.githubusercontent.com/assets/233379/8642176/d2e8481c-2952-11e5-9ccb-8daa0437666e.png)
Hey, guys, I keep seeing this, what should I do to fix this? thanks

[2015-07-13 09:14] jondeandres commented on #94
Hi @jasper-fu, we'll release a new version today or tomorrow. There are some scenarios where active support is breaking the serialization to JSON.

We have a PR for this, https://github.com/rollbar/rollbar-gem/pull/254. But needs to be tested yet.

Sorry for the inconveniences.

[2015-07-13 09:56] jondeandres commented on #94
@jasper-fu are you using redis-session-store in your project?

if so, you can ensure that you are configuring the Rails session-store without passing a redis instance, and passing a hash options with the redis initialization options.

[2015-07-13 11:58] jasper-fu commented on #94
@jondeandres ok, thanks for helping. :)

[2015-07-14 12:17] joneslee85 opened #255 "Retired EOL'd Ruby"
*What*: 1.8.7, 1.9.2 and 1.9.3 have reaches their EOL. Is there any plan to drop support for those Ruby?
*Why*: It is to me for the sake of gem maintenance.

Please treat this issue just as a question.

[2015-07-14 13:25] joshminnie commented on #249
+1, I need this exact thing.

[2015-07-14 13:26] jondeandres commented on #249
@joshminnie we expect to add this pretty soon. Thanks for the +1.

[2015-07-14 13:26] jondeandres commented on #255
Hey @joneslee85,

thanks for the proposal/question.

I think we'll still support those versions for now since we have customers still using those Ruby versions. But I agree with you in the "Why".

We'll discuss this internally. Thanks!

[2015-07-14 13:26] #255 closed

[2015-07-15 23:51] lastobelus commented on #247
@Fabs, did you resolve this? I am having a similar issue in a rails app to which I just added rollbar.

[2015-07-16 00:01] lastobelus commented on #247
I put in some log statements at the suggested point and quickly realized the problem was an interaction with the gem better_errors.

I can see that the gem has code intended to work with better_errors; perhaps that gem has changed recently?

After disabling better_errors, rollbar notifications were as expected with class, message, backtrace. Before all errors raised app classes had no class and Em

[2015-07-16 09:50] jondeandres commented on #247
@lastobelus did you find exactly which problem between rollbar and beter_errors exists? could you give me some idea about how to reproduce this?

Thanks

[2015-07-20 03:20] joneslee85 opened #262 "Framework-agnostic rake rollbar:test"
The implementation of `rollbar:test` is very Railsy, it does not take into consideration if the app is Sinatra or other Rack-based framework.

What should we do about it?

1) Perform extra check to ensure the app is Rails, else just say test raketask is not supported the platform
2) Having extra implementation for Sinatra and for Rack-based app
3) Just have one Rack-based app test code

[2015-07-20 03:20] joneslee85 commented on #262
cc @jondeandres @brianr

[2015-07-20 10:13] jondeandres commented on #262
@joneslee85 the problem of a rack and sinatra rake task, is that there is not a standard way to configure the gems, like initializers in Rails. So each customer could have the Rollbar initialization in a different file, or in general, having booting process quite different.

Do you find a common way that will work for everybody?

Thanks.

[2015-07-20 12:24] joneslee85 commented on #262
@jondeandres I see. I think for the time being, we should only enable this rake task if the app is Rails only. I'll have a look into how we could do about with other framework.

[2015-07-20 12:31] jondeandres commented on #262
@joneslee85 :+1:

[2015-07-20 17:19] monkbroc opened #263 "Recommended ActiveJob integration"
Since ActiveJob has been part of Rails for a while now it would be great if the README included a recommended integration between Rollbar and ActiveJob so that any uncaught exception in a background job is reported.

I'm using SuckerPunch as the backend and I thought that `config.use_sucker_punch` would report the errors, but it only queues a job through sucker punch to report already caught error

[2015-07-20 17:25] jondeandres commented on #263
@monkbroc that snippet should be enough, yes. Maybe we should comment it in our README.

We could provide a module that the users will include in their jobs, but I'm not sure if this will be more complex for them or it's better just let them send the errors manually.

@monkbroc do you have any preference about this?

Would you like this?

[code]

[2015-07-20 18:20] monkbroc commented on #263
A module with a working default would be great.

I made a PR #264 for integrating with ActiveJob.

[2015-07-21 02:12] lastobelus commented on #247
@jondeandres Unfortunately I didn't dig deeper since with better_errors in the :development gem group, Rollbar error notification works correctly on staging/production.

[2015-07-21 08:41] jondeandres commented on #247
@lastobelus that could be useful for us. we'll try to reproduce this soon.

sorry for the inconveniences. we'll contact you.

[2015-07-22 07:35] loed-idzinga opened #266 "Upgrade from 1.5.3 to 2.0.1 breaks deploy script"
Updated the Rollbar gem from 1.5.3 to 2.0.1. With this update, our deploy script breaks with the error below. `rake rollbar:test` works without a problem. This is in combination with Capistrano 2
.15.6 and `rollbar/capistrano`.

[code]

[2015-07-22 08:33] jondeandres commented on #266
@loed-idzinga we'll release a new version in few minutes.

For now, if you want a fix, in `/opt/boxen/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/rollbar-2.0.1/lib/rollbar/capistrano.rb:33` change `JSON.dump(params)` with `::JSON.dump(params`.

We've added a `Rollbar::JSON` module, so we need to add the `::` there.

Sorry for the inconveniences and thanks for the report!

[2015-07-22 08:53] loed-idzinga commented on #266
@jondeandres Nice, thanks for the quick response. I'll try the new release as soon as possible. Keep up the good work! :+1:

[2015-07-22 13:25] #266 closed

[2015-07-24 23:04] #262 closed

[2015-07-25 21:07] grosser commented on #249
[code]

[2015-07-25 21:08] grosser commented on #211
see https://github.com/rollbar/rollbar-gem/issues/249

[2015-07-27 11:02] jondeandres commented on #249
@grosser thanks for the tip, that'd be a solution for that. We'd like having a configuration option for this, so users don't need to monkey patch anything.

We'll work on this soon. Thanks.

[2015-07-29 08:38] DMA57361 commented on #263
I've just tried this out - to replace some custom error handling we had that did a similar job - and thought I'd point out that this can cause some unexpected behaviour because it swallows unhandled exceptions.

I noticed this because we use Sidekiq as our ActiveJob backend and it will automatically retry failed jobs. However, this stopped happening when I activated this because the exceptions wer

[2015-07-29 10:29] jondeandres commented on #263
Hi @DMA57361, thanks for the tip.

I think this kind of behaviors will be a problem between the ActiveJob API and the backends. I'm not sure about which solution is the best. I'll investigate a bit about this.

The philosophical problem I find is if, in your case, Sidekiq should determine if it should retry or not, when ActiveJob has its own API to define that.

And I'm not sure about the reraise

[2015-07-29 10:53] DMA57361 commented on #263
Yes, us catching the exceptions then using `retry_job` in some way would make our retrying requirements more explicit and more backend agnostic.

To be honest, I hadn't realised `retry_job` was a thing until I looked for it just now; my experience of ActiveJob is limited to the only last few weeks - previously we've just used Resque or Sidekiq directly. That said, I think I'll stick with the Sidek

[2015-07-29 11:00] jondeandres commented on #263
Yah...this sounds like a conflict between backend features and ActiveJob. I'm thinking what to do in this case. We'll contact you when we decide something ok?

Maybe for you the best is use our Sidekiq integration instead of ActiveJob.

[2015-07-29 11:12] DMA57361 commented on #263
Oh, didn't realise you had an integration for catching errors within Sidekiq - I assume you mean this https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/sidekiq.rb? I'd not seen that before, is it documented somewhere?

I will take a look. Previously we've just added a Rollbar.error call to sidekiq's error_handlers, which is pretty much the same.

[2015-07-29 11:13] jondeandres commented on #263
Yes @DMA57361, you have some docs here https://github.com/rollbar/rollbar-gem#using-sidekiq.

If you have any doubt write us :).

Cheers

[2015-07-29 11:15] DMA57361 commented on #263
I think that's for using Sidekiq to make reports to Rollbar asynchronously, rather than using Rollbar to automatically capture Sidekiq failures.

[2015-07-29 11:17] jondeandres commented on #263
Oh yes, sorry, I mixed the things.

You just need to `require 'rollbar/sidekiq'`, yes. It's basically a `Rollbar.error` but sending some context data.

[2015-07-29 11:48] monkbroc commented on #263
Good point about swallowing the exception. I agree that reraising would
make more sense.
On Jul 29, 2015 7:18 AM, "Jon" <notifications@github.com> wrote:

[2015-08-04 14:59] Valve opened #271 "Stack overflow when sending error"
[code]

[2015-08-04 15:09] jondeandres commented on #271
Hi @Valve, can you share with us your Rollbar configuration? Avoid tokens and other private data please.

[2015-08-04 15:17] jondeandres commented on #271
BTW, are you using redis-session-store in your project?

[2015-08-04 16:17] Valve commented on #271
I'm not using redis-session-store.

My config:

[code]

[2015-08-04 19:20] brianr commented on #263
#270 has been merged and released (version 2.1.1). Thanks @monkbroc and @DMA57361!

[2015-08-04 19:20] #263 closed

[2015-08-05 08:50] jondeandres commented on #271
@Valve this is related with an existing bug in active_support when dumps some objects. We tried to fix this adding a monkey patch on `BaseSocket` having this:

[code]

What I guess is that your payload has some other object that is having problems being serialized by active_support.

Is this happening this in production? It'd be possible add `Rails.logger.info(self.class)` this to `ib/active_suppo

[2015-08-06 09:55] exterm commented on #94
We have this problem again. Maybe the rollbar guys can check it at https://rollbar.com/Avocadostore/Avocadostore/items/430/ . Is there some way to get more details on the error?

[2015-08-06 10:05] jondeandres commented on #94
@exterm are you using Rails? Can you find messages like `[Rollbar]` on logs?

Classname and a backtrace should appear in the logs.

Could you write us `support@rollbar.com`?

[2015-08-06 19:53] LucasPadovan commented on #94
We are having the same issue again, this error appears almost every week for any version of the gem, can we do something to deactivate this message? Rollbar is charging us because we have 2k+ of these occurrences...

[2015-08-06 20:00] brianr commented on #94
@LucasPadovan Thanks for the report... can you find the `[Rollbar]` messages in your logs that have the details about these errors, and send them to us at `support@rollbar.com`?

It is certainly possible to turn off these messages (you can do so by monkeypatching the gem to have `send_failsafe` do nothing), but we really don't recommend that. When you're getting these, it means there was an error

[2015-08-12 14:21] MaicolBen commented on #94
Same happens to me after upgrade to 2.1.1, now I rollback to 1.4.5 that doesn't happen

[2015-08-12 14:35] jondeandres commented on #94
@MaicolBen do you have more details about that payload? it may be long backtraces, or very very long exception class messages.

Could you look into your rails logs for messages with prefix `[Rollbar]`? That will give us more information about the problem.

[2015-08-12 14:40] exterm commented on #94
OK, we will downgrade to 1.4.5 as well for now.

@jondeandres still waiting for your answer to my email (@avocadostore.de Address).

[2015-08-12 15:33] jondeandres commented on #94
@exterm I answered you :).

[2015-08-12 15:36] MaicolBen commented on #94
In my case it is a bug related with delayed jobs and permissions, but I think that a lot of bugs have the same problem with rollbar, I idented it a little:

    [Rollbar] Scheduling payload
    [Rollbar] Sending payload
    [Rollbar] Error processing the payload: NoMethodError, undefined method `key?' for #<JSON::Ext::Generator::State:0x0000000b612dc0>.
              Payload: {"access_token"=>"319

[2015-08-12 23:56] erichaase commented on #247
I was also getting the `Empty message` Rollbar entries in development. I was able to resolve this by disabling/removing the `better_errors` gem as @lastobelus suggested, thanks!

[2015-08-13 07:38] ctokoro opened #273 "rollbar-rails-runner works not well with rails 3.x and 4.0"
I've got exception in execute ```rollbar-rails-runner``` with code which contains define method.
this is sample code.

#### test.rb
[code]

#### rails runner
[code]

i checked it works fine with rails 4.1 and later, and I found it is fixed by above commit of rails.

load the file rather than evaling · rails/rails@bc8eaf0
https://github.com/rails/rails/commit/bc8eaf0f5b90d0af5fa996649a5133953dd4508

[2015-08-13 14:51] jondeandres commented on #271
@Valve we've detected a problem with `JSON` when serializing some uploads. In those request your received params have any attachment?

Thanks.

[2015-08-13 15:38] LucasPadovan commented on #94
@brianr I couldn't find any log containing the info from Rollbar errors sorry :( (at least not with my current privileges, im just a programmer at my company).

I'm pretty sure if I change the max payload this will be solved, but i don't know what will be the impact of sending files larger than 200kb to rollbar.

[2015-08-13 16:52] Valve commented on #271
I'm on vacation now will only be able to diagnose the issue in the end of the next week

[2015-08-13 16:53] jondeandres commented on #271
Ok @Valve! Thanks!

[2015-08-13 23:37] ptrln opened #275 "Add ability to pass in access_token when logging"
We would like the ability to optionally pass in an access_token when calling Rollbar.error(...) etc. We have many projects, and this would allow us to have better control of where the rollbars end up. We have monkey patched this internally, but it would be great if the gem could support this.

[2015-08-17 17:08] jondeandres commented on #273
Hi @ctokoro,

could you change test.rb so it has some module namespace? Ex:

[code]

If you see at the runner code in Rails you can see that provide this functionality is too hacky, so probably it can break in some scenarios. Really rails runner is not prepared for this.

Try this and let us know if it works.

BTW, thanks for sharing the change in https://github.com/rails/rails/commit/bc8eaf0. We'

[2015-08-18 11:39] antek-drzewiecki commented on #247
I can verify that the `better_errors` hook would send my errors twice.

[2015-08-18 12:04] ctokoro commented on #273
Hello @jondeandres , thanks your reply.

I've tried your suggestion of code, define some module namespace, and it works.
I can fix code of runner files as like it, but it will takes a time a bit, i prefer to fix the library if possible.

I forked and sent a pull-request about this issue. how do you think of it? https://github.com/rollbar/rollbar-gem/pull/280

[2015-08-20 20:53] srimoyee-enjoytech commented on #271
We are seeing the same issue in our app, just doing Rollbar.warn('abc') or Rollbar.info('abc') causes the error -
[code]

[2015-08-21 09:09] 1337807 opened #281 "Use 'default' Sidekiq queue"
Is it possible to set the default queue for Sidekiq integration to the Sidekiq default queue 'default'? In the present state people have to either configure Sidekiq to pay attention to the 'rollbar' queue or tell Rollbar to use 'default'. Given that it's an officially supported method of async reporting it seems like it should 'just work' out of the box.

[2015-08-21 23:35] brianr commented on #281
Seems reasonable to me. Is the standard sidekiq setup to just run a single queue called 'default'?

[2015-08-22 00:05] 1337807 commented on #281
Exactly. You can configure more of course and then use those with Rollbar if you'd like so you don't really lose anything with this change.

On Fri, Aug 21, 2015 at 4:35 PM, Brian Rue <notifications@github.com>
wrote:

[2015-08-24 09:55] jondeandres commented on #271
@srimoyee-enjoytech which version of the gem are you using?

btw, are you using https://github.com/roidrage/redis-session-store? we found some issues with it while serializing the payload.

[2015-08-26 13:25] buggle commented on #232
Is there any other way to configure rollbar to use a http[s] proxy?

I am working in a very strict environment where all outgoing connections *must* go through a proxy and there is no way to open up firewall ports. We would love to try and use rollbar, yet I have not figured out how this would be possible.
(Using ruby and JS rollbar)

[2015-08-26 13:30] jondeandres commented on #232
@buggle you can change the Rollbar endpoint to be your proxy, and configure your proxy to make requests to our API.

Would this work for you?

In order to change Rollbar endpoint:

[code]

[2015-08-26 13:51] buggle commented on #232
Thanks for that impressively quick reply!
We'll go and check with our Sysads if we can arrange it that way.

[2015-09-07 01:32] ka8725 opened #291 "Incorrect behaviour in DelayedJob"
I recently noticed that Rollbar doesn't work in my DelayedJob tasks. Tried to debug: just placed `raise 'h'` in the delayed method and run `Delayed::Job.last.invoke_job` from rails console. This is the result:

[code]

Any ideas what is wrong?

[2015-09-07 01:54] ka8725 commented on #291
More info about this bug: it works with `report_dj_data = false` option set.

[2015-09-07 22:31] KieranP commented on #94
@jondeandres @brianr I am getting the same error as @MaicolBen when using rollbar along with delayed_job.

[code]

[2015-09-08 21:41] ri4a commented on #291
Pull request #292 fixes this.

[2015-09-08 22:02] brianr commented on #291
Thanks @ka8725 and @ri4a!

What version of delayed_job were you seeing this in? I am fairly confident that this has worked in the past, so I'm guessing it may be broken in the latest version / some other version than we are already testing in. We'll want to update the test suite to make sure it covers this.

[2015-09-08 22:05] ka8725 commented on #291
I use `delayed_job_active_record-4.0.3` Ruby 2.1.5

[2015-09-08 23:26] ri4a commented on #291
It doesn't look like a delayed_job issue. Last time we received a delayed_job error was right before we upgraded from 1.5.2. to 2.1.1...

Looks like the problem was introduced when the enforce_valid_utf8 method in /lib/rollbar.rb was changed from

[code]

to

[code]

Note the

[code]

in the old method, whereas in the new one the object is immediately converted to String:

[code]

#292 ensures dat

[2015-09-10 10:32] jondeandres commented on #94
@KieranP this is related to a bug between JSON gem and ActiveSupport. The bug exists since both implements a `#to_json` and ActiveSupport defines a `#to_json` for `Object` overriding default `to_s` that JSON gem has for `Object.

We are still finding a solution for this without monkey patch those gems.

[2015-09-10 23:17] Senjai opened #294 "Writing an application without an env causes misleading exceptions."
Given: https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/exception_reporter.rb#L10. An env must be passed in here which is then mutated by the function, otherwise we get an exception saying there was an exception while sending an exception to rollbar, even if the exception was posted successfully.

We now pass in just an empty hash so we dont get this warning, this makes working with

[2015-09-10 23:42] jondeandres commented on #294
@Senjai what use case is this exactly?

You can just report to rollbar with `Rollbar.error`, or any other level: `info`, `warning`, `debug`, `critical`.

So you can avoid use that module or your purpose.

[2015-09-10 23:48] brianr commented on #294
@jondeandres: the problem was that @Senjai was using `exception_reporter` in a plain ruby app, and was passing in a string as the `env`. But that method expects it to be a hash.

Could be a docs problem, or we could fix by making `exception_reporter` recover from the case where env is not a hash.

[2015-09-10 23:52] Senjai commented on #294
Aye, I had hoped to use the exception reporter which looked to be made to handle unhandled exceptions by default. I went with that after looking at the other middleware implementations.

[2015-09-11 00:02] jondeandres commented on #294
@Senjai

At first moment we didn't thought `ExceptionReporter` to be part of our public interface, that's the reason cause it is not documented.

You can always use rollbar in this way:

[code]
This is enough to send rollbar reports in your own implementation.

Apart of this, you are probably right analyzing the interface of that module. Probably it'd be better with this signature:

[code]

So you

[2015-09-11 00:05] Senjai commented on #294
It's not documented, but it is the best way (IMO) to wrap an entry point by default. I would support the interface you suggested, perhaps by deprecating the old method, making a new method with a new name, and calling that with the old method. It might be better than some funky type checking.

[2015-09-11 18:25] jondeandres commented on #291
@ka8725 @ri4a I have this PR and branch prepared, https://github.com/rollbar/rollbar-gem/pull/293. I've tested it and it should work properly. We'll merge it and release soon, but maybe you want to start using it in your projects and check it works as you expect.

Thanks.

[2015-09-12 18:32] heshamnaim opened #296 "Failsafe from rollbar-gem: [ERROR] error in process_payload without stack trace"
Failsafe from rollbar-gem: NoMethodError: error in process_payload is our specific error. Upon further investigation inside of rollbar, I found this was due to using JSON.generate(object, options) instead of using object.to_json

JSON.generate only allows objects or arrays to be converted to JSON syntax. to_json, however, accepts many Ruby classes even though it acts only as a method for serializa

[2015-09-13 23:33] KieranP commented on #94
@jondeandres Wouldn't it be safer to call the rubygems directly then, instead of relying on .to_json?

e.g. ```JSON.generate(my_hash)```

[2015-09-14 10:22] jondeandres commented on #94
@KieranP we are using `JSON.generate` in the gem. The problem is that both JSON and ActiveSupport defines `#to_json`, and at some cases, JSON relies on `#to_json`. That depending on the loading order, will be the method defined by ActiveSupport.

[2015-09-14 10:26] jondeandres commented on #296
@heshamnaim we are using `JSON.generate` intentionally, since we don't want to use `ActiveSupport` in those projects that are using it.

JSON will define a `#to_json` method that by default will call `#to_s`. The problem is that both JSON and ActiveSupport define a `#to_json` method and there are conflicts there.

We are actually thinking in a solution for this. Maybe migrate to Oj would be a good

[2015-09-14 12:08] jondeandres commented on #296
@heshamnaim by the way. can you share with use the rollbar version you are using, and, could you find in your log files strings starting with `[Rollbar]` ?

[2015-09-14 13:50] epifanov commented on #94
Hi guys,

we faced this problem today too. It would be good to get some solution.

[2015-09-14 13:55] jondeandres commented on #94
@epifanov your problem is using delayed_job?

[2015-09-14 14:00] epifanov commented on #94
@jondeandres yes

[2015-09-14 21:02] heshamnaim commented on #296
Rollbar version is 2.2.0

[2015-09-14 21:03] heshamnaim commented on #296
@jondeandres Rolbar version is 2.2.0

[2015-09-14 21:08] heshamnaim commented on #296
2015-09-11T18:41:17.170343+00:00 app[global_worker.2]: [Rollbar] Scheduling payload
2015-09-11T18:41:17.170416+00:00 app[global_worker.2]: [Rollbar] Sending payload
2015-09-11T18:41:17.173413+00:00 app[global_worker.2]: [Rollbar] Error processing the payload: NoMethodError, undefined method `key?' for #<JSON::Ext::Generator::State:0x007f68d836fb08>. Payload: {"access_token"=>"265f84113afb4cd5b9e98

[2015-09-14 21:20] jondeandres commented on #296
Thanks @heshamnaim. We've been investigating the use of Oj with our gem. We are waiting for a new release for Oj, but we hope we can release a new version fixing this soon.

Thanks again.

[2015-09-15 03:45] longkt90 opened #299 "uninitialized constant Rollbar::Delay::GirlFriday error"
Hi all,

I'm trying upgrade rollbar-gem version 1.5.2 to 2.2.1 and this config (from master readme, https://github.com/rollbar/rollbar-gem/blob/master/README.md)  will cause name error:
`config.failover_handlers = [Rollbar::Delay::GirlFriday, Rollbar::Delay::Thread]`

config/initializers/rollbar.rb:51:in `block in <top (required)>': uninitialized constant Rollbar::Delay::GirlFriday (NameError)

re

[2015-09-15 09:09] jondeandres commented on #299
@longkt90 have you required `rollbar/delay/girl_friday` and `rollbar/delay/thread` ?

Thanks

[2015-09-15 09:16] longkt90 commented on #299
Not yet, the only thing I require is `require 'rollbar/rails'` It seems work with old version 1.5.2.

Version  2.2.1 is OK with Rollbar::Delay::Thread but not Rollbar::Delay::GirlFriday
After I add require 'rollbar/delay/girl_friday', it works.

 Consider to add it to the document?

[2015-09-15 14:01] jondeandres commented on #299
@longkt90 probably yes. We'll add that to the docs :smile:

Thanks!

[2015-09-15 14:01] #299 closed

[2015-09-15 14:14] #291 closed

[2015-09-17 14:18] #296 closed

[2015-09-17 14:20] jondeandres commented on #281
@1337807 we'll try to change this in a gem refactor we are thinking about.

Thanks

[2015-09-17 14:20] #281 closed

[2015-09-18 06:28] PetrKaleta opened #303 "v2.3.0 and what bout JRuby?"
In 2.3.0 you're using Oj gem. Ok, fine, and what about JRuby? You can't use globally gem with C extensions...

[2015-09-18 06:43] PetrKaleta commented on #303
This is related pull request https://github.com/rollbar/rollbar-gem/pull/300

[2015-09-18 06:48] PetrKaleta commented on #303
I'll suggest to use MultiJson, it's a good practice instead of being 3rd party JSON lib dependant.

[2015-09-18 07:54] jondeandres commented on #303
@PetrKaleta we used MultiJson but we removed it since it was given us too many different behaviors from customers, some of them configuring it improperly. So we decided to just control ourself how to serialize the payload.

I think we didn't realize this wasn't failing in JRuby, sorry. This has been a misunderstanding with Travis cause we are really excluding JRuby builds there.

We'll fix this in

[2015-09-18 11:04] jondeandres commented on #303
@PetrKaleta how https://github.com/rollbar/rollbar-gem/commit/63db1638c7ffdcb11cc8b7a36c9e20deebd879ad would work for you?

We hope to merge this today or next working day.

Cheers.

[2015-09-21 04:55] joneslee85 opened #305 "Stop monkey-patching Rack::Builder"
IMHO monkey-patching Rack::Builder is a bad idea as it might alter the behaviour of many rack-based frameworks which could lead to unexpected bugs. Please fix me if I am wrong here, I think the solution is a ExceptionReporter middleware at the end of the middleware stacks and exceptions from higher middlewares will bubble down the stack.

I am happy to offer a PR if this proves useful for this pro

[2015-09-21 09:09] jondeandres commented on #305
@joneslee85 we already have a issue for this, https://github.com/rollbar/rollbar-gem/issues/157.

Our main problem is that we don't want to break the actual reporting the customers could have. So we thought to add this in a next more important release. Of course you can open a PR for this and we'll evaluate it!

I close this one since we already had one.

Thanks!

[2015-09-21 09:09] #305 closed

[2015-09-23 12:05] deepj opened #307 "Rollbar 2.3.0 does not report any error"
This error is occurred in my Rails application but Rollbar does not report it.

[code]

If I trigger manually something like `Rollbar.error('Unexpected input')` in Rails console. It is reported.

My **config/initializers/rollbar.rb**:

[code]

In **Gemfile** I have something like this:

[code]

[2015-09-23 13:36] jondeandres commented on #307
@deepj this error is happening before the Rollbar middleware received `#call`, so we cannot report that error. Seems you have an error in your database config or similar.

I'm not sure we can set add our middleware before in the Rails middlewares chain.

[2015-09-23 13:49] deepj commented on #307
@jondeandres One of the solution is remove `require: false` from `gem 'rollbar'` in **Gemfile**. Then `require 'rollbar/rails'` in the rollbar generated initializer is not necessary (I also removed it from the initializer). At least for me it looks like a bug when `require 'rollbar/rails'` doesn't enable automatic reporting errors.

[2015-09-23 13:52] jondeandres commented on #307
@deepj why do you have `require: false` in production? You'll need to require it, at least, in your rollbar initializer.

[2015-09-23 13:55] deepj commented on #307
@jondeandres  Because it would be double require of rollbar. One in Gemfile, second one in the initializer. It's the reason.

[2015-09-23 13:58] jondeandres commented on #307
@deepj I think I'm not understanding this. You only need the `require 'rollbar'` in your Rollbar initializer. Doesn't that work for you?

If you don't want Rollbar to report errors on other environment than production, then you can just disable it with `config.enabled = Rails.env.production?`.

[2015-09-23 14:12] deepj commented on #307
https://github.com/rollbar/rollbar-gem/blob/master/lib/generators/rollbar/templates/initializer.rb#L1

The initializer use `require 'rollbar/rails'`.

Rails loads Gemfile and every single gem (except ones with `require false`) there. In this point Rollbar is loaded first time. Then Rails starts loading initializers. In this point Rollbar is loaded again second time due to `require 'rollbar/rails'`

[2015-09-23 14:27] jondeandres commented on #307
@deepj yes, I think you are right.

we should remove `rollbar/rails.rb` file and remove the require from the template since we have https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/railtie.rb and that's loaded when Rollbar is loaded and `Rails` constant is defined.

Thanks @deepj! I think we'll fix this soon.

[2015-09-24 09:21] FranMoya commented on #94
Hi, I'm having the same problem that @jondeandres I'm using delayed_job in some tasks and I'm getting 'Failsafe from rollbar-gem: error in process_payload' error, please , is there any solution?

[2015-09-24 11:12] jondeandres commented on #94
Hi @FranMoya ,

which gem version are you using?

[2015-09-24 11:18] FranMoya commented on #94
hi @jondeandres ,currently I'm using  2.1.2 rollbar version

[2015-09-24 11:25] jondeandres commented on #94
@FranMoya we released version 2.3.0 some days ago, fixing a problem reporting using delayed_job, https://github.com/rollbar/rollbar-gem/blob/v2.3.0/CHANGELOG.md#230.

Could you try it and check is solving your problem?

Thanks!

[2015-09-24 11:35] FranMoya commented on #94
ok, I've updated to 2.3.0 version, good work :+1:  I'll deploy and check in my production enviroment. Thanks a lot @jondeandres

[2015-09-24 21:18] jondeandres commented on #94
Awesome @FranMoya! Contact us if you need somewhere else!

[2015-09-25 19:38] nachokb opened #308 "Gem 2.3.0 reports 2 errors, one with Empty Message"
Updated from 1.4.4 to 2.3.0, ran a simple test, and rollbar is getting two errors: one is the normal one (correct), and there's another one with "Empty Message".

This only happens when throwing an error from within a request. Tried from an ActiveJob and reporting was successful, with no redundant reports.

[2015-09-25 19:42] jondeandres commented on #308
@nachokb can you share your config without your access token. Are you using Rails? Can you run `rake middleware` and paste the output?

Thanks,

[2015-09-25 20:03] nachokb commented on #308
I'm using Rails

[code]

This is `rake middleware` on development

[code]

[2015-09-27 14:23] jondeandres commented on #308
@nachokb this is a known issue with better_errors. could you try disabling better_errors? we'll try to fix this soon.

[2015-09-28 21:11] jondeandres commented on #307
@deepj I've been looking at this. It's true that we are doing like double requires somewhere. But I'm not sure this is causing any real problem.

We'll remove `rollbar/rails.rb` and the `require` from the template. However, I'd say anything of this is related to the description of the issue you opened.

Are you still having problems with this? I still think this is a problem since a middleware is

[2015-09-28 21:37] deepj commented on #307
@jondeandres No. I think this "issue" can be closed. And for the removing `rollbar/rails.rb` and the `require` in the template :+1: Thanks!

[2015-09-28 21:56] #307 closed

[2015-09-29 12:18] d4rky-pl opened #311 "Rollbar gem forces Oj"
Commit c5de06 added forced loading of Oj gem to handle JSON. This can cause unexpected problems with other gems like MultiJson that rely on autodetecting which JSON version to use. Unfortunately current version of Oj is broken (ohler55/oj#263) and is not able to serialize ActiveRecord relations properly.

Please consider using MultiJson instead and add disclaimer to README saying you prefer Oj ins

[2015-09-29 12:19] jondeandres commented on #311
Hi @d4rky-pl,

we have a PR for this, https://github.com/rollbar/rollbar-gem/pull/304. It'll be merge in next days. Our idea is try to use Oj when is available, if not just use the adapter detected by MultiJson.

[2015-09-29 12:24] d4rky-pl commented on #311
@jondeandres oh, sorry for duplicate then :) Closing it now.

[2015-09-29 12:24] #311 closed

[2015-09-29 12:25] jondeandres commented on #311
no problem @d4rky-pl, thanks!

[2015-09-30 14:45] #303 closed

[2015-10-02 04:31] jingweno opened #314 "Body params are skipped for Accept header"
The code [here](https://github.com/rollbar/rollbar-gem/blob/4ef7656c463b2a13d38d4c2fd95b456e74d199c3/lib/rollbar/request_data_extractor.rb#L124) only parses the body if content type is "application/json", while typically the "Accept" header is used instead. For example, Accept=application/vnd.heroku+json; version=3. The current implementation causes a wide range of JSON request body not to be repo

[2015-10-02 06:37] jondeandres commented on #314
@jingweno good point, we'll change this later.

thanks for the tip!

[2015-10-02 07:38] FranMoya commented on #94
hi @jondeandres I updated rollbar version but I keep getting same error "Failsafe from rollbar-gem: error in process_payload". Do I have to do something else, maybe change initializers config?
Thank you :+1:

[2015-10-02 10:52] jondeandres commented on #94
Hi @FranMoya,

in https://github.com/rollbar/rollbar-gem/issues/94#issuecomment-142903734 you say this was working fine. So, this is another problem? Do you have logs?

It'd be nice see those logs you can find greping [Rollbar] on them. Maybe the problem is related to another issue?

Thanks.

[2015-10-02 11:04] FranMoya commented on #94
hi @jondeandres I couldn't check it at all in production enviroment, but today I've noticed in rollbar message the following field -> "notifier.version	2.1.2"
It looks like gem wouldn't be updated in production enviroment, isn't it?

[2015-10-02 12:25] jondeandres commented on #94
@FranMoya yes, if the version is 2.1.2 seems the correct and last version has not been installed. Could  you check that? Maybe your Gemfile line for rollbar is not the correct one.

[2015-10-02 13:21] FranMoya commented on #94
@jondeandres I've checked my gemfile and my gemfile.lock and everything seems to be alright
Gemfile:    gem 'rollbar', '~> 2.3.0'
Gemfile.lock:  rollbar (2.3.0)
                              oj (~> 2.12.14)

[2015-10-05 15:53] jondeandres commented on #94
@FranMoya we always send the current value for `Rollbar::VERSION`. This may be caused by an old process running maybe?

Or it may be an old item processed with some delay? That error seems to be definitely caused by 2.1.2 version of the gem. Can you check the notifier version in your current occurrences? So we can figure out if you are using the correct gem version or not.

[2015-10-05 16:01] FranMoya commented on #94
yeah @jondeandres this early morning I noticed that in newest reports come with 2.3.0 version. It looks like old processes in backlog, thanks you're great :)
:+1:

[2015-10-05 16:02] jondeandres commented on #94
awesome :smile:!

If you have any other problem contact us!

Cheers!

[2015-10-06 15:35] plehoux commented on #239
@jondeandres  when should we expect a fix?

[2015-10-06 15:40] jondeandres commented on #239
@plehoux we'll try to prioritize this, but I can tell you a fixed date for it.

Thinking on a the problem itself, I'm not sure if this is a responsability of the rollbar gem. I mean that it may difficult detect when a URL is malformed or not, since that could depend on the project. And probably any solution will fit everybody needs.

[2015-10-06 15:44] rafBM commented on #239
@jondeandres Just making sure you remember the main issue is not about malformed URL but well-formed ones:

[2015-10-06 15:49] jondeandres commented on #239
Mmmm, ok, re-read the issue and thought thi was just for URLs with two question marks.

We'll try to prioritize this, although seems we'll need to rebuild the URL in some way having filtered params before.

Thanks @rafBM.

[2015-10-12 08:39] randome commented on #275
:+1: For this

[2015-10-12 17:58] brianr commented on #275
Thanks all - for reference, see the related discussion on this PR (which was merged and then reverted): https://github.com/rollbar/rollbar-gem/pull/276

[2015-10-13 14:14] jondeandres commented on #275
@ptrln there is something you can do yourself in a clean way.

If you call `Rollbar.scope` you will receive a `Rollbar::Notifier` instance with its own configuration.

You can then configure that notifier in a independent way, ex:

[code]

This can be useful for manual reports. For automatic Rails reports then you can find a solution in https://github.com/rollbar/rollbar-gem/pull/276 as Brian sugg

[2015-10-14 12:55] pacoguzman opened #318 "Sidekiq report threshold"
Rollbar extensions includes some configuration parameters to report error since a specific job attempt when using delayed job, but not when using Sidekiq.

Would you accept a PR that solve that?

[2015-10-14 13:15] jondeandres commented on #318
@pacoguzman sure, feel free to open a new PR and we can then discuss over the code.

Thanks!

[2015-10-14 18:47] pacoguzman commented on #318
@jondeandres I just created one #319

[2015-10-14 18:51] jondeandres commented on #318
awesome :smile:

[2015-10-20 00:08] #239 closed

[2015-10-22 01:14] saulcosta18 commented on #237
Has work been done on this, or do you have a few files you can point me to so I can get started with it?

[2015-10-22 01:20] jondeandres commented on #237
@saulcosta18 we know having access to the request in order to send custom data is a very requested and we have plans to do this soon.

The idea would be set a new key in the scope generated by the middleware, for ex in `rollbar-gem/lib/rollbar/middleware/rails/rollbar.rb` and evaluate that value, that should be a `Proc` in `lib/rollbar.rb`, on `#build_payload` method.

We plan to do as soon as we

[2015-10-26 14:47] MaicolBen commented on #271
I've the same problem from the server (if I use Rollbar.error from console with the same args it works), regardless whether the exception is caught or uncaught, it prints in the console:
`log writing failed. stack level too deep`

[2015-10-26 17:49] MaicolBen opened #327 "Stack level too deep when username is not defined in User model"
Rollbar throws stack level too deep when a user a is logged and try to retrieve the username of the User model in [controller_methods.rb](https://github.com/rollbar/rollbar-gem/blob/1f8e8cb7454aa8080bb1d4d314411859da99896d/lib/rollbar/rails/controller_methods.rb#L14)

Reproduced with 1.4.5 and 2.3.0 versions

[2015-10-26 17:54] jondeandres commented on #327
@MaicolBen do your `User` instances respond to `username`? Can you paste the backtrace?

Thanks.

[2015-10-26 18:15] MaicolBen commented on #327
No, I added a method that responds with null to fix this(if you see this solution suitable, you can close this ). Also I tried to change the rollbar config for `config.person_username_method` and it doesn't work. The backtrace is a infinite prints of `log writing failed. stack level too deep`

[2015-10-26 18:19] jondeandres commented on #327
@MaicolBen thanks for the details. Can you tell us which rails version are you using?

Thanks.

[2015-10-26 19:01] MaicolBen commented on #327
@jondeandres Rails 3.2.11

[2015-10-28 17:44] fabn opened #330 "build_payload triggers URI::InvalidURIError"
Getting a lot of these errors in the wild

[code]

I think the cause might be [this line](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/scrubbers/url.rb#L24) but I don't have any clue on how to reproduce this because request data are not reported in rollbar and I can't find them in any log.

This is very annoying and I want to prevent this error to remove some noise from my RB acc

[2015-10-28 18:33] jondeandres commented on #330
@fabn any idea about the URL you are trying to parse?

This is Ruby 1.9.1?

[2015-10-28 18:49] fabn commented on #330
No, it's a report from a high traffic app, I get this few times per day. I think that is caused by some misbehaving bot that sends out bad UTF-8 data in some header or query param.

No, current code is running on latest 1.9.3 MRI that 1.9.1 is part of library path created by rvm, full path is this
[code]

This is specific to my app however I think the point here is that you should provide the opti

[2015-10-28 19:14] jondeandres commented on #330
@fab thanks for the info. we will rescue from `URI::InvalidURIError` which is probably the best idea since  `URI` behavior changes with different Ruby versions. About logging the dump, you are totally right. We'll try to improve this.

I'll close this issue once we merge a fix for this.

Thanks Again

[2015-10-29 00:49] #247 closed

[2015-10-29 00:50] #232 closed

[2015-10-29 12:25] fabn commented on #330
Another issue I'm getting (partially related to this issue) is this

[code]

Also in this report I'm completely losing context of the error and it's hard to diagnose.

In my opinion you should really add exception message in [this code](https://github.com/rollbar/rollbar-gem/blob/574b14717aa37728c22e1e66c600cb3e119280e0/lib/rollbar.rb#L626-L633), in this way at least some info are preserved in err

[2015-10-30 00:58] #330 closed

[2015-10-30 00:59] jondeandres commented on #330
@fab we've fixed your issue, we'll release a new version soon. we will probably improve the logging quality so it's easier for everybody figure out what happens in some cases.

Thanks for everything.

[2015-10-30 05:18] fab commented on #330
@jondeandres wrong Fab. You probably mean @fabn

[2015-10-30 06:27] jondeandres commented on #330
Oh yes, sorry @fab!!

[2015-11-02 07:44] marktermaat opened #334 "Allow scoping request data"
With scopes it's possible to customize the payload. However, it's not possible to customize the person, request and context data, because this data is added after the scope is applied. This is because in lib/rollbar.rb#build_payload the following line:

    Rollbar::Util.deep_merge(data, configuration.payload_options)

is before the following lines:

    data[:person] = data[:person].call if data[

[2015-11-02 10:00] marktermaat commented on #334
Another solution would be to make it possible to scrub fields for a certain notifier. Something like this:

    Rollbar.notifier.configuration.scrub_fields |= [:updates]

However, this doesn't work because lib/rollbar/request_data_extractor#sensitive_params_list uses 'Rollbar.configuration.scrub_fields', instead of 'Rollbar.notifier.configuration.scrub_fields'. This might be an interesting additio

[2015-11-14 14:26] peashutop commented on #139
Hi folks -- just wondering if any of the @skippy's ideas above have been implemented? Thanks!

[2015-11-19 15:49] strcmp opened #343 "exceptions that happen in Rack::MethodOverride middleware not reported to rollbar."
Hey,
I have seen exceptions happen within `Rack::MethodOverride#call` but only because new relic caught them. i don't see them on rollbar. strangely though I have seen exceptions that happen in the IpSpoof middleware appear on rollbar. I would like to see exceptions from all middleware without any custom code. I guess I could just insert this very early in the middleware stack:
[code]
but i'd pref

[2015-11-19 16:15] strcmp commented on #343
forgot to mention that the context is a rails application.

[2015-11-19 17:43] jondeandres commented on #343
Hi @strcmp,

can you execute `rake middleware` and paste here the output? We'll try to fix this soon.

Thanks.

[2015-11-19 17:54] strcmp commented on #343
Hey,
I can't paste all, sorry, for privacy reasons.
I can tell you that before the Rollbar middleware there is the following middleware:
[code]
so exceptions in any of these will not be caught. thanks.

[2015-11-19 17:56] strcmp commented on #343
I guess `insert_before Rack::Cache,Rollbar::Middleware::Rails::RollbarMiddleware` could fix this but ill wait for the new gem?

[2015-11-19 18:02] jondeandres commented on #343
I'm not sure we can fix this since we need the middleware to be inserted after some rails middlewares. We need some data in `env` in order to extract the correct info.

[2015-11-19 18:04] strcmp commented on #343
hmm okay thats unfortunate. but thanks for the time. if you feel its unsolvable please close the issue.

[2015-11-19 22:42] brianr commented on #343
@jondeandres Perhaps we could have another middleware to insert at the beginning of the middleware stack, just to catch these kinds of errors?

[2015-11-20 16:27] jondeandres commented on #343
@brianr @strcmp I suggest insert `Rollbar::Middleware::Sinatra` manually before any other middleware. That will work.

The problem is that, for exceptions happening after the Rails middleware, users will have 2 exceptions, and that will happen always we have two middlewares in the stack.

[2015-11-20 16:35] jondeandres commented on #343
@strcmp something you can try is remove our middleware from the stack and set it at first.

Since the environment is mutated by all the middlewares, maybe it will have the correct data on it. For those errors before the rails middlewares, maybe it will work since we use to check values in `env` before accessing them.

So the solution could be just move the middleware to the first one in the stack.

[2015-11-21 07:26] strcmp commented on #343
okay cool, i could try that however will there be a new gem that addresses this? i do not want to use my application as a test for whether or not this will work.

[2015-11-21 19:46] strcmp commented on #343
I will be able to test this from development environment(after enabling rollbar there). I'll get back to you soon.

[2015-11-23 06:58] KamilLelonek opened #344 "undefined method `configure' for Rollbar:Module (NoMethodError)"
I upgraed `Rollbar` from `1.5.3` to `2.6.1` and I get the error from issue's title.

I tried to recreate `Rollbar` configuration by running:

[code]

but the problem remains the same.

What can be wrong?

[2015-11-23 08:45] jondeandres commented on #344
Hi @KamilLelonek, thanks for the report. Do you have backtrace of this? I will look into this today and contact you here.

Thanks.

[2015-11-23 08:48] KamilLelonek commented on #344
[code]

[2015-11-23 12:36] jondeandres commented on #344
@KamilLelonek your problem is while executing `rails generate` or after execute that and start the server?

[2015-11-23 12:38] KamilLelonek commented on #344
Everything which is related to running an initializer. So basically I can generate `Rollbar` config, but I cannot start a server after that.

[2015-11-23 12:39] jondeandres commented on #344
Can you paste your Rollbar initializer? Has that file a `require 'rollbar'` line?

THanks.

[2015-11-23 12:43] KamilLelonek commented on #344
[code]

[2015-11-23 12:46] jondeandres commented on #344
@KamilLelonek change that `require 'rollbar/rails'` with `require 'rollbar'`.

Tell me if that works.

Thanks.

[2015-11-23 12:47] KamilLelonek commented on #344
It does, what was the reason for this change? I couldn't find this in any changelog or upgrading process.

[2015-11-23 12:47] #344 closed

[2015-11-23 13:53] jondeandres commented on #344
Hi @KamilLelonek, this was changed inhttps://github.com/rollbar/rollbar-gem/blob/master/CHANGELOG.md#240. You have details there.

Cheers.

[2015-11-23 22:17] aselder opened #345 "NoMethodError: undefined method `<' for nil:NilClass in Rollbar::Sidekiq"
We're seeing errors in production with Rollbar and Sidekiq. It looks like there is an error in  lib/rollbar/sidekiq.rb:17

The line reads
`msg_or_context.is_a?(Hash) && msg_or_context["retry"] && msg_or_context["retry_count"] < ::Rollbar.configuration.sidekiq_threshold`

Obviously msg_or_context["retry_count"] is returning nil. It looks like the previous clause in the conditional is trying to guar

[2015-11-23 22:19] aselder commented on #318
There is a big issue with this PR: https://github.com/rollbar/rollbar-gem/issues/345

[2015-11-23 22:36] aselder commented on #345
PR to fix this attached

[2015-11-24 15:07] #345 closed

[2015-11-24 19:05] jondeandres commented on #343
@strcmp ok, if you find any useful information ping us.

[2015-11-24 19:08] jondeandres commented on #334
@marktermaat our middleware use `Rollbar.scoped` to set the person and request information. Have you tried that?

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/middleware/rails/rollbar.rb#L22-L47

[2015-11-24 19:08] jondeandres commented on #318
This can be closed.

[2015-11-24 19:08] #318 closed

[2015-11-24 19:09] jondeandres commented on #308
We removed the wrap over better errors, so this should be fixed. Closing

[2015-11-24 19:09] #308 closed

[2015-11-24 19:11] #244 closed

[2015-11-27 19:42] unchris commented on #344
@jondeandres we recently stumbled on this having used the `require 'rails/rollbar'` in the past. We changed it to `require 'rollbar'` and it worked fine.

However, we deleted the file and re-ran `rails generate rollbar` which produced a file which did not include the needed `require 'rollbar'`

I don't mind making a PR if it's as simple as changing the top of `lib/generators/rollbar/templates/init

[2015-11-30 10:10] jondeandres commented on #344
@unchris I think Rails will load `rollbar` since it's defined in your Gemfile. So probably everything should work as it is actually.

I agree with you that probably is more correct having `require 'rollbar'` in the template. If you want to open a PR you're welcome :).

Thanks.

[2015-11-30 15:57] unchris commented on #344
@jondeandres ahh you know what? it's our mistake. Looks like we only have rollbar in the gemfile for `:production` and `:test`. Thanks for reminding me about the Gemfile here. No issues!

[2015-11-30 15:58] jondeandres commented on #344
awesome :smile:. Thanks!

[2015-12-02 09:24] zpearce opened #351 "exception_level_filters is not flexible enough"
I would like to filter out an entire hierarchy of exceptions (everything that has RestClient::Exception in its ancestors list). The current exception_level_filters hash doesn't give me this flexibility, since it requires individual exception classes to be called out by name as hash keys. I would like to submit a pull request to make it more flexible, but I wanted to run it by you first.

What if e

[2015-12-02 10:00] jondeandres commented on #351
@zpearce thanks for reaching out.

I think that would be a good idea and I agree with you that having an isolated class for this will clean a little the code and can be easier to extend for the future.

The callable should return one of the allowed levels `debug, info, warning, error, critical` or `nil` and it's important that we don't break the actual behavior:

[code]

I recommend maintain this

[2015-12-11 12:13] fabn opened #358 "nil value for Rollbar::Util.deep_merge first argument"
With release 2.7.0 I got the actual error message for the issued described in #354 that is

[code]

So instead of the patch discussed [here](https://github.com/rollbar/rollbar-gem/pull/354#discussion-diff-46841517L69) the right fix should check if `hash1` is nil.

However I don't know how to handle that case because I don't know the semantic of that method.

Looking at the code a simple `hash1 ||=

[2015-12-11 12:23] jondeandres commented on #358
Thanks for this investigation @fabn. We'll try to reproduce this and fix this soon.

Your solution may work, but we will need to check exactly what is happening.

Thanks for this!

[2015-12-11 21:58] fertapric opened #359 "Logger interface for Rollbar"
It would be nice if Rollbar provides an interface compatible with the [Logger](http://ruby-doc.org/stdlib-2.2.2/libdoc/logger/rdoc/Logger.html). It comes handy when you want to extend your logger using:
[code]

As example, this is the code I usually include in all my projects, but it would be nice if it's supported by default:

[code]

[2015-12-14 11:53] jondeandres commented on #359
Hi @fertapric,

this is a really good idea. If you want, feel free to open a PR for this. Instead we'll try to add this to our roadmap.

Thanks!

[2015-12-15 11:32] ngelx opened #360 "Separate ActionController::RoutingError"
Hi, there is any way to separate distinct ActionController::RoutingError depending on the route failing as different items?

Thanks

[2015-12-15 15:47] jondeandres commented on #360
Hi @ngelx, we are looking for a solution for this. We'll contact you then we figure out the easiest way to do this.

[2015-12-18 12:43] ngelx commented on #360
Thanks @jondeandres . any luck so far?

[2015-12-18 17:17] #358 closed

[2015-12-18 23:40] brianr commented on #360
Hi @ngelx - this is actually possible to set up via the Rollbar UI, using Custom Grouping. Here's a blog post with an example that I think is exactly what you want to do: https://rollbar.com/blog/post/2014/06/10/More-Powerful-Custom-Grouping

Let us know if this works :)

[2015-12-18 23:40] #360 closed

[2016-01-11 08:03] hakunin opened #365 "Rollbar.js via asset pipeline?"
Hi,
it would be nice if we could require Rollbar.js via asset pipeline from this gem.

Some people may prefer to have it in the body itself, I always serve it from application.js so it would be super easy to keep it up to date if it was just required from the gem itslef.

[2016-01-11 15:00] jondeandres commented on #365
@hakunin sounds like a good idea, let's see if we can do this soon. We'll contact you.

Cheers!

[2016-01-11 15:07] hakunin commented on #365
Sorry to bother you here guys, but as of this morning (7hrs ago), I am unable to access my account and it says its not even there (password reset). I've contacted you via email and twitter but no one responded to me.

My account's email is `michal.hantl@gmail.com` and is tied to this github account.

[2016-01-15 19:25] daniely commented on #281
:+1: for this. I spent a few hours troubleshooting rollbar only to find it was because of the wrong queue name :(

[2016-01-18 21:23] philkcw commented on #139
@jondeandres , having a whitelist of params would be a valuable option for us because it would mean no extra Rollbar configuration would have to be done as our applications grow.  Is that on your roadmap?

[2016-01-18 21:37] jondeandres commented on #139
@philkcw is not in our inmediate roadmap but we'll add it. I hope we can release something soon.

[2016-01-25 12:49] masterkain commented on #94
I have this error on the most recent version:

`Failsafe from rollbar-gem. TypeError in /app/vendor/bundle/ruby/2.2.0/gems/rollbar-2.5.2/lib/rollbar.rb:375:in `[]': build_payload in exception_data`

[code]

[2016-01-26 15:07] smolnar opened #367 "Rails 5 deprecations"
I'm using Rollbar with Rails 5 (currently 5.0.0.beta1.1) and I noticed this deprecation warnings. Just a reminder to fix those before upgrading to Rails 5.1.

[code]

Code:
[code]

[2016-01-26 15:26] jondeandres commented on #367
Hey @smolnar, thank you very much for the tip. I hop we can work soon on the Rails5 integration and full support, and we we'll take this into account.

[2016-01-28 20:06] brianr commented on #177
I believe this is resolved by https://github.com/rollbar/rollbar-gem/pull/354 - thanks @fabn for that! Going to close this issue.

[2016-01-28 20:06] #177 closed

[2016-02-01 11:08] Crisfole commented on #236
Any chance you can also send us the output of `rake middleware`? We suspect what's happening is that the error is occurring sometime between where NewRelic is hooking in, and where Rollbar is hooking in, so New Relic gets an opportunity to report it, but Rollbar doesn't.

[2016-02-01 11:47] ngelx commented on #360
Sorry guys, it workd like a charm adding this rule to group

[code]

Thanks!
@ngel

[2016-02-01 17:30] fcheung opened #369 "DelayedJob integration should not call as_json on the payload object."
The [DelayedJob integration](https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/delayed_job.rb) loads the payload object and tries to serialise it using as_json. If Delayed job has been used to delay a class method on an ActiveRecord subclass, this can have very unpredictable results, as one of the objects that will have `as_json` called on it is the class itself.

ActiveSupport adds [

[2016-02-01 18:25] jondeandres commented on #369
@fcheung have you tried using Oj as JSON serializer? It's the gem we suggest to use.

We've had historiclal problems with to_json and as_json and we didn't find a solution to work on every project. Can you give us more details about the libraries you have installed?

Thanks.

[2016-02-01 18:27] Crisfole opened #370 "Don't explicitly rely on rails"
https://github.com/rollbar/rollbar-gem/blob/master/Gemfile#L13

Remove the explicit rails dependency

[2016-02-01 18:29] jondeandres commented on #370
@Crisfole what is the purpose of this?

[2016-02-01 18:58] fcheung commented on #369
I can reproduce the issue with this snippet (running against rails 4.2.5.1)

    require 'active_record'
    ActiveRecord::Base.establish_connection(adapter: 'sqlite3', database: 'test.sqlite3')
    ActiveRecord::Schema.define(version: 1) do
      create_table  :users do
      end
    end

    class User < ActiveRecord::Base
    end

    User.create!
    User.as_json

This produces a SystemStackEr

[2016-02-01 19:03] fcheung commented on #369
This snippet shows what happens when roller is involved:

    require 'active_record'
    require 'delayed_job'
    require 'delayed_job_active_record'
    require 'oj'
    require 'rollbar'

    Rollbar.configure do |config|
      # Without configuration, Rollbar is enabled in all environments.
      # To disable in specific environments, set config.enabled=false.

      config.access_token = ENV

[2016-02-01 20:39] brianr commented on #370
I think the confusion is that there is a Gemfile in the main repo, which has 'rails' in it, even though Rails isn't actually a runtime dependency (since the gemspec is what really matters).

@jondeandres Do we need that Gemfile for anything? If not, let's remove it.

[2016-02-01 20:46] jondeandres commented on #370
We use on travis the gemfiles in `gemfiles/` folder. But in general is suitable and common having a Gemfile.

If not we need always, on development to use `BUNDLE_GEMFILE=path-to-gemfile-in-gemfiles-folder bundle install` for ex.

For fast development and easier workflow, I think it's better having the Gemfile. Also, for users that want to open a PR they will expect that `bundle install` works wit

[2016-02-01 23:09] ur5us opened #371 "Not compatible with SuckerPunch v2"
After upgrading to SuckerPunch v2 no exceptions are reported in Rollbar. Here's the log:

[code]

As you can see `Async handler failed`.

[2016-02-02 00:03] kirkchris commented on #371
Seeing this issue as well. We were able to drop back to sucker_punch 1.6.0 and all is well again. But would be awesome to see 2.0 support!

[2016-02-02 00:43] ur5us commented on #371
@kirkchris Yes, that's exactly what I did and it works again.

[2016-02-02 01:20] #370 closed

[2016-02-02 01:20] Crisfole commented on #370
This was a misunderstanding

[2016-02-02 06:43] jondeandres commented on #371
@ur5us @kirkchris thanks a lot for reporting this. I hope we can work on this soon ok? We'll contact you.

[2016-02-02 14:08] jondeandres commented on #369
@fcheung thank you very much for the analysis. We'll try to reproduce the problem and fix it.

[2016-02-03 22:33] ur5us commented on #371
@jondeandres No pressure, all good. Switching back to SuckerPunch 1.x solves the problem for now. Just reporting the issue so that it's filed to raise awareness and track progress. Thanks for doing the work.

[2016-02-04 08:50] jondeandres commented on #369
@fcheung can you for now use this config options? `config.report_dj_data = false`.

We'll work on fix this soon. Thanks.

[2016-02-04 09:59] fcheung commented on #369
I've just monkey patched rollbar for now - the remainder of the data is still good to have

[2016-02-04 10:01] jondeandres commented on #369
@fcheung nice, can you share what you coded for that? You just remove the data you don't want?

[2016-02-04 10:17] fcheung commented on #369
It's a bodge - i just commented out https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/delayed_job.rb#L20

job is an active record object (at least with the backend i use) so has a sane as_json method. handler ends up being a blob of yaml rather than a nice payload object but it's still pretty readable in general - for us it's never much more than a class name, method name & arguments

[2016-02-04 10:17] fcheung commented on #369
module Rollbar
  module Delayed
    class JobData
      def to_hash
        job_data = job.as_json
        job_data
      end
    end
  end
end

[2016-02-04 10:18] jondeandres commented on #369
I see, I think I was using that solution but I found some problems in some scenarios.

I'll check it, thanks! :smile:

[2016-02-09 14:44] benja83 commented on #111
Hi,

I'm using Sinatra:

I reached to import the rake_tasks in my Rakefile and create an Environment task setting up my app.

The following problem is that the task look for Rails:
https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/rake_tasks.rb#L6

May be it could be possible to create a new logger going to $stdout or using a lower abstraction level and using rack.

[2016-02-09 15:59] jondeandres commented on #111
Hi @benja83,

that task depends on Rails yes. For Rails we add automatically a middleware to the chain, so we wanted to test that.

That task builds a new action that will fail and adds the route to the app, then it tests that route just calling it.

For Sinatra you need to use manually the middleware for Sinatra, `Rollbar::Middleware::Sinatra`. And it may be difficult add new routes to your app j

[2016-02-09 17:54] benja83 commented on #111
Hi @jondeandres

Sounds good, I will try it later, thanks for responding so fast!

May it could be fine to update the documentation with this.

[2016-02-11 20:13] jmervine commented on #94
Hello,

I also saw this issue just now...

[code]

Things to note:

[code]

Please let me know if you need additional information.

[2016-02-12 15:20] Crisfole commented on #94
We're investigating these timeouts in a bit more depth and were hoping you'd be able to provide us with a few more details about your system and the errors:

 * Timestamps for any TimeoutErrors you've seen (including seconds)
 * The location of the server making the request that timed out.
 * Any IP addresses of servers making timed out requests to Rollbar.
 * The output of ping api.rollbar.com (o

[2016-02-15 11:44] paulmenzel opened #384 "[security] Read secrets from `config/secrets.rb`"
Currently, the generator creates files with the access tokens `app/views/shared/_rollbar.haml` and `config/initializers/rollbar.rb`.

Please update them, so that it’s read from `config/secrets.rb`, to not have people check in their secrets into the repository.

[2016-02-19 09:50] hakunin opened #388 "More useful scopes"
Hey guys,
I'd like to propose more useful scopes.

Currently you can use the awesome scope block, but the catch is you have you also rescue within it.

[code]

Usually what happens is you have some code and scope adds debug info about the problem. But that doesn't mean I want to catch the error there.

Why not just add the scope data to the exception and when it is caught by rollbar (could happen

[2016-02-19 10:29] jondeandres commented on #388
@hakunin thanks for opening the issue.

Inside the `scoped` block, not matters how deep in the stack, you can access the scope you have at that moment with `Rollbar.notifier.scope_object`.

The different scopes are merged if you have nested `scoped` blocks, so while uploading the attachment you fill find the card and the attachment in `Rollbar.notifier.scope_object`.

Tell me if this is enough for

[2016-02-19 10:42] hakunin commented on #388
The point I was trying to make is you have to manually rescue there, which doesn't add any value and clutters up code.

[2016-02-19 11:00] jondeandres commented on #388
@hakunin the only exception we could rescue is `StandardError` and we'd to swallow the exception since if not, that may cause double reports when using the rails or rack middlewares.

I think it's not a good idea that the library swallows raised exceptions and that is responsability of the application developer. That change also will break the middlewares that rescue `Exception` and re raise it ev

[2016-02-19 20:22] brianr commented on #388
Thanks @hakunin for the request. This does feel nice.

@jondeandres I'm not sure I understand the issues with implementing it. Why would we have to swallow exceptions?

[2016-02-19 21:27] jondeandres commented on #388
@brianr we use `.scoped` in the rack middlewares and async handlers, and we need to re raise the exception there, we cannot swallow exceptions in `scoped`. We agree with that.

So we can re raise the exception, what will cause double reports since the middleware uses also `scoped`. Another important point, is, we shouldn't change the interface of this method. Users don't expect this method to rais

[2016-02-22 15:29] codem4ster opened #389 "#145 Failsafe from rollbar-gem. ArgumentError: "invalid byte sequence in UTF-8" in /usr/local/rvm/gems/ruby-2.2.1/gems/rollbar-2.7.1/lib/rollbar/request_data_extractor.rb:197:in `=~': build_payload in exception_data"
We are getting this error so much. Once every 20 minute. What is the reason of this error, how can we avoid this?

[2016-02-22 15:31] jondeandres commented on #389
@codem4ster can you send us an email to support@rollbar.com and tell us your account name and project?

Do you have any chance to start a debugger before that line and inspect the variables there?

[2016-02-22 18:49] codem4ster commented on #389
@jondeandres I found the problem. '=~' operator doesn't work on non UTF-8 encodings. We try sending data to rollbar which we get from an external service. This service sends us ISO-8859-9 encoded data. I solved my problem by force_encode('ISO-8859-9').encode('UTF-8').

If you want to solve this globally, you can reproduce the error by doing these;
- create a file in text editor
- write into it 'Şş

[2016-02-22 18:51] jondeandres commented on #389
@codem4ster awesome, thank you very much for the details. We'll will work on a fix as soon as possible and we'll contact you, ok?

Thank you very much!

[2016-02-29 05:57] lukehorvat opened #391 "Rails – undefined method `+' for nil:NilClass (NoMethodError)"
Hi I'm trying to use Rollbar in a Rails app, but I encounter an error every time my app starts:

[code]

My configuration in `config/initializers/rollbar.rb` is pretty minimal:

[code]

And  `Gemfile`:

[code]

So I don't see what I could be doing wrong here. What is causing the error?

[2016-02-29 06:01] jondeandres commented on #391
Hi @lukehorvat, can you open a Rails console and run this?

[code]

How do you define your app class in config/application.rb?

Thanks

[2016-02-29 06:06] lukehorvat commented on #391
My `config/application.rb` looks like this:

[code]

Running `::Rails.application.class.parent_name` returns `nil`...

[2016-02-29 18:53] jondeandres commented on #391
@lukehorvat sounds interesting...that `config/application.rb` was generated by `rails` command? Usually `class Application` is nested in another module:

[code]

So I'd say something wrong is being generated or configured.

[2016-03-01 00:26] lukehorvat commented on #391
Ah, so it needs to be wrapped in a module. I removed the module definition myself some time ago since my app didn't need it.

Thank you.

[2016-03-01 00:26] #391 closed

[2016-03-01 01:40] jondeandres commented on #391
Thanks to you @lukehorvat

[2016-03-01 23:51] fdr commented on #371
...please release a gem that declares the incompatibility with newer suckerpunch so a 1.x is chosen (or fix to support v2). As-is anyone installing this gem without knowing that there was a major change to suckerpunch will have non-functioning rollbar. I happened to start a new project in this window last month and experienced this firsthand.

[2016-03-02 17:29] jondeandres commented on #371
@fdr sorry for this, we'll try to release this week a new version declaring incompatibility with suckerpunch v2 or adding support for it.

[2016-03-02 18:10] wuputah commented on #371
:100: we've hit this too :+1: hoping for a fix soon!

[2016-03-03 20:28] ur5us commented on #371
@jondeandres Awesome, thanks!

[2016-03-05 01:45] #389 closed

[2016-03-09 08:32] pirkka opened #396 "Incompability with rake (11.0.1): cannot determine rake version"
/gems/rollbar-2.8.2/lib/rollbar/rake.rb:23:in `patch?': undefined method `split' for nil:NilClass (NoMethodError)

Getting the above error with rake 11.0.1, looks like patch method is simply unable to determine what version of Rake is running.

Rollbar gem verison used is 2.8.2.

[2016-03-09 08:45] jondeandres commented on #396
Hi @pirkka, thanks for opening this issue. We hope to fix this this week.

Thanks.

[2016-03-09 12:38] loed-idzinga commented on #396
Running into the same issue, copied the output from the trace.

[code]

[2016-03-09 19:29] jondeandres commented on #396
Thanks @loed-idzinga, I think https://github.com/rollbar/rollbar-gem/pull/397 will resolve the problem.

Thanks!

[2016-03-10 02:39] #396 closed

[2016-03-16 11:39] jrasanen commented on #396
I wonder if the error I get is related to this one? Followed the onboarding process and got "NoMethodError: undefined method `split' for nil:NilClass"

Steps to reproduce:

* Create an empty rails project
* Add pg and rollbar to Gemfile
[code]
* rails generate rollbar XXXXX
* rake rollbar:test

and I get an error,

[code]

[2016-03-16 11:40] jondeandres commented on #396
Hi @jrasanen, we fixed this with https://github.com/rollbar/rollbar-gem/pull/397. If you upgrade to the latest version you have it fixed.

[2016-03-16 11:45] jrasanen commented on #396
Ok thanks!

I guess the on-boarding still has the old version, it tells to install "~> 2.7.1". Maybe it should be "~> 2.7"? It would then match the latest version too.

[2016-03-17 01:45] brianr commented on #396
Thanks @jrasanen - we'll get those docs updated.

[2016-03-17 01:51] suung opened #403 "compability with rspec-rails 3.4"
after updating, in ruby 2.1.5 to rspec-rails 3.4 i get and undefined method split for nil due to rake_version becoming nil.

i investigated a bit, i think it has to be

[code]
/lib/rollbar/rake.rb

with :: in the in beginning
in #

[2016-03-17 01:52] suung commented on #403
i would be happy if we could solve this together :)

[2016-03-17 09:23] jondeandres commented on #403
Hey @suung, that is resolved in last version of the gem.

By the way, we are upgrading rspec to 3.4 in this PR https://github.com/rollbar/rollbar-gem/pull/402.

[2016-03-17 10:52] suung commented on #403
hey okay, cool, i will update, thanks!

[2016-03-17 10:52] #403 closed

[2016-03-17 11:29] suung commented on #403
sorry @jondeandres maybe im dumb, but just updating rollbar doesnt work. i have 2.2.1. what is the latest stable with the fix?

[2016-03-17 11:52] jondeandres commented on #403
@suung I couldn't reproduce this problem. Can you give us more details about it? You can paste here the steps you are following.

Thanks.

[2016-03-17 17:55] suung commented on #403
hey @jondeandres

sorry for the delay.
not sure, what steps i could show you

but i think this helps:

[code]

[2016-03-17 17:57] jondeandres commented on #403
Hi @suung, yes, in 2.2.1 that is broken since Ruby tries to get `Rollbar::Rake::VERSION` instead of `Rake::VERSION`. This is fixed in lasts versions of the gem. Upgrade to 2.8.3 and you should not see that error.

[2016-03-17 18:01] suung commented on #403
thanks!

now i get this

[code]

but i can probably figure out my way from here

[2016-03-17 18:02] jondeandres commented on #403
@suung can you give us more details? your problem is using Rollbar in a Rails project?

[2016-03-17 18:13] suung commented on #403
@jondeandres i am upgrading to rspec 3.4 in a rails project, that is already using rollbar.

[2016-03-17 18:14] jondeandres commented on #403
oh...ok. what rails version? are you using rspec-rails? Do you `require 'rollbar'` in your rollbar initializer?

[2016-03-17 18:19] suung commented on #403
i require rollbar/rails, let me try

[2016-03-17 18:19] suung commented on #403
yes, i have to require rollbar

[2016-03-17 18:21] suung commented on #403
thanks @jondeandres. i am really convinced of you guys now :) @

[2016-03-17 18:22] suung commented on #403
when i come to barcelona, i buy you a beer

[2016-03-17 18:22] jondeandres commented on #403
Thanks! :beers: !!

[2016-03-23 04:42] AknEp opened #411 "undefined method `split' for nil:NilClass occur in assets:precompile"
In my heroku enviroment, `undefined method `split' for nil:NilClass` was occurred in `assets:precompile`.

I found `Rake::VERSION` and `RAKEVERSION` is nil. so rollbar gem crashes in `Rollbar::Rake.patch!`

I don't know why Rake Version const was not defined ...
my Gemfile.lock has below.., and bundle install command success.

[code]

but, I think rollbar should be more robust.

[2016-03-23 08:15] jondeandres commented on #411
Hi @AknEp, this is resolved in lasts releases of the gem. Please try to update to the last one. THe fix is in this PR, https://github.com/rollbar/rollbar-gem/pull/397.

Rake 11.x was release the 9th o march and we fixed it on 10th. We know this may has caused problems to you, so we are sorry.

Thanks.

[2016-03-23 08:16] #411 closed

[2016-03-23 08:19] AknEp commented on #411
oops! Thank you for your quick response. sorry for my no-checking other issues.

but I think similar problem should occur, so #397 it not enough. I'll send PR.

[2016-03-23 10:43] eliotsykes opened #413 "Clarify in configuration.md docs if regexp allowed for scrub_fields"
I'm looking at an app that contains many sensitive fields so I'd like to default to scrubbing all fields as they shouldn't be logged to a 3rd party (no offence intended Rollbar).

Its unclear from the docs (configuration.md) if the `scrub_fields` config accepts a regex, e.g. its not clear if this would work.

[code]

[2016-03-23 10:51] jondeandres commented on #413
Hi @eliotsykes, thanks for reaching out.

When we filter the parameters we build a regex in this way:

`sensitive_params_regexp = Regexp.new(sensitive_params.map{ |val| Regexp.escape(val.to_s).to_s }.join('|'), true)`

So I'd say that regex expressions doesn't work for scrubbing parameters. We have in our roadmap improve this functionality, but I can't tell you right now when that will be ready.

[2016-03-23 10:56] eliotsykes commented on #413
Thanks for the fast response @jondeandres! Until the feature is added, is there a recommended workaround to prevent all request params from being logged to Rollbar?

[2016-03-23 11:01] jondeandres commented on #413
Hey @eliotsykes, you could monkey patch this method in this module, https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/request_data_extractor.rb#L191-L213, so it generates a new `Hash` with obfuscated values.

I think we should probably make scrubbing more powerful, so thank you for open an issue :smile:

[2016-03-23 11:16] eliotsykes commented on #413
Yep - at the moment this makes it difficult to recommend Rollbar to businesses with strict PII regulations.

[2016-03-23 11:17] jondeandres commented on #413
@eliotsykes what requirements do you have? We could try to work on this in few days.

[2016-03-23 11:20] eliotsykes commented on #413
There's many request params (100+) from many forms (and growing) that all contain PII data.

This PII data ought not to be exposed to 3rd parties (including Rollbar). Exception messages are fine as they contain no PII. Its the request params that often contain personally identifiable info (e.g. birthday, financial info, more).

[2016-03-23 11:22] jondeandres commented on #413
aha, what features would you like to have?

- scrub all params? this can be easily done
- scrub by regex? this will take a little more time but it's doable

[2016-03-23 11:23] eliotsykes commented on #413
would be absolutely fine for right now.

[2016-03-26 13:05] fagiani commented on #66
Bump! any hope for this?

[2016-03-26 21:15] trostli commented on #369
Just recently ran into this issue myself and am getting Stack Level too deep errors in my delayed_job workers when using Rollbar in them. The OJ gem does not seem to help.

[2016-03-28 14:00] Crisfole commented on #249
This is solved by the recent release of the `transform` and `before_process` configuration methods.

[2016-03-28 14:00] #249 closed

[2016-03-28 14:03] Crisfole opened #415 "Documentation Error"
Our documentation currently states that the exception level filters should be set to `ignore`, but the code uses `ignored` in some places instead:

 * https://github.com/rollbar/rollbar-gem/blob/1f8e8cb7454aa8080bb1d4d314411859da99896d/lib/rollbar/exception_reporter.rb#L14
 * https://github.com/rollbar/rollbar-gem/blob/8dea6218527b0b2fbbb6e042f4aca407c746d9cd/lib/rollbar.rb#L129

We should be cons

[2016-03-29 13:46] jondeandres commented on #369
@trostli we'll need to review this. The bug is in ActiveSupport since it monkey patches `Object`. We need to find a correct way to send this data. We hope we can fix this soon.

Sorry for the inconveniences.

[2016-03-30 05:02] grosser commented on #249
this solution is a bit brittle (lots of nested hash accesses ... and a block call)
and it introduces overhead by raising and rescuing ...
ideally the hook should just return false and that's it ... not sure what else it would be useful for ...

[code]

[2016-04-01 14:11] ryansch opened #416 "Sidekiq 4.x scope side effects"
I was doing a code review of this gem before adoption and I noticed that there isn't any code to clear thread locals between sidekiq jobs.  Since sidekiq 4.x (and maybe earlier?) reuse `Processor` threads to run more than one job (https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/processor.rb#L66-L68), if I use `Rollbar.scope!` to mutate the current scope I think there may be side effects

[2016-04-01 14:15] jondeandres commented on #416
Hey @ryansch, thanks for creating the issue, we'll take a look at this. Will `Rollbar.scoped` help you with your issues? You can always create a new notifier with `Rollbar.scope` and use the returned object instead of using `Rollbar`.

[2016-04-01 14:18] ryansch commented on #416
We have a multi-tenant app.  I'd much rather be able to create a piece of sidekiq server middleware to inject the current tenant information into the scope with `Rollbar.scoped!` instead of having to pass scope objects around.  We have _many_ workers that call different service objects and it's infeasible to change all that code.

We're evaluating rollbar while we're currently using honeybadger.

[2016-04-01 14:20] jondeandres commented on #416
Thank you very much for the information @ryansch, we'll try to fix this as soon as possible. We'll contact you in this issue.

Thanks!

[2016-04-07 01:27] tarr11 opened #419 "Use delayed_job for asynchronous reporting"
Is it possible to use delayed_job (instead of sidekiq, resque) or similar to process rollbar errors asynchronously?  I have a heroku app and do not want to install redis.

[2016-04-08 06:39] jondeandres commented on #419
Hi @tarr11, if `Delayed` is loaded at the moment that Rollbar is configured, we'll wrap Delayed so the error reports as sent using it.

[2016-04-08 15:10] #359 closed

[2016-04-08 20:18] #416 closed

[2016-04-08 20:33] jondeandres commented on #416
Hi @ryansch, we've fixed and closed this issue. Thank you very much for reporting this, since it was a real bug.

We hope you integration with Rollbar is successfuly, and don't doubt in open any other issue if you have questions, problems with it or you want to purpose something new, improvements, etc...

Thanks again.

[2016-04-09 00:15] phlipper opened #422 "[BUG] Version 2.9.0 breaks Sidekiq support"
The new middleware update introduced in #421 is broken. The `chain` variable is missing on [line 46](https://github.com/rollbar/rollbar-gem/pull/421/files#diff-23aec9cb4c3db31268a765b02619880cR46) of `lib/rollbar/sidekiq.rb`. This results in the following stack trace:

[code]

[2016-04-09 00:18] tarr11 commented on #419
Hi @jondeandres - I meant the other way around, so that when a message is sent to rollbar, we can use delayed_job as the queue.

[2016-04-09 00:21] jondeandres commented on #419
Ah ok @tarr11, sorry I misunderstood. We don't support DelayedJob as async handler, give us few days and we'll work on it.

I reopen the issue so we'll contact to you again. Thanks a lot.

[2016-04-09 00:26] jondeandres commented on #422
@phlipper thanks a lot for the report, we're sorry for this bug.

We've release 2.9.1.

[2016-04-09 00:26] #422 closed

[2016-04-09 00:27] phlipper commented on #422
@jondeandres thank you very much!

[2016-04-11 13:46] jondeandres commented on #365
@hakunin this was released in previous versions of the gem. just upgrade to the latests one and you'll have it.

take a look at the documentation in https://github.com/rollbar/rollbar-gem#integration-with-rollbarjs

Thanks!

[2016-04-11 13:46] #365 closed

[2016-04-11 17:04] jondeandres commented on #415
The docs are ok, we return `'ignored'` when the report is ignored by the library but the `exception_level_filters` option expects `'ignore'` in the configuration `Hash`.

[2016-04-11 17:04] #415 closed

[2016-04-12 00:12] EdmundLeex opened #426 "delayed_job plugin not rescuing exceptions"
We currently wrote our own plugin to catch and log exceptions on Rollbar.

I noticed the previous version was rescuing exceptions. But the latest version changed to only catching errors. Is there a reason for such a change?

[2016-04-12 10:42] Nikamura opened #427 "DEPRECATION WARNING alias_method_chain"
`DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from <top (required)> at )
DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from <top (required)> at ...)`

https://github.com/r

[2016-04-12 10:43] #427 closed

[2016-04-12 10:59] Crisfole commented on #426
Hey there. Which "previous" version are you talking about? A quick search of the commit history for this gem doesn't show any commits like that.

[2016-04-13 04:43] anocriny opened #428 "Prevent rollbar from reporting SEO scrawlers activities."
How to prevent rollbar from reporting SEO scrawlers activities. SEO scrawler can be determined by rollbar browser type (i.e Google, Baidu, findxbot, etc..). How to block rollbar from doing exception report when these SEO scrawler produces recordnotfound error when it try to access deleted record.

[2016-04-13 12:50] jondeandres commented on #428
@anocriny take a look at https://github.com/rollbar/rollbar-gem#before-process-hook and https://github.com/rollbar/rollbar-gem#the-scope. You can raise an exception in that configuration block. So you'll need to check the request object there and raise the ignore exception if you want to skip that report.

[2016-04-13 12:50] #428 closed

[2016-04-13 13:30] #66 closed

[2016-04-13 14:41] stevenpetryk opened #429 "Should use ENV.fetch instead of ENV[] when in environment variable mode"
In the generated `rollbar.rb` initializer, `ENV.fetch` should be used. `ENV.fetch` throws an exception if the environment variable isn't present, which is much easier-to-debug behavior.

[2016-04-13 14:44] jondeandres commented on #429
@stevenpetryk we use `config.environment = ENV['ROLLBAR_ENV'] || Rails.env`, so if there is not `ROLLBAR_ENV` variable we use the Rails environment.

We can change it to `ENV.fetch('ROLLBAR_ENV', Rails.env)` but I think the behavior is the same. So at the end `fetch` will not throw any exception.

[2016-04-13 14:44] stevenpetryk commented on #429
Ah, I see. This should be fine then.

[2016-04-13 14:44] #429 closed

[2016-04-13 17:21] EdmundLeex commented on #426
Thanks for following up. 3fb2536538f6e58688dc360d1640014c4a2ee597 is the one.
But regardless, just wonder why you wouldn't want to log exception.

[2016-04-15 18:29] jondeandres commented on #426
@EdmundLeex I think I don't understand exactly what you mean. We are reporting the errors for DelayedJob. Maybe I'm missing something.

[2016-04-15 20:10] EdmundLeex commented on #426
Before this commit 3fb2536538f6e58688dc360d1640014c4a2ee597, `self.wrap_worker` method was rescuing exceptions.

But the commit changed it to only rescue ruby StandardError (line 25). Because of this change, exceptions within delayed job are not reported on Rollbar.

My question was, why are exceptions not reported? The commit is titled as 'Fix delayed_job crash reports.'. I wonder if reporting ex

[2016-04-15 20:13] jondeandres commented on #426
@EdmundLeex in that commit we rescue all exceptions inheriting `StandardError`, that are, in general, most of them except few ones.

Except signals, so, and syntaxis exceptions, all the other inherit from `StandardError`, what should be enough. I think we can change it to rescue `Exception` as we did before. But I'm wondering which kind of exceptions you are missing in Rollbar.

Thanks

[2016-04-16 00:34] EdmundLeex commented on #426
That'd be great. Thanks.
We initially wanted to catch out of memory exception. But that ended up to be impossible on Heroku. But it prompted me that there might be other exceptions we might want to catch and log onto Rollbar.

Edmund Li
Sent from my iPhone

[2016-04-18 16:43] #413 closed

[2016-04-18 17:25] eliotsykes commented on #413
:+1: Brilliant, thanks @jondeandres!

[2016-04-18 17:48] jondeandres commented on #413
hey @eliotsykes, we hope your experience with this feature is successful. ping us if you have any problem with something.

[2016-04-20 03:10] gregblass opened #439 "current_account (like current_user)?"
Any chance that exists (for a multi-tenant app)?

[2016-04-20 14:54] Crisfole commented on #439
Hey, you could add that data to the `person` or `custom` fields! It *won't* be used as part of the person identifier, though. If you wanted to override how that worked you could specify a different method to call to generate the id: https://github.com/rollbar/rollbar-gem#person-tracking.

Something like this:

[code]

[2016-04-20 18:03] vasspilka opened #441 "Rollbar::Rake.rake_version returns nil [ fixed in #397 but not included in latest build ]"
**NOTE**
This issue is fixed in mater!!!
If you are experiencing this a solution is
`gem 'rollbar', github: 'rollbar/rollbar-gem', branch: 'master'`
**END OF NOTE**

So in `Rollbar::Rake.patch?` I get the following error
[code]
Upon investigating the gem it seems that `Rollbar::Rake.rake_version` returns nil.
what is even more strange is the following

[code]
Monkey patching and removing the retur

[2016-04-20 18:07] vasspilka commented on #441
On further notice the whole syntax seems to be faulty check this
[code]

[2016-04-20 18:37] vasspilka commented on #441
Ok seems to be fixed by #397, but the problem remains that the latest build includes this bug, could you please do a later build that includes the fix

[2016-04-20 18:50] jondeandres commented on #441
@vasspilka I'd say this is fixed in master but we didn't release a new version yet. We are working on a couple of features and we want to release all together.

[2016-04-21 19:04] vasspilka commented on #441
Yea I figured, I am pulling from master for the time being, should I close this?
I think it might be a good idea to keep it open until next release as it was quite confusing for me :)

[2016-04-22 15:52] juno opened #442 "Secure headers support doesn't compatible with secure_headers 2.x"
Hi,

I updated rollbar to 2.10.0 and enable RollbarJS integration but `SCRIPT` tag will not inserted in response body. 😢

The PR #437 sets `Rollbar::Railtie.initializer` after `secure_headers.middleware` but it's not exists in secure_headers 2.x.

* `railtie.rb` in secure_headers 3.0
https://github.com/twitter/secureheaders/blob/master/lib/secure_headers/railtie.rb
* `railtie.rb` in secure_headers

[2016-04-25 09:30] jondeandres commented on #441
Hey @vasspilka, we released v2.10.0 a couple of days ago. We hope this is fixed now for you.

Thank you very much.

[2016-04-25 09:30] #441 closed

[2016-04-25 09:55] jondeandres commented on #442
Hey @juno, thanks for opening this issue and explain the problem. We'll try to fix this during this week.

Thanks again.

[2016-04-26 00:22] MetricMike opened #446 "More useful error handling"
[Python implementation](https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L1227) recognizes some error codes and prints useful messages accordingly. Could this feature be ported to this gem?

[2016-04-26 09:01] jondeandres commented on #446
@MetricMike we can do that, but for now check if this works fine for you:

We print this messages everytime the response code is not 200:

[code]

So we print a warning message with the `response.body` attached. The response body on a 429 is something like `Over rate limit. Access token: xxxxx`.

[2016-04-26 16:15] acaporrini opened #449 "Failsafe from rollbar-gem. ArgumentError: "wrong number of arguments (1 for 0)" .../rollbar-2.7.1/lib/rollbar/core_ext/basic_socket.rb:4:in `as_json': error in process_payload"
We have a Sinatra application using rollbar-gem 2.7.1 and recently we have integrated ActiveRecord support in the application.

Immediately after that we started to receive this error:

Failsafe from rollbar-gem. ArgumentError: "wrong number of arguments (1 for 0)"  .../rollbar-2.7.1/lib/rollbar/core_ext/basic_socket.rb:4:in `as_json': error in process_payload

I understand from  the changelog tha

[2016-04-26 16:22] jondeandres commented on #449
Hi @acaporrini, sorry for this inconvenience. We'll need to investigate what is happening exactly in your scenario.

For the moment you can use this config `config.disable_core_monkey_patch = true` in your Rollbar configuration. This will disable that monkey patch.

Do you have a backtrace of this exception? We don't send it in failsafe errors to avoid possible bugs in the backtrace parsing.

Besi

[2016-04-27 12:30] #442 closed

[2016-04-27 15:18] catherine440 opened #451 "Rollbar 2.8.3 Gem Requires Multi_json 1.5.0 or 1.6.0"
The rollbar 2.8.3 gem (and likely everything since 2.4.0) is NOT compatible with all versions of multi_json as the gem claims it to be. The gem requires 1.5.0 (according to doc) or 1.6.0 (according to code) from my research. The problem code is line 26 in lib/rollbar/json.rb -- MultiJson.with_adapter, introduced in this PR: https://github.com/rollbar/rollbar-gem/commit/e33f10e7fb9d383b5ec76d675cee

[2016-04-27 15:40] jondeandres commented on #451
@catherine440 I think the commit https://github.com/rollbar/rollbar-gem/commit/06c1c749894dadd7ba2413c2c09460c3bb926c5c was related to some issues loading the adapter. Probably we missed that `with_adapter` doesn't exist in MultiJson < 1.5.0.

You are right on the solution. We'll need to require MultiJson >= 1.5.0. We hope we can do it in next days. Sorry for the inconvenience and thank you very m

[2016-04-28 15:46] fguillen commented on #449
Hi @jondeandres I have sent you an email ;)

[2016-04-29 14:55] Crisfole opened #456 "Add code and context"
The Rollbar API supports sending the line of code and the context (n lines on either side of that line) for errors. We should allow opting into sending this data.

Perhaps three configuration levels:

 * `:none` (default)
 * `:all` (collect this for all lines in the stack trace)
 * `:app` (collect this only for lines inside server.root)

[2016-04-30 16:32] fredngo opened #457 "Error when compiling assets after upgrade from 2.10.0 to 2.11.0"
After upgrading the rollbar gem from 2.10.0 to 2.11.0, I'm getting this error when deploying to Heroku:

[code]

[2016-04-30 16:53] mattbrictson commented on #457
Same error here. Downgrading to rollbar 2.10.0 fixes the issue.

[2016-04-30 18:43] #457 closed

[2016-04-30 18:48] jondeandres commented on #457
Hey there, thank you for reporting this. This was caused since you didn't have `config.js_enabled = true` enabled and we had a `return` statement inside a Proc when we shouldn't.

We've release 2.11.1 version of the gem with a fix for that, https://github.com/rollbar/rollbar-gem/commit/b85f09aaf92c3e75d1b58fd31a28cff143ee7d67. This should be resolved now.

Just as explanation, the rollbar.js plugi

[2016-05-03 11:03] fschwahn opened #459 "Sidekiq process hangs"
Hi,
I'm seeing an issue with sidekiq, and rollbar is the only thing which hooks into sidekiq, so my guess something is off here (also, there were some changes in the sidekiq integration recently: #422, #421, #440).

Sometimes, my sidekiq processes just die, not processing any jobs anymore. There is no exception or anything, and the dashboard is not showing any job processing, only queued jobs. How

[2016-05-03 11:19] jondeandres commented on #459
Hi @fschwahn, are you able to fix the problem downgrading the rollbar gem version? I'd say we didn't do any change that could add this behavior.

Can you reproduce this in localhost?

[2016-05-03 11:40] fschwahn commented on #459
I'm currently looking into this - my guess is now that one of the dependencies I'm using is not thread safe.  I'll reopen if necessary.

[2016-05-03 11:40] #459 closed

[2016-05-03 11:41] jondeandres commented on #459
nice @fschwahn, if you find something interesting and you want to share it here, please do it! :smile:

Thanks again.

[2016-05-06 06:31] spdawson opened #462 "Configuration to disable Rollbar.js script tag nonce"
Commit 984c88f4290bb914a24bed90a0e66d8afb5c6525 added a `nonce` to the Rollbar.js script tag, to work around an issue when using the `secure_headers` gem with CSP nonces enabled, and `'unsafe-inline'` disabled.

However, this has now created a problem in the case where nonces are disabled, and the CSP has `'unsafe-inline'` enabled. Many third party tools (e.g. New Relic's `newrelic_rpm` gem) injec

[2016-05-08 16:59] rassom opened #464 "after_validation :report_validation_errors_to_rollbar not working in 2.11.0 and up"
Is there a new way to use it?

[2016-05-08 18:00] jondeandres commented on #464
@rassom can you give us details about the problem? In which class are you trying to use it? Which version of active record, rails, etc.. are you using?

Thanks

[2016-05-08 18:09] rassom commented on #464
@jondeandres Newest versions and custom classes, i.e.
[code]
Thanks :)

[2016-05-09 13:01] jondeandres commented on #464
@rassom can you try something? can you execute `require 'active_model/validations'` in your rollbar initializer just before `Rollbar.configure`?

Thanks

[2016-05-09 13:02] #369 closed

[2016-05-09 16:40] rassom commented on #464
@jondeandres Just tried and still get `undefined method 'report_validation_errors_to_rollbar' for #<Risk:0x007fd2d190fb90>`

[2016-05-09 16:42] jondeandres commented on #464
mmm, I didn't know you were having an error, just that it wasn't working. Ok, let me reproduce your problem and I'll reach you here.

Thanks.

[2016-05-09 16:44] rassom commented on #464
Ah, sorry - my bad for not being explicit!

And thanks - looking forward to the solution :-)

[2016-05-09 16:45] jondeandres commented on #464
I think this may be happening because we add the module ti ActiveModel::Validations after your models are already loaded.

[2016-05-09 16:46] rassom commented on #464
Ok, so what would the solution be? Something on my side or something you will fix in Rollbar?

[2016-05-09 16:47] jondeandres commented on #464
It's something we would need to fix. I'll try to find the reason for this and explain you here ok?

Thanks!

[2016-05-09 17:20] rassom commented on #464
Of course! Thanks! :-))

[2016-05-09 18:22] catherine440 commented on #451
Is there any update on this?

[2016-05-09 23:18] jondeandres commented on #419
This is currently supported in the gem. Closing.

[2016-05-09 23:18] #419 closed

[2016-05-09 23:21] jondeandres commented on #462
Hi @spdawson, thanks for open this issue. I'll take a look at this in next days. Thanks again and sorry for the inconveniences.

[2016-05-09 23:22] jondeandres commented on #449
This should be already fixed. Closing

[2016-05-09 23:22] #449 closed

[2016-05-09 23:22] jondeandres commented on #446
@MetricMike was my response enough for you?

[2016-05-10 06:17] szymonbaranowski commented on #94
Hi. Same issue as one @jmervine reported.

`Failsafe from rollbar-gem. Net::ReadTimeout in /app/vendor/ruby-2.3.0/lib/ruby/2.3.0/net/protocol.rb:158:in `rbuf_fill': error in process_payload`

using `ruby 2.3.0` and and `rollbar 2.8.3`

[2016-05-10 10:17] jondeandres commented on #94
hi @szymonbaranowski, those are caused by timeouts in the connection.

A couple of releases ago we did a change so we catch those errors and retry the reques up to 3 times, so we minimize these exceptions.

Can you try upgrading? Thanks

[2016-05-10 11:58] ajgon commented on #462
Hey @spdawson

Maybe it's better idea to check that in SecureHeaders configuration itself? So if `'unsafe-inline'` is enabled, nonce will be disabled by default?

[2016-05-10 22:19] TravisSperry opened #466 "Rake Tasks Disabled"
I'm currently getting the following error:
`Rollbar is disabled for Rake tasks since your Rake version is under 0.9.x. Please upgrade to 0.9.x or higher.`
I'm currently running `rake (11.1.2)` and `ruby 2.3.1`

[2016-05-10 22:21] jondeandres commented on #466
Hi @TravisSperry, we'll take a look at this. Thanks

[2016-05-11 02:41] danieldocki commented on #464
same here... I'm using Rails 5

[2016-05-11 02:42] jondeandres commented on #464
Hey @danieldocki, give me one day and I will be able to check this.

Sorry for this, we'll fix this soon.

[2016-05-11 05:59] spdawson commented on #462
Thanks @ajgon; that looks like a nice solution which will "just work" from the perspective of an application that uses both Rollbar and `secure_headers`

[2016-05-11 21:26] dlsteuer commented on #141
This has been completed.

[2016-05-11 21:26] #141 closed

[2016-05-12 17:59] jondeandres commented on #466
@TravisSperry can you add `require 'rake'` before `Rollbar.configure`? Confirm us this and we'll write a fix for this.

[2016-05-12 18:01] TravisSperry commented on #466
Confirmed. That works.

[2016-05-13 21:06] brianr commented on #159
Closing this out as it's quite old and hasn't come up since.

[2016-05-13 21:06] #159 closed

[2016-05-14 21:21] halilim commented on #441
Hi guys, I'm sorry if this is not the right place to mention this, but since I couldn't determine the canonical issue about the <code>undefined method `split' for nil:NilClass (NoMethodError)</code> error, here it goes:

[Your Heroku docs](https://devcenter.heroku.com/articles/rollbar#using-with-ruby-rails) advise installing version `~> 1.2.7`, which totally throws this error. I could only find th

[2016-05-14 23:32] jondeandres commented on #441
Hey @halilim, those heroku docs seems to be very outdated. We'll need to change them. Last gem version is 2.11.3. We recommend you to use it.

[2016-05-19 08:52] rassom commented on #464
Any news on this?

[2016-05-19 12:00] jondeandres commented on #464
Hey @rassom, I've been out this week and couldn't take a look at this. I hope I can do it during today or tomorrow ok? We'll contacto you here.

Thanks again.

[2016-05-20 18:34] #367 closed

[2016-05-20 18:51] jondeandres commented on #464
Hey there, I've been trying to reproduce this. I'm using Ruby 2.2.2 and Rails 5.0.0.beta3.

My model:

[code]

And in a rails console:
[code]

I'm using the last rollbar version, 2.11.3. Have you tried with it?

[2016-05-20 19:07] danieldocki commented on #464
@jondeandres

Rails 5.0.0rc1 and Ruby 2.3.1

[code]

[2016-05-22 14:58] jondeandres commented on #464
Hi @danieldocki, thanks for these details.

I could reproduce the bug. This was happening if, for example `User` constant` is used before Rollbar monkey patches are loaded, so `User` class doesn't have the modules hierarchy it should.

This bug could exist or not depending on how the models are being used during the boot up.

Could you try this branch and confirm us this is resolved for you?

http

[2016-05-24 10:43] adamniedzielski opened #472 "Exception from Delayed::Job not reported if job fails to deserialize"
If Delayed::Job fails to deserialize a job it throws `DeserializationError`. This happens early in the process and the hook `lifecycle.around(:invoke_job, &Delayed::invoke_job_callback)` is not called.

Looking at the code it is rescued here https://github.com/collectiveidea/delayed_job/blob/1e679174b513dc711f7d764c8bd9d4f5c6495276/lib/delayed/worker.rb#L235-L237 and the only hook it calls is "fai

[2016-05-24 17:17] brianr commented on #90
This exists now via the [before process hook](https://github.com/rollbar/rollbar-gem#before-process-hook)

[2016-05-24 17:17] #90 closed

[2016-05-24 22:44] jrjamespdx commented on #384
Unfortunately I don't think this would work across the board.  I think the way Rollbar does it now is the best way of handling it given that there really isn't a SINGLE agreed upon convention for dealing with environment variables of a sensitive nature.

Also, I'm not sure if you meant to say config/secrets.yml instead of config/secrets.rb but I'll mention both below just to be sure.

1.  **secret

[2016-05-29 13:58] rdlu opened #474 "Rollbar gem 2.11.3 reporting ignored errors as critical"
Hi!

In one of our applications (TotalCommit/Easylive), I followed the docs about "Exception level filters" in my Rails app.

But instead of ignoring the errors, now errors like RoutingErrors are being reported as critical (was warning by default).

My initializer:

config.exception_level_filters.merge!({
                                              'ActionController::RoutingError' => 'ignore',

[2016-05-30 14:18] jondeandres commented on #474
@rdlu we've not done any change related to this in lasts releases. Can you try writing to stdout `Rollbar.configuration.exception_level_filters` after your `Rollbar.configure` block and share it here?

Thanks.

[2016-06-01 03:31] muyexi commented on #371
In the newest version of rollbar-gem, this issue still exists. I have to use sucker_punch 1.6.

[code]

[2016-06-01 05:08] jondeandres commented on #371
@muyexi do you have a backtrace for your usecase?

Thanks

[2016-06-01 08:22] pawel2105 opened #476 "Multiple sidekiq queues"
Is it possible to pass an array to `config.use_sidekiq` to specify multiple queues?

[2016-06-01 13:37] jondeandres commented on #476
@pawel2105 what would be the intention of that?

[2016-06-01 13:51] pawel2105 commented on #476
@jondeandres if I have queues 'one' and 'two' and I want both of them to be registered, how would I do that?

[2016-06-01 13:55] jondeandres commented on #476
@pawel2105 `config.use_sidekiq` enables the Rollbar reporting using a Sidekiq worker. The default queue name is `rollbar`, so you should have a worker listening to that queue. But you can change the queue name using:

[code]

But I don't understand why you'd want to pass two queues there.

If you are talking about reporting Sidekiq errors to Rollbar, that's is done by default if `Sidekiq` is defin

[2016-06-01 14:30] pawel2105 commented on #476
"If you are talking about reporting Sidekiq errors to Rollbar, that's is done by default if Sidekiq is defined when Rollbar loads."

Yeah I was under the impression that for each queue present in my Sidekiq config I'd have to specify that queue in the Rollbar config. Sorry for the confusion.

[2016-06-01 14:30] #476 closed

[2016-06-02 14:48] jlhonora opened #479 "NoMethodError: undefined method `send_failsafe' for nil:NilClass"
I'm getting the following error:

[code]

Usually happens between deploys. I wouldn't mind making this small change:

[code]

but it might shadow a bigger issue with it.

Thanks in advance.

[2016-06-02 14:58] jondeandres commented on #479
Hey @jlhonora, thank you very much for opening this issue. I think I've found the reason of this crash. I'll fix this and release a new gem version in few hours ok?

Thanks again.

[2016-06-02 14:58] jlhonora commented on #479
Awesome, thanks for the fast response.

[2016-06-02 15:45] jondeandres commented on #472
@adamniedzielski do you know the reasons of the `DeserializationError`? Do you think that has a relation with the gem itself? Or is just that you'd like to report this errors?

[2016-06-02 16:22] adamniedzielski commented on #472
@jondeandres Thanks for your response!

The ```DeserializationError``` comes from the Delayed Job and has no relation with the Rollbar gem. I would like this ezception to be reported by Rollbar, because it prevents the job from executing and this is something I definitely want to be aware of :smile:

[2016-06-03 02:56] radar commented on #466
I am getting this error at the moment still, running on Rake 11.1.2. I get this issue when I run `bundle exec sidekiq`, and when launching `rails console` and it is happening because `Rake` is not loaded at either point. I believe that the `rake.rb` file in Rollbar should attempt to load Rollbar, and do nothing if it can't find it:

[code]

This way, the constant will be loaded if Rake is present

[2016-06-03 09:59] jondeandres commented on #466
@radar you are right, we pushed this commit https://github.com/rollbar/rollbar-gem/commit/779c25170080b837682856ff2a80cd7a3ac19935 but we removed those `require_dependency` for some issues. But I think we need to add them again and fix those issues.

Let me work on this and I'll reach you ok?

Thanks!

[2016-06-03 10:36] #479 closed

[2016-06-06 01:30] radar commented on #466
Sounds good to me, thanks @jondeandres!

[2016-06-06 17:01] jondeandres commented on #474
Hey @rdlu!

Any news on this?

[2016-06-07 07:28] rassom commented on #464
@jondeandres The fix didn't solve the errors for me unfortunately (tried Rollbar 2.11.5). Do you want repo access so you can try to reproduce with my code?

[2016-06-07 08:37] jondeandres commented on #464
Hey @rassom, before that. Can you try something on lolcalhost? Put a debugger in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/plugins/validations.rb#L30 and another one before your `class Risk` definition. Bootup the rails server and tell us the order of those debugger breaks.

If this doesn't work, having access to the repo will help, but it'd be better not need that.

Thanks!

[2016-06-08 00:59] jamesfzhang opened #486 "Middleware/Rack/Rollbar::Middleware::Rails::RollbarMiddleware#call very slow"
New Relic says the average call for this method takes over 8 seconds. Any idea?
<img width="429" alt="screen shot 2016-06-07 at 5 58 23 pm" src="https://cloud.githubusercontent.com/assets/2057670/15879498/a04b252e-2cd9-11e6-891a-938e3a6bd8b1.png">

[2016-06-08 11:47] jondeandres commented on #486
@jamesfzhang it may be related to delay issues in our API since that middlewares sends a POST request when an error is found. In general you shouldn't have this behavior.

With this, we always recommend use any of the delay handers we support, take a look at https://github.com/rollbar/rollbar-gem#asynchronous-reporting.

If you have any other problem please ping us.

Thanks!

[2016-06-08 16:51] #486 closed

[2016-06-09 18:42] maxim opened #487 "Email errors in ActionMailer::DeliveryJob are not reported"
The docs recommend to add this to your ActiveJob jobs:

[code]

However, rails has a built-in job called `ActionMailer::DeliveryJob` which is used when you call `deliver_later` on your action mailer emails. Currently errors in that job are not being reported.

I think it makes sense for this gem to automatically hook into that job as part of Rails integration.

[2016-06-13 08:55] jondeandres commented on #487
@maxim yes, we will need to add our module to `ActionMailer::DeliveryJob` class. You can do this now for yourself until we do it

[code]

Thanks,

[2016-06-15 21:10] jessewgibbs opened #488 "Rollbar-gem issue (zap test)"
Hello world

[2016-06-16 20:18] #488 closed

[2016-06-17 23:28] uhoh-itsmaciek opened #491 "Broken plugins documentation"
The link here is a 404: https://github.com/rollbar/rollbar-gem#plugins

[2016-06-18 00:08] jessewgibbs commented on #491
Hey Maciek,
That link is working for me.  Were you referring to a link on that page?

[2016-06-18 00:10] jessewgibbs commented on #491
Thanks, fixing this right now.

[2016-06-18 00:16] #491 closed

[2016-06-20 23:22] uhoh-itsmaciek commented on #491
Yeah, that was it--sorry I wasn't clear. Thanks!

[2016-06-24 09:37] ianheggie commented on #193
I have just added rollbar into a rails 2.3.18 LTS project (ruby 1.9.7, capistranio v3) - suggestions on how to improve it welcome.

I disable the require in Gemfile so I can be sure it is initialised if it has been loaded.

**Gemfile**:
[code]

**config/initializers/rollbar.rb**:
[code]

**lib/rollbar/rails23/notifier.rb**:
[code]

[2016-06-25 14:41] bhh commented on #193
i'm so sorry i totally forgot about that topic. i think will look into it again upcoming week and maybe start a rollbar-rails project

[2016-06-25 23:31] ianheggie commented on #193
Two of my clients are on https://railslts.com/ - rails 2.3 LTS (and 3.2) is worthwhile supporting.

[2016-06-27 21:50] jondeandres commented on #193
Hey @ianheggie, have you taken a look at https://github.com/rollbar/rollbar-gem/blob/master/docs/plugins.md?

It's the architecture for the plugins system. We are wondering if that rails 2.3 support could be rewriten using the new plugins interface.

BTW, nice work so far on that.

[2016-06-29 10:24] nononoy opened #492 "Exceptions in threads are missing"
HI. I have a small problem with rollbar-gem. Exceptions in threads are invisible, aren't they? May be sombody know actual rollbar-gem + thread usecases? How can I catch all exceptions in threads?

[2016-06-29 18:55] herenow commented on #464
I'm also running into this issue on a Rails 4.2.4 / Ruby 2.2.3 project.

I ran a bisect, and found that the first bad commit is:

847e47be501332fb36391249749f67135f30505f

The one that starts trying to inject the `Rollbar::ActiveRecordExtension` into `ActiveModel::Validations`.

**Solution**

My solution was to include the `Rollbar::ActiveRecordExtension` wherever I need it.

[code]

**Proposal**

[2016-06-29 19:01] jondeandres commented on #464
Hi @herenow, thanks for writing in this issue, analyze it and suggest a solution.

I tried to reproduce this problem, and I succeded on some scenarios when the project models were loaded before rollbar gem. I think including the module in `ActiveModel::Validations` should work, but it seems we are having issues in some scenarios, like yours.

Have you tried debugging if your models are being loade

[2016-06-29 20:05] herenow commented on #464
@jondeandres I don't think the problem is the loading order.

Even if I add this:

[code]

Just before my model class, it still won't include the `report_validation_errors_to_rollbar` method to my class.

We could do something like:

[code]

It does work, but it is way to dirty IMO, we should not add methods directly to `ActiveModel::Validations` :)

Ideally, we would have a way to define that `Ro

[2016-06-29 20:08] jondeandres commented on #464
@herenow thanks for sharing your thoughts. We'll figure out what exactly to do here.

Nobody likes monkey patching, but we are trying to build a gem that you just add it in your Gemfile and everything works without too many intervention of the user.

[2016-07-05 09:48] adamniedzielski commented on #472
Quick way to reproduce the problem:
[code]

I think that now I understand why this gem uses ```around(:invoke_job)``` rather than ```after(:error)``` or ```after(:failure)``` - the exception is not available for these callbacks.

In order to have a basic reporting for jobs which failed even before the first execution we would have to add something similar to:

[code]

[2016-07-05 16:40] jondeandres commented on #472
Hey @adamniedzielski, thanks for this, we'll try to release a new version with this soon.

[2016-07-05 18:43] wangyuesong commented on #201
Hi! I recently read through the docs(https://rollbar.com/docs/grouping-algorithm/) and Customizing Grouping in Code section really confused me since it said to support only Browser JS and python. But actually this ruby gem do support adding fingerprint using Rollbar.scope({:fingerprint => "fingerprint here"}).error(err).

Please revise the doc if needed.

[2016-07-07 14:30] schneems opened #496 "2.4.0-preview1 compatability"
Was trying to use this gem on Heroku with Ruby 2.4.0-preview1 and it's failing on my app.

I tried to run the specs on 2.4.0-preview1 locally but needed to modify the Gemfile to:

[code]

And patch Rails 4.2 to support 2.4.0 https://github.com/rails/rails/pull/25737

Once I did that I get this error:

[code]

In my app I get a similar error https://travis-ci.org/codetriage/codetriage/jobs/14293222

[2016-07-07 14:36] jondeandres commented on #496
Hey @schneems, thanks a lot for opening this issue and the awesome detailed summary. Can you try with this branch? https://github.com/rollbar/rollbar-gem/tree/move-log_methods-to-public.

We'll try to fix this on next week, thanks for this.

[2016-07-07 17:13] schneems commented on #496
I think that did the trick, the rollbar errors are gone. There is one persistant issue from Rails but it's being worked on https://github.com/rails/rails/issues/25448

[2016-07-08 03:56] ianheggie commented on #193
Thanks for the input @jondeandres - I will have a look at the plugin support - I have a few further things I need to do (missing action is being caught earlier in the process and thus is not reporting controller). Also in my project I am disabling router errors unless a user is logged in - I get way to many bots submitting mangled urls.

[2016-07-09 03:55] brianr commented on #201
Thanks @wangyuesong ! I've updated that doc to add examples for a few other languages, and better default text for the rest.

[2016-07-13 18:59] plentz opened #497 "ActiveJob exceptions not being reported(rails 5 final)"
The same exceptions are being reported to newrelic

[code]

[code]

`rollbar (2.12.0)`

[2016-07-13 22:01] jondeandres commented on #497
@plentz have you tried including `Rollbar::ActiveJob` in `CreateTenantJob` ?

[2016-07-14 15:34] plentz commented on #497
@jondeandres adding including `Rollbar::ActiveJob` in `CreateTenantJob` worked. but it shouldn't be necessary, right?

[2016-07-14 15:34] jondeandres commented on #497
@plentz it wouldn't be needed not. Can you check if your job is being loaded before `ApplicationJob`?

[2016-07-14 21:29] plentz commented on #497
if `CreateTenantJob` extends `ApplicationJob`, is it even possible?

[2016-07-18 09:14] rassom commented on #464
Any news on this?

[2016-07-18 11:29] jondeandres commented on #497
@plentz let me check this and we'll reach you here

[2016-07-18 11:30] jondeandres commented on #464
@rassom no yet, sorry. we've been working on some other issues,  I'm adding this to our priority queue. Sorry for the delay.

[2016-07-18 11:51] jondeandres commented on #492
Hi @nononoy, sorry for the delay. If you want your threads to raise exceptions you should use http://ruby-doc.org/core-2.2.0/Thread.html#method-c-abort_on_exception-3D.

You can then catch the exception in the main thread. If not, you can always catch the exceptions inside your thread.

Cheers.

[2016-07-18 11:51] #492 closed

[2016-07-19 15:44] jondeandres commented on #496
This is closed by https://github.com/rollbar/rollbar-gem/pull/498

[2016-07-19 15:44] #496 closed

[2016-07-20 04:04] jondeandres commented on #497
Hi @plentz, we've tried to reproduce your problem. I've set a job inheriting from `ApplicationJob` and using `include Rollbar::ActiveJob` in `ApplicationJob`.

Everything worked as expected. I'm wondering there is something we are missing, maybe in your config or something else. Could you try something? Just raise a known exception in the `perform` method in your job and check if it's being report

[2016-07-20 11:54] jondeandres commented on #464
Hi there,

we have probably two solutions for this, but we'd like be sure they are working for you. We'd like to still redefine a method in `ActiveModel::Validations` since our docs say you just need to use `after_validation`.

Could you try this branch and check it works as expected? https://github.com/rollbar/rollbar-gem/tree/fix-active_model-validations.

The other solution is defining the meth

[2016-07-20 20:29] rassom commented on #464
Thanks.

Just tried the `fix-active_model-validations` branch and still get this error `NoMethodError at /users
undefined method `report_validation_errors_to_rollbar' for #<Risk:0x007feef6d4bee8>`, so it didn't help unfortunately.

PS. Can see what you are referring to as the other solution also seems to be mentioned here https://github.com/rollbar/rollbar-gem/issues/248

[2016-07-21 07:50] patricklindsay opened #499 "Custom filters causing failures for rollbar-test rake task"
I have a before_filter on my `ApplicationController` which is causing the rollbar-test to fail as it redirects the request.

Why does the `RollbarTestController` need to actually inherit from `ApplicationController`? If it was inheriting from `ActionController::Base` custom filters would not effect the test.

Two possible solutions;
1. Set `RollbarTestController` to inherit from `ActionController:

[2016-07-21 15:43] jondeandres commented on #464
@rassom we "added" the method to `ActiveModel::Validations` so all the objects using ActiveModel will have it. #248 should be really closed, except for this issue.

[2016-07-21 19:30] jondeandres commented on #499
Hey @patricklindsay, thanks for reporting this. We'll probably change `RollbarTestController` to inherit from `ActionController::Base`.

Thanks!

[2016-07-21 21:43] plentz commented on #497
If I include `Rollbar` directly at the job class, works. Including it @ `ApplicationJob`, not.

Maybe could be something in our `Gemfile`? One thing that I think can be interfering in this is `gem 'newrelic_rpm'`. What do you think?

[2016-07-22 05:37] jondeandres commented on #497
@plentz I don't think there is nothing related to newrelic_rpm.

Did you try with another exception? Just doing:

[code]

And check if this works.

[2016-07-22 05:57] jondeandres commented on #464
@rassom in case you are using Rails, can you run this in a Rails console and share the output?

`Rollbar.plugins.collection.detect { |plugin| plugin.name == 'active_model' }`

Thanks

[2016-07-22 07:18] rassom commented on #464
Sure thing :)

Here's the output:

Rollbar 2.10.0:
[code]

Rollbar  2.15.0 (standard, not the branch you specified earlier in this thread):
[code]

[2016-07-22 16:15] jondeandres commented on #464
@rassom we need to find what is happening in your side. This is working for me with all the different branches I've tested.

Can you open a Rails console a execute `ActiveModel::Validations.instance_methods.grep /rollbar/`

This is my output:

[code]

[2016-07-23 18:24] rassom commented on #464
With 2.11.5, I get this:
[code]

With 2.12.0, I get what you get:
`=> [:report_validation_errors_to_rollbar]`

BUT even with 2.12.0, I still get errors the `NoMethodError at /users
undefined method `report_validation_errors_to_rollbar' for #<Risk:0x007fb64c83a220>`error when trying to sign up a new user.

Let me know if you want access to my github repo for the app.

[2016-07-28 15:06] rassom commented on #464
@jondeandres I've added you to the repo. Let me know if you encounter problems - documentation and code is not top class unfortunately. You'll have to remove the version restriction of the Rollbar gem in the Gemfile, update to latest Rollbar and then try to sign up as a new user from the front page to see the error.

[2016-07-28 15:07] jondeandres commented on #464
Nice, thanks @rassom, I'll try to reproduce this in next days. I'll reach you here

[2016-07-29 09:42] sogoodday opened #500 "Why not use :extra for uncaught exceptions?"
Rollbar allows to report message, exception object, extra hash or any combination of them.
But default middleware for Rails wants report only message.
Is there any reason why nobody extended ExceptionReporter with simething like
[code]

[2016-07-29 09:45] jondeandres commented on #500
@sogoodday we don't plan to support that, since `Exception` doesn't have a `#extra` method by default and all of this looks too custom.

But if you want to send custom data on a certain request you can use `Rollbar.scope!(extra_data)` on any point during your request. Would this work for you?

[2016-07-29 10:02] sogoodday commented on #500
@jondeandres , ou, sorry. I see a good method Rollbar.scoped :)

[2016-07-29 10:04] jondeandres commented on #500
Yes, you can wrap some code with `Rollbar.scoped(data) do` or you can mutate the scope with `Rollbar.scope!(data)`. In the middleware we reset always the scope so it's clean for the next request

[2016-07-29 10:04] #500 closed

[2016-07-29 14:19] ESouza commented on #464
Any updates on this? I am also having the same issues. Using rails 4.1.5 & Ruby 2.1.2 with rollbar 2.11.5.
I got it to work adding include Rollbar::ActiveRecordExtension for now.

Suggestions?

[2016-07-29 14:21] jondeandres commented on #464
@ESouza have you follow the suggestions I asked here? Can you add a debugger in https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/plugins/validations.rb#L30 and before one of your models and tell us which one stop the first?

[2016-08-01 18:46] jessewgibbs commented on #497
@plentz have you had a chance to try this out?

[2016-08-03 12:06] jondeandres commented on #464
Hey @rassom, I've detected the problem exists since ActiveRecord::Base is loaded before Rollbar validations plugin. There are several causes for this in your code, delayed_job_activerecord, devise and few more.

I've commented/disabled some features in your code related to ActiveRecord::Base in config/initializers/ and now it's working. I'll need to figure out what we can do here.

But thanks for

[2016-08-03 12:49] rassom commented on #464
Glad you found the problem.

Please let me know when it's solved and please remember to delete my code once you're done with it.

Thanks :)

[2016-08-03 13:59] jondeandres commented on #464
@rassom can you try something? Move 'rollbar' gem in Gemfile to the top, before any other `gem` statement.

Or in `config/application.rb` do `require 'rollbar'` before `Bundler.require(*Rails.groups)`. The goal is that our module is included in `ActiveModel::Validations` before `ActiveRecord::Base` is used by any class inheriting from it.

[2016-08-03 14:35] jondeandres commented on #464
@rassom I think I have a solution that can work for anyone. Can you use this in your Gemfile?

`gem 'rollbar', git: 'https://github.com/rollbar/rollbar-gem/', branch: 'include-validations-plugin-in-activerecord-base'`

Confirm me it's working fine and I can do a new release of the gem with it.

[2016-08-03 18:47] rassom commented on #464
Can you try it with my code?

I'm offline until next week

Den 3. august 2016 kl. 16.30.23, Jon (notifications@github.com) skrev:

--
Sent from my mobile device

[2016-08-03 19:22] jondeandres commented on #464
@rassom I tried and it worked, but I'd like you to confirm it. Maybe your use case is different or something weird happens for you.

[2016-08-04 15:37] yock opened #504 "Rake test task depends on Rack"
The task to test Rollbar in version `2.12.0` of the Ruby gem requires `rack/mock` which is not a dependency in the gemspec. The task is therefore broken in apps not using Rails or using Rack directly.

https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/rake_tasks.rb#L2

The trace when running `rake rollbar:test`

[code]

[2016-08-04 15:42] jondeandres commented on #504
Hey @yock, you are right. We thought this rake task to test the integration with a rails or rack application, although we have this manual report, https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar/rake_tasks.rb#L30.

We could try to do that the first and prepare all the other stuff if rack or rails are really found.

Thanks for the report.

[2016-08-08 13:13] amilligan opened #506 "Please version your JS snippet"
It's difficult to check if the minified snippet needs an update.

[2016-08-08 14:30] jondeandres commented on #506
Hi @amenzhinsky, the snippet is updated by us in the gem if it needs to be updated. So, if the snippet in https://github.com/rollbar/rollbar.js changes, we should update it in the gem and release a new version.

If at some point it is not updated, it's our fault. If you detect at we will appreciate you warn us :smile:

[2016-08-08 16:02] #506 closed

[2016-08-08 16:05] jondeandres commented on #464
Hey @rassom, did you have a moment to try our branch? Thanks!

[2016-08-08 20:16] rassom commented on #464
I don't have time this week. Sorry.

Den mandag den 8. august 2016 skrev Jon <notifications@github.com>:

[2016-08-10 17:34] grempe opened #507 "Docs : Add needed 'require' statement if using Rollbar::Middleware::Sinatra"
In your README, and other docs, you show how to turn off the monkey patched adding of the Rollbar Middleware and how to specify `use Rollbar::Middleware::Sinatra` instead.  This is good info, but it is missing one piece.  You will also need to call the appropriate `require` statement before that for it to work.

[code]

[2016-08-12 19:06] LouisStAmour opened #508 ""unsafe-eval" CSP required? "nojson" should be a JS dist option"
I'm seeing CSP reports of the following, from a Chrome webpage served with CSP reporting turned on:

[code]

Included using standard:

[code]

[2016-08-12 19:10] LouisStAmour commented on #508
I'm suggesting `nojson` purely because of instances where Chrome blocked Rollbar from running in add-ins because unsafe-eval isn't allowed in them, so a separate dist was created. I'm not sure when JSON code would be run by Chrome, so maybe `nojson` isn't going to fix things here.

I manually created the CSP, and made the gem generate the correct header by stubbing:

[code]

I'm thinking if there'

[2016-08-12 19:11] LouisStAmour commented on #507
True. And if using JS, with standard configs, it ends up like the following:

[code]

[2016-08-16 14:30] jondeandres commented on #507
You both are right, we'll fix this soon, thanks!

[2016-08-16 23:08] LouisStAmour commented on #507
While you're at it, I'd appreciate a "nonce" setting, or you could document the following:

[code]

[2016-08-17 08:11] eugene-nikolaev opened #509 "Not informative error message in case of Exception#message is not a string"
Hello! I had a custom Exception class which by mistake returned not a string but an object (actually ActiveModel::Errors).
And I had the following error:

[code]

Which is in my humble opinion not very informative and might be  "object value found, but a string is required".

BTW it was exposed at Rollbar item as:

![image](https://cloud.githubusercontent.com/assets/305699/17729129/527186f8-646b-1

[2016-08-17 08:30] jondeandres commented on #509
@evgeniynickolaev thanks for reporting this, this looks like a problem in our API. We'll take a look at it soon.

[2016-08-17 14:32] lexelby opened #510 "add note about Rollbar.silenced to DelayedJob integration docs"
I have a DelayedJob job that I don't want rollbar to report exceptions for.  However, I _do_ want exceptions from all other jobs to get logged to rollbar.  The docs make it unclear how to do this:

https://github.com/rollbar/rollbar-gem#delayedjob

The code doesn't have any obvious points to indicate that a given job shouldn't have exceptions reported (I was thinking maybe I could set an instance